@import './vars';
@import './fonts';

html, body {
  height: 100%;
}

body {
  // Стили для body
  font-family: @Geometria;

  background-color: rgb(255, 255, 255);
}

input,
button,
textarea {
  outline: 0;
}

.inputGroup {
  width: 292px;

  @media (max-width: @bDesktop) {
    width: 238px;
  }

  @media (max-width: @bLaptop) {
    width: 230px;
  }

  @media (max-width: @bTablet) {
    width: 100%;
    margin-bottom: 15px;
  }

  &_label {
    display: block;
    padding-left: 22px;
    margin-bottom: 14px;

    color: rgb(131, 131, 131);
    font-family: @ArialMT;
    font-size: 16px;

    @media (max-width: @bDesktop) {
      padding-left: 17px;
      margin-bottom: 10px;

      font-size: 12px;
    }

    @media (max-width: @bTablet) {
      padding-left: 24px;

      font-size: 15px;
    }

    @media (max-width: @bSmallTablet) {
      padding-left: 19px;
      margin-bottom: 7px;

      font-size: 12px;
    }
  }

  &_input {
    display: block;
    width: 100%;
    border-radius: 30px;
    border: 2px solid rgb(224, 217, 207);
    padding: 18px;
    box-sizing: border-box;

    color: rgb(131, 131, 131);
    font-size: 18px;
    font-weight: 500;

    background-color: transparent;

    transition: .3s all;

    &.-error {
      border-color: red;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 9px rgb(250, 217, 19);
      border: 2px solid rgb(250, 215, 18);
    }

    @media (max-width: @bDesktop) {
      border-radius: 25px;
      padding: 16px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      padding: 18px 23px;
      border-radius: 28px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 14px 18px;
      border-radius: 22px;

      font-size: 13px;
    }
  }
}

.linkWrap {
  padding: 30px 36px;

  @media (max-width: @bDesktop) {
    padding: 26px 32px;
  }

  @media (max-width: @bSmallTablet) {
    padding: 20px 52px;
  }

  &_link {
    display: block;
    width: 100%;
    border: 0;
    padding: 21px 20px 19px;
    box-sizing: border-box;

    color: rgb(12, 26, 63);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    box-shadow: 0 0 13px rgba(12, 26, 63, 0.14);
    border-radius: 30px;
    background-color: rgb(255, 208, 0);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
    cursor: pointer;
    user-select: none;
    outline: 0;

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }

    @media (max-width: @bDesktop) {
      padding: 18px 15px 16px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 14px 52px;

      font-size: 13px;
    }
  }
}

.textWrap {
  padding: 27px 50px 35px;

  @media (max-width: @bDesktop) {
    padding: 24px 45px 32px;
  }

  @media (max-width: @bSmallTablet) {
    padding: 20px 25px 20px 31px;
  }

  &_text  {
    position: relative;

    display: block;

    color: rgb(12, 26, 63);
    font-family: @ArialMT;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.wrap {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.-questions {
  background-color: rgb(245, 245, 240);

  & .header.-footer {
    box-shadow: 0 0 45px 9px rgba(0, 0, 0, 0.16);
  }
}
