@dir: '../fonts';
.font-face(@name: sans-serif; @weight: normal; @style: normal) {
  @font-face {
    font-family: @name;
    src: url('@{dir}/@{name}/@{name}-@{weight}-@{style}.woff') format('woff2'),
    url('@{dir}/@{name}/@{name}-@{weight}-@{style}.woff') format('woff');
    font-weight: @weight;
    font-style: @style;
  }
}

.font-face(Geometria, 400, normal);
.font-face(Geometria, 500, normal);
.font-face(Geometria, 700, normal);
.font-face(Geometria, 800, normal);
.font-face(Geometria, 900, normal);

.font-face(Philosopher, 400, normal);
