@bDesktop: 1600px;
@bLaptop: 1100px;
@bTablet: 940px;
@bSmallTablet: 639px;
@bPhone: 479px;
@bSmallPhone: 320px;


@Geometria: 'Geometria', sans-serif;
@Philosopher: 'Philosopher', sans-serif;
@ArialMT: 'Arial MT', sans-serif;
