<template>
  <layout-general>
    <section slot="content">
      <coupons />
    </section>
  </layout-general>
</template>

<script>
import LayoutGeneral from '@/layouts/General'
import Coupons from '@/components/Coupons/Table'

export default {
  components: {
    LayoutGeneral,
    Coupons
  }
}
</script>
