<template>
  <l-general>
    <section slot="content">
      <general v-if="slug === 'general'" />
      <about v-if="slug === 'about'" />
      <gallery v-if="slug === 'gallery'" />
      <reviews v-if="slug === 'reviews'" />
      <formats v-if="slug === 'formats'" />
      <signature v-if="slug === 'signature'" />
      <delivery v-if="slug === 'delivery'" />
      <delivery-methods v-if="slug === 'deliverymethods'" />
      <questions v-if="slug === 'qa'" />
      <common-page v-if="slug === 'commonPage'" />
      <sales v-if="slug === 'sales'"></sales>
      <modals v-if="slug === 'modals'"></modals>
      <rules v-if="slug === 'rules'"></rules>
    </section>
  </l-general>
</template>

<script>
import General from '@/components/Fields/General'
import About from '@/components/Fields/About'
import Gallery from '@/components/Fields/Gallery'
import Reviews from '@/components/Fields/Reviews'
import Formats from '@/components/Fields/Formats'
import Signature from '@/components/Fields/Signature'
import Delivery from '@/components/Fields/Delivery'
import DeliveryMethods from '@/components/Fields/DeliveryMethods'
import Questions from '@/components/Fields/QA'
import CommonPage from '@/components/Fields/CommonPage'
import Sales from '@/components/Fields/Sales'
import Modals from '@/components/Fields/Modals'
import Rules from '@/components/Fields/Rules'

export default {
  computed: {
    slug () {
      return this.$route.params.slug
    }
  },
  components: {
    General,
    About,
    Gallery,
    Reviews,
    Formats,
    Signature,
    Delivery,
    DeliveryMethods,
    Questions,
    CommonPage,
    Sales,
    Modals,
    Rules
  }
}
</script>

<style>
</style>
