<template>
  <l-general>
    <section slot="content">
      <create-book />
    </section>
  </l-general>
</template>

<script>
  import CreateBook from '@/components/FormCreateBook'

  export default {
    components: {
      CreateBook
    }
  }
</script>
