<template>
  <layout-general>
    <section slot="content">
      <mb-media />
    </section>
  </layout-general>
</template>

<script>
  import LayoutGeneral from '@/layouts/General'
  import MbMedia from '@/components/Media/Media'

  export default {
    components: {
      LayoutGeneral,
      MbMedia
    }
  }
</script>
