<template>
  <layout-general>
    <section slot="content">
      <upload-image/>
    </section>
  </layout-general>
</template>

<script>
  import LayoutGeneral from '@/layouts/General'
  import UploadImage from '@/components/UploadImage/UploadImage'

  export default {
    components: {
      LayoutGeneral,
      UploadImage
    }
  }
</script>
