<template>
  <layout-general>
    <section slot="content">
      <media-edit />
    </section>
  </layout-general>
</template>

<script>
  import LayoutGeneral from '@/layouts/General'
  import MediaEdit from '@/components/Media/Edit'

  export default {
    components: {
      LayoutGeneral,
      MediaEdit
    }
  }
</script>
