<template>
  <layout-general>
    <section slot="content">
      <order />
    </section>
  </layout-general>
</template>

<script>
import LayoutGeneral from '@/layouts/General'
import Order from '@/components/Orders/Order'

export default {
  components: {
    LayoutGeneral,
    Order
  }
}
</script>
