<template>
  <layout-general>
    <section slot="content">
      <orders />
    </section>
  </layout-general>
</template>

<script>
import LayoutGeneral from '@/layouts/General'
import Orders from '@/components/Orders/Orders'

export default {
  components: {
    LayoutGeneral,
    Orders
  }
}
</script>
