<template>
  <layout-general>
    <section slot="content">
      <page-list />
    </section>
  </layout-general>
</template>

<script>
import LayoutGeneral from '@/layouts/General.vue'
import PageList from '@/components/Page/List'

export default {
  data: () => ({}),
  components: {
    LayoutGeneral,
    PageList
  }
}
</script>
