<template>
  <layout-general>
    <section slot="content">
      <page-edit :new="true"></page-edit>
    </section>
  </layout-general>
</template>

<script>
  import LayoutGeneral from '@/layouts/General.vue'
  import PageEdit from '@/components/Page/Edit'

  export default {
    data: () => ({
      items: [
        { icon: true, title: 'Jason Oner', avatar: '/static/doc-images/lists/1.jpg' },
        { title: 'Travis Howard', avatar: '/static/doc-images/lists/2.jpg' },
        { title: 'Ali Connors', avatar: '/static/doc-images/lists/3.jpg' },
        { title: 'Cindy Baker', avatar: '/static/doc-images/lists/4.jpg' }
      ]
    }),
    components: {
      LayoutGeneral,
      PageEdit
    }
  }
</script>
