<template>
<div class="l-authentication">
  <login />
</div>
</template>

<script>
import Login from '@/components/Forms/Login'
import Register from '@/components/Forms/Register'

export default {
  data: () => ({}),
  components: {
    Login,
    Register
  }
}
</script>

<style lang="scss">
.l-authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;


  background-image: url(../../assets/imgs/bg-login.jpg);
  background-position: center center;
  background-size: cover;
}
</style>
