<h3 style="margin:8px 0px 4px;color:#666666;line-height:34px;font-family:Arial,Helvetica,sans-serif;">Новая заявка</h3>

<p>
    <b>Имя:</b> {{name}}
</p>

<p>
    <b>Телефон:</b> {{tel}}
</p>

<p>
    <b>Комментарий: </b><br>
    {{comment}}
</p>
