<h3 style="margin:8px 0px 4px;color:#666666;line-height:34px;font-family:Arial,Helvetica,sans-serif;">Ваш заказ сформирован</h3>
<p style="margin:0px 0px 19px;color:#666666;line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
    Здравствуйте{{#if customer}}, {{customer}} {{/if}}!<br>
    Ваш заказ #{{orderNumber}} находится в обработке.<br>
</p>

<h4 style="line-height:34px;font-family:Arial,Helvetica,sans-serif;color: #666;">Ваши контактные данные:</h4>
{{#if billing.email}}
<p style="margin:0px 0px 19px;color:#666666;line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
    <strong>Почта</strong><br/>
    <a href="mailto:{{billing.email}}">{{billing.email}}</a>
</p>
{{/if}}

{{#if billing.phone}}
<p style="margin:0px 0px 19px;color:#666666;line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
    <strong>Телефон</strong><br/>
    <a href="tel:{{billing.phone}}">{{billing.phone}}</a>
</p>
{{/if}}

{{#if address}}
<h4 style="margin: 0;line-height:34px;font-family:Arial,Helvetica,sans-serif;color: #666;">Адрес</h4>
<ul style="margin:0 0 19px;color:#666666;line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
    {{#each address}}
        <li><strong>{{label}}</strong> {{value}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if delivery}}
<h4 style="margin: 0;line-height:34px;font-family:Arial,Helvetica,sans-serif;color: #666;">Доставка</h4>
<p style="margin:0 0 19px;color:#666666;line-height:20px;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
    <strong>Способ доставки</strong> {{delivery.name}}<br>
    <strong>Стоимость</strong> {{delivery.price}}
</p>
{{/if}}

<h4 style="margin:8px 0px 4px;color:#666666;line-height:34px;font-family:Arial,Helvetica,sans-serif;">Детали заказа</h4>

<table style="border-collapse: collapse;">
<thead>
    <tr>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">Имя</td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">Пол</td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">Язык</td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">Формат</td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">PDF</td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">В типографию</td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">Цена</td>
    </tr>
</thead>
{{#each items}}
    <tr>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{name}}
        </td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{gender}}
        </td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{lang}}
        </td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{format}}
        </td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{#if pdf}}
                <a href="{{link}}">Скачать PDF</a>
            {{/if}}
        </td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{#if typo}}
                На печать
            {{/if}}
        </td>
        <td style="padding: 5px 10px;border: 1px solid lightblue;">
            {{price}}
        </td>
    </tr>
{{/each}}
<tbody>
</tbody>

<p>
    <b>Подытог:</b> {{subtotal}}<br>
    <b>Скидка:</b> {{sale}}<br>
    <b>Итог:</b> {{total}}
</p>
</table>

