<h3 style="margin:8px 0px 4px;color:#666666;line-height:34px;font-family:Arial,Helvetica,sans-serif;">Новый заказ печати книги с magicbook.ru</h3>

<h4>Номер заказа {{orderNumber}}</h4>
<b><a href="http://magicbook.store/upload/oblogka.pdf">Обложка</a></b><br>
{{#each books}}
<ul>
    <ol>
        {{name}}
        {{gender}}
        {{lang}}
        {{format}}

        <a href="{{link}}">скачать</a>
    </ol>
</ul>
{{/each}}
