<template>
  <section class="firstStep">
    <div class="firstStep_wrap">
      <slot name="steps"></slot>
      <slot name="total"></slot>

      <div class="firstStep_main">
        <span class="firstStep_title">Пожалуйста, введите свои данные</span>

        <div class="firstStep_inputs">
          <div class="firstStep_inputGroup inputGroup">
            <label for="orderName" class="firstStep_label inputGroup_label">Имя</label>
            <input v-model="name" id="orderName" type="text" class="firstStep_input inputGroup_input">
          </div>
          <div class="firstStep_inputGroup inputGroup">
            <label for="orderFamily" class="firstStep_label inputGroup_label">Фамилия</label>
            <input v-model="family" id="orderFamily" type="text" class="firstStep_input inputGroup_input">
          </div>
          <div class="firstStep_inputGroup inputGroup">
            <label for="orderEmail" class="firstStep_label inputGroup_label">E-mail</label>
            <input v-model="email" id="orderEmail" type="text"
                   class="firstStep_input inputGroup_input"
                   :class="{ '-error': !emailValid }">
          </div>
          <span class="firstStep_notice">* Мы будем держать вас в курсе вашего статуса заказа по электронной почте и сообщать вам, как только он будет отправлен</span>
        </div>

        <div class="firstStep_linkWrap linkWrap">
          <button @click="submit" type="button" class="firstStep_link linkWrap_link">Следующий шаг</button>
        </div>

        <div class="firstStep_textWrap textWrap">
          <label class="firstStep_text textWrap_text">
            <input type="checkbox" v-model="subscribe">
            Получать новости о скидках и акциях MagicBook
          </label>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

import { CART_FETCH, ORDER_FETCH, ORDER_SAVE } from '../../store/actions.type'

import {
  ORDER_BILLING
} from '../../store/mutations.type'

export default {
  data: () => ({
    name: '',
    family: '',
    subscribe: false,
    email: '',
    emailValid: true,
    gender: false
  }),
  watch: {
    name (name) {
      if (name === '' && this.family === '') {
        this.gender = false
      }
    },
    family (family) {
      if (this.name === '' && family === '') {
        this.gender = false
      }
    }
  },
  computed: {
    ...mapGetters({
      cart: 'cart'
    }),
  },
  mounted () {
    if (this.cart.length === 0) {
      this.$store.dispatch(CART_FETCH)
        .then(() => {
          if (this.cart.length === 0) {
            this.$router.push('/')
          }
        })
    }

    if (process.browser) {
      this.suggestions('#orderName', 'NAME', 'name')
      this.suggestions('#orderFamily', 'SURNAME', 'family')
    }

    this.$store.dispatch(ORDER_FETCH)
      .then(() => {
        this.name = this.$store.state.order.billing.name
        this.family = this.$store.state.order.billing.family
        this.subscribe = this.$store.state.order.billing.subscribe
        this.email = this.$store.state.order.billing.email
      })
  },
  methods: {
    validateEmail: email => /\S+@\S+\.\S+/.test(email),
    submit () {
      if (!this.validateEmail(this.email)) {
        this.emailValid = false
        this.$swal({ icon: 'error', buttons: null, text: 'Поле e-mail обязательно для заполнения' })
        return
      }
      this.emailValid = true
      this.save().then(() => {
        const onlyEbook = !this.cart.find(item => item.typo)
        if (onlyEbook) {
          this.$router.push('/order/payment')
        } else {
          this.$router.push('/order/address')
        }
      })
    },
    suggestions (select, part, model) {
      window.$(select).suggestions({
        token: 'f42afaedf2e568c7f3f55d78a091c3b8bb9c623b',
        type: 'NAME',
        count: 5,
        params: {
          parts: [part]
        },
        onSearchStart: (params) => {
          params.gender = this.gender ? this.gender : 'UNKNOWN';
        },
        onSelect: (suggestion) => {
          this.$data[model] = suggestion.value
          this.gender = suggestion.data.gender
          this.save()
        }
      })
    },
    save () {
      this.$store.commit(ORDER_BILLING, {
        name: this.name,
        family: this.family,
        email: this.email,
        subscribe: this.subscribe
      })
      return this.$store.dispatch(ORDER_SAVE)
    }
  }
}
</script>

<style lang="less">
@import '../../assets/style/vars.less';

.firstStep {
  background-color: rgb(245, 245, 240);

  &_wrap {
    max-width: 580px;
    margin: 0 auto;
    padding: 45px 0 80px;

    @media (max-width: @bDesktop) {
      padding: 41px 0 76px;
      max-width: 540px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 0 0;
    }
  }

  &_main {
    border-radius: 5px;
    margin-top: 28px;

    background-color: rgb(255, 255, 255);

    @media (max-width: @bSmallTablet) {
      border-radius: 0;
      margin-top: 40px;
    }
  }

  &_title {
    display: block;
    padding: 28px 10px 25px;

    color: rgb(12, 26, 63);
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @media (max-width: @bDesktop) {
      padding: 25px 10px 22px;

      font-size: 22px;
    }

    @media (max-width: @bTablet) {
      padding: 20px 10px;

      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 10px;

      font-size: 14px;
    }
  }

  &_inputs {
    padding: 34px 37px 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);

    @media (max-width: @bDesktop) {
      padding: 31px 34px 24px;
    }

    @media (max-width: @bTablet) {
      padding: 22px;
    }

    @media (max-width: @bSmallTablet) {
      width: 100%;
      border-top: none  ;
      padding: 20px 25px;
    }
  }

  &_inputGroup {
    width: 100%;
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 20px;
    }

    @media (max-width: @bSmallTablet) {
      width: 215px;
      margin: 0 auto 12px;
    }
  }

  &_label {
    margin-bottom: 12px;

    @media (max-width: @bSmallTablet) {
      margin-bottom: 9px;
    }
  }

  &_input {
    padding-left: 18px !important;
  }

  &_notice {
    display: block;
    margin-top: 30px;

    color: rgb(131, 131, 131);
    font-family: @ArialMT;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: @bDesktop) {
      margin-top: 25px;

      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &_linkWrap {

  }

  &_link {

  }

  &_textWrap {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  &_text {

  }
}
</style>
