<template>
  <section class="fourthStep">
    <div class="fourthStep_wrap">
      <slot name="steps"></slot>
      <slot name="total"></slot>

      <div class="fourthStep_main">
        <span class="fourthStep_title">Способ оплаты</span>
        <div class="fourthStep_requisites">
          <img src="~/assets/img/fourthStep/mastercard.png" alt="" class="fourthStep_requisite">
          <img src="~/assets/img/fourthStep/visa.png" alt="" class="fourthStep_requisite">
          <img src="~/assets/svg/tinkoff.svg" alt="" class="fourthStep_requisite">
        </div>

        <div class="fourthStep_linkWrap linkWrap">
          <button class="fourthStep_link linkWrap_link js-open-modal"
                  @click="submit">
            Оплатить ({{total}} руб.)
          </button>
        </div>
      </div>
    </div>

    <div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0, .5); display: flex; justify-content: center; align-items: center;" v-if="showThank">
      <congratulation />
    </div>

    <div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0, .5); display: flex; justify-content: center; align-items: center;" v-if="showPayment">
      <section class="congratulation">
        <div class="congratulation_group">
          <img src="~/assets/svg/check-icon.svg" alt="" class="congratulation_icon">
          <span class="congratulation_desc">Для оплаты заказа нажмите на кнопку</span>
        </div>
        <a :href="payment" class="congratulation_link">Оплатить заказ</a>
      </section>
    </div>
  </section>
</template>

<script>
import { CART_FETCH, ORDER_FETCH, ORDER_SAVE,  CART_CLEAR, ORDER_CREATE, ORDER_CLEAR } from '../../store/actions.type'

import { mapGetters } from 'vuex'
import Congratulation from '@/components/Congratulation'

export default {
  data: () => ({
    showThank: false,
    showPayment: false,
    payment: '#'
  }),
  computed: {
    ...mapGetters({
      cart: 'cart',
      total: 'total'
    })
  },
  mounted () {
    if (this.cart.length === 0) {
      this.$store.dispatch(CART_FETCH)
        .then(() => {
          if (this.cart.length === 0) {
            this.$router.push('/')
          }
        })
    }
    this.$store.dispatch(ORDER_FETCH)
      .then(() => {
        this.$store.dispatch(ORDER_SAVE)

        if (this.total === 0) {
          this.submit()
        }
      })
  },
  methods: {
    submit () {
      this.$store.dispatch(ORDER_CREATE)
        .then(response => {
          console.log(response)
          if (response.data.PaymentURL) {
            this.showPayment = true
            this.payment = response.data.PaymentURL
          } else if (response.data.status === 'paid') {
            this.showThank = true
          } else {
            this.$swal({ icon: 'error', title: 'Ошибка', text: 'Что-то пошло не так при оплате заказа' })
          }

          if (response.data.PaymentURL || response.data.status === 'paid') {
            this.$store.dispatch(ORDER_CLEAR)
            return this.$store.dispatch(CART_CLEAR)
          }
        })
    }
  },
  components: {
    Congratulation
  }
}
</script>

<style lang="less">
@import '../../assets/style/vars.less';

.fourthStep {
  background-color: rgb(245, 245, 240);

  &_wrap {
    max-width: 580px;
    margin: 0 auto;
    padding: 45px 0 70px;

    @media (max-width: @bDesktop) {
      max-width: 540px;
      padding: 41px 0 66px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 0 0;
    }
  }

  &_main {
    border-radius: 5px;
    margin-top: 28px;

    background-color: rgb(255, 255, 255);

    @media (max-width: @bSmallTablet) {
      border-radius: 0;
      margin-top: 40px;
    }
  }

  &_title {
    display: block;
    padding: 25px 38px;

    color: rgb(12, 26, 63);
    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      padding: 21px 34px;
    }

    @media (max-width: @bTablet) {
      padding: 22px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 16px;

      text-align: center;
      font-size: 14px;
    }
  }

  &_requisites {
    display: flex;
    align-items: center;
    padding: 28px 38px 30px;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);

    @media (max-width: @bDesktop) {
      padding: 24px 34px 26px;
    }

    @media (max-width: @bTablet) {
      padding: 20px 18px;
    }
  }

  &_requisite {
    width: 103px;
    height: 38px;
    margin-right: 35px;

    object-fit: contain;
    object-position: center;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: @bDesktop) {
      width: 90px;
      height: 30px;
      margin-right: 25px;
    }

    @media (max-width: @bSmallTablet) {
      width: 62px;
      height: 23px;
      margin-right: 15px;
    }
  }

  &_inputs {
    box-sizing: border-box;
    padding: 37px 38px 0;

    @media (max-width: @bDesktop) {
      padding: 33px 34px 0;
    }

    @media (max-width: @bTablet) {
      padding: 22px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 18px 0;
      width: 100%;
    }
  }

  &_caption {
    display: block;
    margin-bottom: 20px;

    color: rgb(12, 26, 63);
    font-size: 22px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 20px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 14px;
      text-align: center;
    }
  }

  &_input {
    margin-bottom: 37px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 34px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 21px;
    }
  }

  &_groups {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid rgb(224, 217, 207);
    padding: 17px 20px;
    box-sizing: border-box;
    margin-top: 35px;

    color: rgb(131, 131, 131);

    font-size: 18px;
    font-weight: 500;

    background-color: transparent;

    transition: .3s all;

    @media (max-width: @bDesktop) {
      border-radius: 25px;
      padding: 15px;
    }

    @media (max-width: @bTablet) {
      border-radius: 30px;
      padding: 17px 20px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 15px 20px;
      margin-top: 20px;
    }
  }

  &_cardGroup {
    display: flex;
    align-items: center;
  }

  &_card {
    width: 26px;
    height: 18px;
    margin-right: 15px;

    fill: rgb(184, 184, 184);

    @media (max-width: @bDesktop) {
      width: 22px;
      height: 14px;
      margin-right: 12px;
    }

    @media (max-width: @bTablet) {
      width: 26px;
      height: 18px;
      margin-right: 15px;
    }

    @media (max-width: @bSmallTablet) {
      width: 18px;
      height: 12px;
      margin-right: 11px;
    }
  }

  &_cardInput {
    width: 150px;
    border: 0;

    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  &_numbers {
    display: flex;
    align-items: center;
  }

  &_date {
    width: 65px;
    border: 0;
    margin-right: 15px;

    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      width: 40px;

      font-size: 12px;
    }
  }

  &_cvc {
    width: 50px;
    border: 0;

    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      width: 40px;

      font-size: 12px;
    }
  }

  &_linkWrap {
    padding: 20px 16px;
  }

  &_link {
    cursor: pointer;
  }
}

.congratulation {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 480px;

  background-color: transparent;

  &_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100%;
    box-sizing: border-box;

    box-shadow: 0 0 27px rgba(51, 34, 87, 0.2);
    border-radius: 5px;
    background-color: rgb(100, 122, 136);
  }

  &_icon {
    width: 29px;
    height: 29px;
    margin-right: 21px;
    flex-shrink: 0;

    fill: rgb(255, 255, 255);
  }

  &_desc {
    display: block;
    width: 100%;

    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
  }

  &_link {
    padding: 20px 65px;
    border-radius: 30px;
    margin-top: 19px;

    color: rgb(51, 34, 87);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    background-color: rgb(255, 208, 0);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }
  }
}
</style>
