<template>
  <section class="secondStep">
    <div class="secondStep_wrap">
      <slot name="steps"></slot>
      <slot name="total"></slot>

      <div class="secondStep_main">
        <span class="secondStep_title">Адрес доставки</span>

        <div class="secondStep_inputs">
          <div class="secondStep_inputGroup inputGroup">
            <label for="orderPostcode" class="secondStep_label inputGroup_label">Почтовый индекс</label>
            <input v-model="postcode" id="orderPostcode" type="text" class="secondStep_input inputGroup_input">
          </div>
          <div class="secondStep_inputGroup inputGroup">
            <label for="orderCity" class="secondStep_label inputGroup_label">Город</label>
            <input v-model="city" id="orderCity" type="text" class="secondStep_input inputGroup_input">
          </div>
          <div class="secondStep_inputGroup inputGroup">
            <label for="orderStreet" class="secondStep_label inputGroup_label">Улица</label>
            <input v-model="street" id="orderStreet" type="text" class="secondStep_input inputGroup_input">
          </div>
          <div class="secondStep_inputGroup inputGroup">
            <label for="orderHome" class="secondStep_label inputGroup_label">Дом, корпус, квартира</label>
            <input v-model="home" id="orderHome" type="text" class="secondStep_input inputGroup_input">
          </div>
        </div>

        <div class="secondStep_linkWrap linkWrap">
          <button @click="submit" type="button" class="secondStep_link linkWrap_link">Следующий шаг</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

import { CART_FETCH, ORDER_FETCH, ORDER_SAVE } from '../../store/actions.type'

import {
  ORDER_ADDRESS
} from '../../store/mutations.type'

export default {
  data: () => ({
    postcode: '',
    city: '',
    street: '',
    home: '',
    dadata: {
      token: 'f42afaedf2e568c7f3f55d78a091c3b8bb9c623b',
      type: 'ADDRESS'
    },
    $postcode: null,
    $city: null,
    $street: null,
    $orderHome: null
  }),
  computed: {
    ...mapGetters({
      cart: 'cart'
    })
  },
  mounted () {
    if (this.cart.length === 0) {
      this.$store.dispatch(CART_FETCH)
        .then(() => {
          if (this.cart.length === 0) {
            this.$router.push('/')
          }
        })
    }

    if (process.browser) {
      this.suggestionsPostcode()
      this.suggestionsCity()
      this.suggestionsStreet()
      // this.suggestionsHome()
    }

    this.$store.dispatch(ORDER_FETCH)
      .then(() => {
        this.postcode = this.$store.state.order.address.postcode
        this.city = this.$store.state.order.address.city
        this.street = this.$store.state.order.address.street
        this.home = this.$store.state.order.address.home
      })
  },
  methods: {
    validateEmail: email => /\S+@\S+\.\S+/.test(email),
    submit () {
      this.save()
      this.$router.push('/order/delivery')
    },
    save () {
      this.$store.commit(ORDER_ADDRESS, {
        postcode: this.postcode,
        city: this.city,
        street: this.street,
        home: this.home
      })
      this.$store.dispatch(ORDER_SAVE)
    },
    join (arr /*, separator */) {
      const separator = arguments.length > 1 ? arguments[1] : ", ";
      return arr.filter(n => n).join(separator);
    },
    formatCity (suggestion) {
      const address = suggestion.data;
      if (address.city_with_type === address.region_with_type) {
        return address.settlement_with_type || '';
      } else {
        return this.join([
          address.city_with_type,
          address.settlement_with_type]);
      }
    },
    suggestionsPostcode () {
      this.$postcode = window.$('#orderPostcode').suggestions({
        token: this.dadata.token,
        type: this.dadata.type,
        hint: false,
        bounds: 'postal_code',
        onSelect: (suggestion) => {
          this.postcode = suggestion.data.postal_code || this.postcode
          this.city = suggestion.data.city || this.city
          this.street = suggestion.data.street || this.street
          console.log(suggestion)
          this.save()
        }
      })
    },
    suggestionsCity () {
      this.$city = window.$('#orderCity').suggestions({
        token: this.dadata.token,
        type: this.dadata.type,
        hint: false,
        bounds: 'city-settlement',
        constraints: this.$postcode,
        formatSelected: this.formatCity,
        onSelect: (suggestion) => {
          this.postcode = suggestion.data.postal_code || this.postcode
          this.city = suggestion.data.city || this.city
          this.street = suggestion.data.street || this.street
          this.save()
        }
      })
    },
    suggestionsStreet () {
      this.$street = window.$('#orderStreet').suggestions({
        token: this.dadata.token,
        type: this.dadata.type,
        hint: false,
        bounds: 'street',
        constraints: this.$city,
        count: 15,
        onSelect: (suggestion) => {
          this.postcode = suggestion.data.postal_code || this.postcode
          this.city = suggestion.data.city || this.city
          this.street = suggestion.data.street || this.street
          this.save()
        }
      })
    },
    suggestionsHome () {
      this.$orderHome = window.$('#orderHome').suggestions({
        token: this.dadata.token,
        type: this.dadata.type,
        hint: false,
        noSuggestionsHint: false,
        bounds: 'house',
        constraints: this.$street,
        count: 15,
        onSelect: (suggestion) => {
          this.home = suggestion.data.house || this.home
          this.save()
        }
      })
    }
  }
}
</script>

<style lang="less">
@import '../../assets/style/vars.less';

.secondStep {
  background-color: rgb(245, 245, 240);

  &_wrap {
    max-width: 580px;
    margin: 0 auto;
    padding: 45px 0 80px;

    @media (max-width: @bDesktop) {
      max-width: 540px;
      padding: 41px 0 76px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 0 0;
    }
  }

  &_main {
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 28px;

    background-color: rgb(255, 255, 255);

    @media (max-width: @bSmallTablet) {
      border-radius: 0;
      margin-top: 40px;
      padding-top: 20px;
    }
  }

  &_title {
    display: block;

    color: rgb(12, 26, 63);
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @media (max-width: @bDesktop) {
      font-size: 22px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 14px;
    }
  }

  &_inputs {
    box-sizing: border-box;
    padding: 30px 38px 38px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    @media (max-width: @bDesktop) {
      padding: 26px 34px 34px;
    }

    @media (max-width: @bTablet) {
      padding: 22px;
    }

    @media (max-width: @bSmallTablet) {
      width: 100%;
    }
  }

  &_inputGroup {
    width: 100%;
    margin-bottom: 28px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 20px;
    }

    @media (max-width: @bSmallTablet) {
      width: 215px;
      margin: 0 auto 12px;
    }
  }

  &_label {
    margin-bottom: 10px;

    @media (max-width: @bSmallTablet) {
      margin-bottom: 9px;
    }
  }

  &_input {

  }

  &_textWrap {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  &_text {
    margin-top: 28px;

    @media (max-width: @bDesktop) {
      margin-top: 24px;
    }

    @media (max-width: @bTablet) {
      margin-top: 20px;
    }
  }

  &_linkWrap {

  }

  &_link {

  }
}
</style>
