<template>
  <section class="thirdStep">
    <div class="thirdStep_wrap">
      <slot name="steps"></slot>
      <slot name="total"></slot>

      <div class="thirdStep_main">
        <div class="thirdStep_deliveryWrap">
          <span class="thirdStep_title">способ доставки</span>
          <span class="thirdStep_caption">Выберите свой вариант доставки:</span>
          <div class="thirdStep_ways">
            <div class="thirdStep_wayGroup"
                 v-for="delivery in deliveryMethods"
                 :key="delivery._id"
                 @click="selectDelivery(delivery)">
              <input :id="`radio-${delivery._id}`" :checked="delivery._id === currentDelivery" type="radio" class="thirdStep_radio">
              <label :for="`radio-${delivery._id}`" class="thirdStep_label">
                {{delivery.name}}
                <strong v-if="delivery.price">- {{delivery.price}} руб.</strong>
              </label>
            </div>
          </div>
          <span class="thirdStep_notice">Мы будем использовать только ваш номер телефона, чтобы сообщить вам о том, где находится ваша посылка, или помочь курьерской службе связаться.</span>
          <div class="thirdStep_inputGroup inputGroup">
            <label for="tel" class="thirdStep_inputCaption inputGroup_label">Номер телефона</label>
            <input id="tel" type="tel"
                   v-model="phone"
                   class="thirdStep_input -tel inputGroup_input"
                   :class="{'-error': !this.phoneValid}">
          </div>
        </div>
        <div class="thirdStep_items">
          <div class="thirdStep_item"
               v-for="delivery in deliveryMethods"
               :key="`desc${delivery._id}`">
            <img :src="delivery.icon" alt="" class="thirdStep_pic">
            <span class="thirdStep_textGroup">
              <span class="thirdStep_itemCaption">{{delivery.name}}</span>
              <span class="thirdStep_itemDesc">{{delivery.description}}</span>
            </span>
          </div>
        </div>
        <div class="thirdStep_linkWrap linkWrap">
          <button @click="submit" type="button" class="thirdStep_link linkWrap_link">Следующий шаг</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { CART_FETCH, ORDER_FETCH, ORDER_SAVE } from '../../store/actions.type'

import { mapGetters } from 'vuex'

import { ORDER_DELIVERY, ORDER_BILLING } from '../../store/mutations.type'

export default {
  data: () => ({
    phone: '',
    phoneValid: true
  }),
  computed: {
    ...mapGetters({
      deliveryMethods: 'deliveryMethods',
      cart: 'cart'
    }),
    currentDelivery () {
      return this.$store.state.order.delivery._id
    }
  },
  mounted () {
    if (this.cart.length === 0) {
      this.$store.dispatch(CART_FETCH)
        .then(() => {
          if (this.cart.length === 0) {
            this.$router.push('/')
          }
        })
    }
    this.$store.dispatch(ORDER_FETCH)
      .then(() => {
        this.phone = this.$store.billing.phone
      })
  },
  methods: {
    selectDelivery (delivery) {
      this.$store.commit(ORDER_DELIVERY, delivery)
    },
    submit () {
      if (!this.phone.trim()) {
        this.phoneValid = false
        this.$swal({ icon: 'error', buttons: null, text: 'Поле телефон обязательно для заполнения' })
        return
      }

      if (!this.$store.state.order.delivery._id) {
        this.$swal({ icon: 'error', buttons: null, text: 'Выберите способ доставки' })
        return
      }

      this.$store.commit(ORDER_BILLING, {
        phone: this.phone
      })

      this.phoneValid = true
      this.$store.dispatch(ORDER_SAVE)
      this.$router.push('/order/payment')
    }
  }
}
</script>

<style lang="less">
@import '../../assets/style/vars.less';

.thirdStep {
  background-color: rgb(245, 245, 240);

  &_wrap {
    max-width: 580px;
    margin: 0 auto;
    padding: 45px 0 80px;

    @media (max-width: @bDesktop) {
      padding: 41px 0 76px;
      max-width: 540px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 0 0;
    }
  }

  &_main {
    margin-top: 28px;
    border-radius: 5px;

    background-color: rgb(255, 255, 255);

    @media (max-width: @bSmallTablet) {
      margin-top: 0;
      border-radius: 0;
    }
  }

  &_deliveryWrap {
    padding: 34px 40px 33px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    @media (max-width: @bDesktop) {
      padding: 30px 36px 29px 31px;
    }

    @media (max-width: @bTablet) {
      padding: 22px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 20px 25px 18px;
    }
  }

  &_title {
    display: block;

    color: rgb(12, 26, 63);
    font-size: 24px;
    font-weight: 900;
    line-height: 25.47px;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: @bDesktop) {
      font-size: 22px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 14px;
    }
  }

  &_caption {
    margin-top: 25px;
    display: block;

    color: rgb(12, 26, 63);
    font-size: 18px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      margin-top: 21px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 15px;

      font-size: 12px;
    }
  }

  &_ways {
    margin-top: 15px;
  }

  &_wayGroup {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 8px;
    }
  }

  &_radio {

  }

  &_label {
    margin-left: 11px;

    color: rgb(12, 26, 63);
    font-size: 14px;
    font-weight: 500;

    & strong {
      font-weight: 900;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_notice {
    display: block;
    margin-top: 30px;

    color: rgb(12, 26, 63);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-top: 20px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 15px;

      font-size: 12px;
    }
  }

  &_inputGroup {
    width: 100%;
    margin-top: 30px;

    @media (max-width: @bDesktop) {
      margin-top: 26px;
    }

    @media (max-width: @bSmallTablet) {
      margin: 15px auto 0;
      width: 215px;
    }
  }

  &_inputCaption {

  }

  &_input {

  }

  &_time {
    position: relative;

    display: block;
    padding-left: 33px;
    margin-top: 24px;

    color: rgb(12, 26, 63);
    font-size: 14px;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 11px;
      height: 11px;
      border: 1px solid rgb(71, 71, 71);
      border-radius: 50%;

      background-color: rgb(232, 232, 232);

      @media (max-width: @bDesktop) {
        width: 10px;
        height: 10px;
      }

      @media (max-width: @bSmallTablet) {
        width: 7px;
        height: 7px;
      }
    }

    @media (max-width: @bDesktop) {
      padding-left: 28px;
      margin-top: 20px;

      font-size: 12px;
    }

    @media (max-width: @bSmallTablet) {
      padding-left: 20px;
      margin-top: 18px;
    }
  }

  &_items {
    padding: 26px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    @media (max-width: @bDesktop) {
      padding: 21px 31px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 20px;
    }
  }

  &_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 26px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 22px;
    }
  }

  &_pic {
    display: block;
    flex-shrink: 0;
    width: 51px;
    height: 51px;

    object-fit: contain;
    object-position: top;

    @media (max-width: @bDesktop) {
      width: 48px;
      height: 48px;
    }

    @media (max-width: @bSmallTablet) {
      width: 34px;
      height: 34px;
    }
  }

  &_textGroup {
    display: block;
    margin: -4px 0 0 20px;

    @media (max-width: @bSmallTablet) {
      margin: -4px 0 0 13px;
    }
  }

  &_itemCaption {
    color: rgb(12, 26, 63);
    font-size: 18px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  &_itemDesc {
    display: block;
    margin-top: 12px;

    color: rgb(12, 26, 63);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: @bDesktop) {
      height: 60px;

      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: @bSmallTablet) {
      height: 64px;
      margin-top: 8px;

      font-size: 11px;
      line-height: 16px;
    }
  }

  &_linkWrap {
    padding: 30px 36px;

    @media (max-width: @bSmallTablet) {
      padding: 20px 53px;
    }
  }

  &_link {

  }
}
</style>
