<template>
  <div class="l-username">
    <v-snackbar v-model="snackbar" top="top" :color="color">
      {{ message }}
      <v-btn dark icon flat @click.native="snackbar = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>

    <v-card style="width: 300px;">
      <v-card-text>
        <form>
          <v-text-field
            v-model="username"
            label="Почта"
            type="email"
            :rules="[rules.required, rules.email]"
            required
          />
          <v-text-field
            v-model="password"
            label="Пароль"
            :rule="[rules.required]"
            :append-icon="showPassword ? 'visibility' : 'visibility_off'"
            :append-icon-cb="() => (showPassword = !showPassword)"
            :type="!showPassword ? 'password' : 'text'"
            required
          />
        </form>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="signup">Войти</v-btn>
        <v-btn v-if="false" @click="reg">Зарегестрироваться</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { UserService } from '@/api/api.service'

export default {
  data: () => ({
    username: '', // 'admin@madgickbook.store',
    password: '', // 'D8B8JFs3pHem2pA8',
    rules: {
      required: (value) => !!value || 'Обязательно для заполнения',
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Не валидная почта'
      }
    },
    snackbar: false,
    message: '',
    color: 'error',
    showPassword: false
  }),
  computed: {
    credentials () {
      return {
        username: this.username,
        password: this.password
      }
    }
  },
  methods: {
    validate () {
      if (!this.username) {
        this.snackbar = true
        this.message = 'Поле почта обязательно для заполнения'
        this.color = 'error'
        return false
      }

      if (!this.password) {
        this.snackbar = true
        this.message = 'Поле пароль обязательно для заполнения'
        this.color = 'error'
        return false
      }

      if (this.rules.email(this.username) !== true) {
        this.snackbar = true
        this.message = 'Почта не валидная'
        this.color = 'error'
        return false
      }

      return this.username && this.password
    },
    signup () {
      if (!this.validate()) return

      UserService.auth(this.credentials)
        .then(() => { window.location = '/' })
        .catch(e => {
          this.snackbar = true
          this.message = 'Произошла ошибка при авторизации. Попробуйте позднее.'
          this.color = 'error'
          console.log(e)
        })
    },
    reg () {
      if (!this.validate()) return
      UserService.reg(this.credentials)
        .then(() => {
          this.snackbar = true
          this.message = 'Аккаунт создан, войдите'
          this.color = 'info'
        })
        .catch(e => {
          this.snackbar = true
          this.message = e.response.data.message || 'Не получилось создать пользователя'
          this.color = 'error'
          console.log(e)
        })
    }
  }
}
</script>
