<template>
  <v-card>
    <v-card-text>
      <form>
        <v-text-field
          v-model="login"
          label="Логин"
          required
        />
        <v-text-field
          v-model="password"
          label="Пароль"
          required
        />
      </form>
    </v-card-text>
    <v-card-actions>
      <v-btn color="primary" @click="submit">Войти</v-btn>
      <v-btn>Зарегестрироваться</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      login: '',
      password: ''
    }),
    methods: {
      submit () {
        console.log(this.login, this.password)
      }
    }
  }
</script>
