<template>
  <section class="about">
    <div class="about_wrap">
      <span class="about_textGroup">
        <h1 class="about_title">о компании</h1>
        <span class="about_desc" v-html="content"></span>
      </span>
      <div class="about_contacts">
        <h2 class="about_title">о компании</h2>
        <div class="about_info">
          <span class="about_column">
            <i class="about_mailIcon"></i>
            <span v-for="(item, i) in left"
                  :key="`left${i}`"
                  v-text="item.value"
                  class="about_elem">
            </span>
          </span>
          <div class="about_line"></div>
          <span class="about_column">
            <span v-for="(item, i) in right"
                  :key="`right${i}`"
                  v-text="item.value"
                  class="about_elem">
            </span>
            <nuxt-link
              to="/rules"
              class="about_elem">
              Пользовательское соглашение
            </nuxt-link>
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['content', 'left', 'right']
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.about {
  flex-shrink: 0;

  background-image: url('../assets/img/about/back.png');
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: cover;

  @media (max-width: @bDesktop) {
    background-image: url('../assets/img/about/back-1300.png');
  }

  @media (max-width: @bLaptop) {
    background-position: 0 0;
    background-size: 100% auto;
    background-image: url('../assets/img/about/back-980.png');
  }

  @media (max-width: @bTablet) {
    height: 100%;
    min-height: 760px;
    //max-height: 760px;
    box-sizing: border-box;

    background-position: 100% 140%;
    //background-image: url('../assets/img/about/back-640.png');
    background-image: none;
  }

  @media (max-width: @bSmallTablet) {
    min-height: auto;
    height: auto;

    background-position: 100% 100%;
    background-size: 125px 310px;
    //background-image: url('../assets/img/about/back-320.png');
  }
  
  @media (max-width: @bPhone) {
    max-height: none;
  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px 0 45px;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 43px 0 40px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 35px 0 38px;
    }

    @media (max-width: @bTablet) {
      box-sizing: border-box;
      height: 100%;
      padding: 55px 25px 110px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 17px 110px;
    }
    
    @media (max-width: @bPhone) {
      padding: 25px 17px 110px;
    }
  }

  &_textGroup {
    display: block;
    max-width: 510px;
    margin: 0 auto;

    @media (max-width: @bDesktop) {
      max-width: 490px;
    }

    @media (max-width: @bLaptop) {
      max-width: 715px;
      margin: 0;
    }
  }

  &_title {
    margin: 0;

    color: rgb(54, 65, 92);
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: @bDesktop) {
      font-size: 26px;
    }

    @media (max-width: @bLaptop) {
      font-size: 24px;
      text-align: left;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 18px;
    }
  }

  &_desc {
    display: block;
    margin: 45px 0 0;

    line-height: 22.08px;
    font-size: 16px;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: @Philosopher;

    @media (max-width: @bDesktop) {
      margin: 33px 0 0;

      font-size: 14px;
    }

    @media (max-width: @bLaptop) {
      margin: 24px 0 0;

      text-align: left;
    }

    @media (max-width: @bTablet) {
      margin: 32px 0 0;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      margin: 20px 0 0;

      font-size: 12px;
      line-height: 18px;
    }
  }

  & p {
    margin-top: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  &_contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    
    @media (max-width: @bSmallTablet) {
      margin-top: 50px;
    }
  }

  &_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
    
    @media (max-width: @bSmallTablet) {
      margin-top: 25px;
    }
  }

  &_column {
    display: block;
    
    &:first-of-type {
      display: flex;
      align-items: center;
    }
  }
  
  &_line {
    width: 45px;
    height: 1px;
    margin: 20px 0;
    
    background-color: rgba(54, 65, 92, .3);
    
    @media (max-width: @bSmallTablet) {
      margin: 15px 0;
    }
  }
  
  &_mailIcon {
    width: 15px;
    height: 12px;
    margin-right: 8px;
    
    background-image: url('../assets/img/about/mail.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_elem {
    display: block;
    margin-bottom: 10px;

    color: rgb(119, 119, 119);
    font-family: @Philosopher;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 10px;

      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 5px;

      font-size: 12px;
    }
  }

  &_link {
    color: rgb(119, 119, 119);
    font-family: @Philosopher;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: .3s all;

    &:hover {
      color: rgb(255, 208, 0);
    }

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }
}
</style>
