<template>
  <section class="addPopup">
    <div @click="close" class="addPopup_overlay"></div>
    <div class="addPopup_wrap">
      <span class="addPopup_title" v-text="title"></span>
      <div class="addPopup_btns">
        <div @click="close" class="addPopup_btn">Создать ещё одну книгу</div>
        <nuxt-link to="/cart" class="addPopup_link">
          Перейти в корзину
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import {
  MODAL_CLOSE
} from '../store/mutations.type'

import {
  FieldsService
} from '../common/api.service'

export default {
  data: () => ({ title: 'Книга добавлена в корзину!' }),
  mounted () {
    FieldsService.get('modals')
      .then(response => {
        this.title = response.createBookTitle || ''
      })
  },
  methods: {
    close () {
      this.$store.commit(MODAL_CLOSE, 'cart')
    }
  }
}
</script>


<style lang="less">
@import '../assets/style/vars.less';

.addPopup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  background-color: rgba(0,0,0,.4);

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &_wrap {
    max-width: 564px;
    padding: 38px 33px 30px;
    border-radius: 25px;
    border: 2px solid rgb(224, 217, 207);

    background-color: rgb(255, 255, 255);

    @media (max-width: @bSmallTablet) {
      padding: 30px 25px;
      border-radius: 20px;
    }
  }

  &_title {
    display: block;
    width: 100%;

    text-align: center;
    color: rgb(65, 65, 66);
    font-size: 24px;
    font-weight: 900;

    @media (max-width: @bSmallTablet) {
      font-size: 18px;
    }
  }

  &_btns {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bSmallTablet) {
      margin-top: 20px;
      flex-direction: column;
    }
  }

  &_btn {
    margin-right: 25px;
    width: 238px;
    padding: 16px 15px 14px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid rgb(224, 217, 207);

    color: rgb(131, 131, 131);
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    background-color: transparent;

    cursor: pointer;

    transition: .3s all;

    &:hover {
      box-shadow: 0 0 9px rgb(250, 217, 19);
      border: 2px solid rgb(250, 215, 18);
    }

    @media (max-width: @bSmallTablet) {
      margin: 0 0 15px;
    }
  }

  &_link {
    box-sizing: border-box;
    width: 234px;
    padding: 16px 15px 14px;
    border-radius: 25px;

    text-align: center;
    text-decoration: none;
    color: rgb(54, 65, 92);
    font-size: 14px;
    font-weight: 500;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);

    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }
  }
}
</style>
