<template>
  <section class="application">
    <div class="application_wrap">
      <span class="application_textGroup">
        <span class="application_title">AR - приложение</span>
        <span class="application_desc">
          <p>
            Чтение помогает учиться. А чтение книги с дополнительной реальностью поможет привить любовь к чтению вашим деткам и станет серьезной мотивацией на пути к учению.
          </p>
          <p>
            Для того, чтобы картинка книги «ожила», достаточно просто скачать приложение и навести экран устройства на страничку книги. Здесь вы найдете приключения Мальчика и Девочки, и всех-всех-всех персонажей : Волшебную Фею, Мудрого Мага, Величественного Баклана, Сердитого Крокодила, Веселых Пиратов, Добрых Русалок, Щедрого Кондитера, Строгого Короля, Трудолюбивых Пчел, Добродушного Жирафа и многих других.
          </p>
          <p>
            Вы сможете также сфотографироваться с любимыми персонажами, а фотографией поделиться с друзьями в соцсетях.
          </p>
        </span>
      </span>
      <img src="~/assets/img/application/pic.png" alt="" class="application_photo">
    </div>
  </section>
</template>


<style lang="less">
@import '../assets/style/vars';

  .application {
    background-image: url('../assets/img/application/back-1920.png');
    background-repeat: no-repeat;
    background-position: calc(~'50% + 100px') center;
    background-size: 1630px 840px;

    @media (max-width: @bDesktop) {
      background-position: calc(~'50% + 150px') -20px;
      background-size: 1155px 605px;
    }

    @media (max-width: @bLaptop) {
      background-position: calc(~'50% + 50px') -50px;
      background-size: 900px 470px;
    }

    @media (max-width: @bTablet) {
      background-image: url('../assets/img/application/back-640.png');
      background-position: calc(~'50% - 30px') 25px;
      background-size: 570px 310px;
    }
    
    @media (max-width: @bSmallTablet) {
      background-image: url('../assets/img/application/back-480.png');
      background-position: 0 25px;
      background-size: 468px 285px;
    }
    
    @media (max-width: @bPhone) {
      background-position: 0 105px;
      background-size: 385px 235px;
    }

    &_wrap {
      padding: 145px 0 60px;
      max-width: 1515px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: @bDesktop) {
        padding: 100px 0 40px;
        max-width: 1210px;
      }

      @media (max-width: @bLaptop) {
        padding: 70px 0 30px;
        max-width: 915px;
      }

      @media (max-width: @bTablet) {
        padding: 50px 0 30px;
        max-width: 575px;
        flex-direction: column;
      }
      
      @media (max-width: @bSmallTablet) {
        max-width: 430px;
      }
      
      @media (max-width: @bPhone) {
        max-width: 290px;
      }
    }

    &_textGroup {
      display: block;
      width: 100%;
      max-width: 570px;

      @media (max-width: @bDesktop) {
        max-width: 495px;
      }

      @media (max-width: @bLaptop) {
        max-width: 355px;
      }

      @media (max-width: @bTablet) {
        margin-top: 40px;
        max-width: none;
      }
      
      @media (max-width: @bSmallTablet) {
        margin-top: 35px;
      }
    }

    &_title {
      display: block;

      text-align: center;
      color: rgb(54, 65, 92);
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;

      @media (max-width: @bDesktop) {
        font-size: 35px;
      }

      @media (max-width: @bLaptop) {
        font-size: 25px;
      }
      
      @media (max-width: @bSmallTablet) {
        font-size: 20px;
      }
      
      @media (max-width: @bPhone) {
        font-size: 16px;
      }
    }

    &_desc {
      margin-top: 50px;
      display: block;

      text-align: center;
      color: rgb(87, 87, 87);
      font-family: @Philosopher;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;

      @media (max-width: @bLaptop) {
        margin-top: 25px;

        font-size: 14px;
      }

      @media (max-width: @bTablet) {
        margin-top: 25px;
      }
      
      @media (max-width: @bSmallTablet) {
        font-size: 12px;
      }
      
      @media (max-width: @bPhone) {
        margin-top: 15px;
        
        font-size: 11px;
      }
    }

    &_desc p {
      margin: 0 0 30px;
      
      @media (max-width: @bPhone) {
        margin: 0 0 25px;
      }

      &:last-of-type {
        margin: 0;
      }

    }

    &_photo {
      display: block;
      flex-shrink: 0;
      width: 825px;
      height: auto;

      object-fit: contain;
      object-position: center;

      @media (max-width: @bDesktop) {
        width: 645px;
      }

      @media (max-width: @bLaptop) {
        width: 515px;
      }

      @media (max-width: @bTablet) {
        order: -1;
        width: 450px;
      }
      
      @media (max-width: @bSmallTablet) {
        width: 412px;
      }
      
      @media (max-width: @bPhone) {
        width: 100%;
      }
    }
  }
</style>
