<template>
  <div class="cart_elem">
    <img :src="url(item.images[0].path)" alt="" class="cart_pic">
    <div class="cart_info">
      <div class="cart_headLine">
        <span class="cart_caption">Книга для {{ item.gender === 'man' ? 'маленького мальчика, потерявшего имя' : 'маленькой девочки, потерявшей имя' }}</span>
        <span class="cart_price">
          {{ item.price }} руб.

          <img src="~/assets/svg/close.svg" class="cart_closeIcon" @click="remove(item._id)">
        </span>
      </div>
      <span class="cart_name">{{ item.letter }}</span>
      <span class="cart_details">Формат: {{ item.format.name }}</span>
      <span class="cart_change">
        <img src="~/assets/svg/change-icon.svg" class='cart_changeIcon'>
        <span class="cart_changeText">Изменить формат</span>
      </span>
      <div class="cart_footLine">
        <div class="cart_checks">
          <div @click="toggleTypo(item)" class="cart_group">
            <input v-model="item.typo" type="checkbox" class="cart_check">
            <label class="cart_radio"></label>
            <span class="cart_label">Печатная книга (бумага)</span>
          </div>
          <div @click="toggleEbook(item)" class="cart_group">
            <input v-model="item.ebook" type="checkbox" class="cart_check">
            <label class="cart_radio"></label>
            <span class="cart_label">Электронная книга (будет отправлена в виде цифрового файла на почту)</span>
          </div>
        </div>
        <a @click="billing" class="cart_link" v-if="last">
          <img src="~/assets/svg/hold.svg" class="cart_holdIcon">
          Перейти к оформлению заказа
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { UPLOAD_URL } from '../common/config'
import {
  REMOVE_CART,
  UPDATE_ITEM
} from '../store/mutations.type'

import { CART_SAVE } from '../store/actions.type'

export default {
  props: ['item', 'last'],
  methods: {
    url (path) {
      return encodeURI(UPLOAD_URL + path)
    },
    remove (_id) {
      this.$store.commit(REMOVE_CART, _id)
      this.$store.dispatch(CART_SAVE)
    },
    toggleTypo (item) {
      this.$store.commit(UPDATE_ITEM, { _id: item._id, typo: !item.typo })
    },
    toggleEbook (item) {
      this.$store.commit(UPDATE_ITEM, { _id: item._id, ebook: !item.ebook })
    },
    billing () {
      this.$store.dispatch(CART_SAVE)
      this.$router.push('/order/billing')
    }
  }
}
</script>
