<template>
  <section class="cart">
    <div class="cart_wrap">
      <div class="cart_titleGroup">
        <span class="cart_title">Ваша корзина ({{cart.length}})</span>
      </div>

      <cart-item v-for="(item, i) in cart" :key="`cartItem${item._id}`" :item="item" :last="cart.length - 1 === i" />

      <cart-item-mobile v-for="(item, i) in cart" :key="`cartItemMobile${item._id}`" :item="item" :last="cart.length - 1 === i" />

      <div v-if="sales.active" class="cart_shareWrap">
        <span class="cart_desc">
          Может еще кому-то нужна персональная история о его имени? Цена на следующую книгу в этом заказе ниже на:
        </span>
        <span class="cart_share">
          <!-- <span class="cart_priceBefore">2450 руб</span> -->
          <span class="cart_priceAfter">{{ sales.sale2 }} руб.</span>
        </span>
        <span class="cart_desc">
          При заказе от 4х книг - цена за каждую снижается на {{ sales.sale4 }} рублей.
        </span>
        <a href="/sales" class="cart_shareLink">
          Подробнее о скидках
        </a>
        <nuxt-link to="/#makeBook" class="cart_moreBook">
          + Добавить еще книгу
        </nuxt-link>
      </div>

      <div class="cart_totalWrap">
        <span class="cart_title">Итог заказа:</span>
        <div class="cart_elem -total">
          <div class="cart_codeWrap">
            <span class="cart_notice">Взлетите со Всемирным днем ​​книги! Введите код BOOK ниже.</span>
            <div class="cart_codeGroup">
              <div class="cart_inputWrap">
                <input v-model="coupon" type="text" class="cart_input inputGroup_input" placeholder="Введите промокод">
                <span class="cart_checkLabel"></span>
              </div>
              <button @click="checkCoupon" type="button" class="cart_codeBtn">
                Применить код
              </button>
            </div>
          </div>
          <div class="cart_line"></div>
          <div class="cart_totalInfo">
            <span class="cart_item" v-if="subtotal != total">
              <span class="cart_totalText">Подытог:</span>
              <span class="cart_total">{{subtotal}} руб.</span>
            </span>
            <span class="cart_item" v-if="sale < 0">
              <span class="cart_totalText">Скидка:</span>
              <span class="cart_total">{{sale}} руб.</span>
            </span>
            <span class="cart_item">
              <span class="cart_totalText">Итого:</span>
              <span class="cart_total -bold">{{total}} руб.</span>
            </span>
          </div>

          <div class="cart_mobileTotal">
            <div class="cart_mobilePriceGroup" @click="mobileTotalModal = true">
              <span class="cart_mobileText">
                Общая стоимость
                <img src="~/assets/svg/makeBook-arrow-down.svg" class="cart_arrow">
              </span>
              <span class="cart_mobilePrice">{{total}} руб.</span>
            </div>
            <a v-if="cart.length > 0" @click="billing"
                       class="cart_mobileLink">Купить</a>
          </div>

          <div v-if="mobileTotalModal" class="cart_popupTotal">
            <img @click="mobileTotalModal = false" src="~/assets/svg/close.svg" class="cart_close">
            <span class="cart_mobileCaption">О заказе</span>
            <div class="cart_mobileGroups">
              <div class="cart_mobileGroup">
                <span class="cart_mobileItem">Подитог:</span>
                <span class="cart_mobileItem">{{subtotal}} руб.</span>
              </div>
              <div class="cart_mobileGroup">
                <span class="cart_mobileItem">Скидка:</span>
                <span class="cart_mobileItem">{{sale}} руб.</span>
              </div>
              <div class="cart_mobileGroup -bold">
                <span class="cart_mobileItem">Итог:</span>
                <span class="cart_mobileItem">{{total}} руб.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="cart_totalFootLine">
          <div class="cart_requisites">
            <img src="~/assets/img/cart/mastercard.png" alt="" class="cart_requisite">
            <img src="~/assets/img/cart/paypal.png" alt="" class="cart_requisite">
            <img src="~/assets/img/cart/visa.png" alt="" class="cart_requisite">
          </div>

          <a v-if="cart.length > 0" @click="billing" class="cart_link">
            <img src="~/assets/svg/hold.svg" class="cart_holdIcon">
            Перейти к оформлению заказа
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { UPLOAD_URL } from '../common/config'
import {
  REMOVE_CART,
  UPDATE_ITEM
} from '../store/mutations.type'
import { mapGetters } from 'vuex'
import CartItem from '@/components/CartItem'
import CartItemMobile from '@/components/CartItemMobile'
import {
  COUPON_CHECK,
  CART_SAVE,
  CART_FETCH
} from '../store/actions.type'

export default {
  data: () => ({
    coupon: '',
    mobileTotalModal: false
  }),
  computed: {
    ...mapGetters({
      cart: 'cart',
      sales: 'sales',
      subtotal: 'subtotal',
      sale: 'sale',
      total: 'total'
    })
  },
  mounted () {
    if (this.cart.length > 0) {
      this.$store.dispatch(CART_SAVE)
    } else {
      this.$store.dispatch(CART_FETCH)
    }
  },
  methods: {
    url (path) {
      return encodeURI(UPLOAD_URL + path)
    },
    remove (_id) {
      this.$store.commit(REMOVE_CART, _id)
      this.$store.dispatch(CART_SAVE)
    },
    toggleTypo (item) {
      this.$store.commit(UPDATE_ITEM, { _id: item._id, typo: !item.typo })
    },
    toggleEbook (item) {
      this.$store.commit(UPDATE_ITEM, { _id: item._id, ebook: !item.ebook })
    },
    checkCoupon () {
      if (!this.coupon) return
      this.$store.dispatch(COUPON_CHECK, this.coupon.replace(/\/+/g, '') )
        .then(() => {
          this.$swal({ icon: 'success', title: 'Ура!', text: 'Купон активирован' })
        })
        .catch((e) => {
          this.$swal({ icon: 'error', title: 'Ошибка', text: 'Купон не найден' })
          console.log(`[MB] Ошибка при загрузке купона`, e)
        })
    },
    billing () {
      this.$store.dispatch(CART_SAVE)
      const needSelect = !this.cart.find(item => item.ebook || item.typo)
      if (needSelect) {
        this.$swal({ icon: 'error', title: 'Ошибка', text: 'Выберите у книги один из форматов' })
      } else {
        this.$router.push('/order/billing')
      }
    }
  },
  components: {
    CartItem,
    CartItemMobile
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.cart {
  flex-shrink: 0;

  background-color: #f5f5f0;

  background-image: url('../assets/img/cart/back.png');
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: @bDesktop) {
    background-image: url('../assets/img/cart/back-1300.png');
  }

  @media (max-width: @bTablet) {
    background-image: none;
  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 42px 0 52px;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 30px 0 55px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 30px 0 60px;
    }

    @media (max-width: @bSmallTablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &_titleGroup {
    width: 100%;
    box-sizing: border-box;

    @media (max-width: @bTablet) {
      padding: 20px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: @bSmallTablet) {
      padding: 15px;
    }
  }

  &_title {
    display: block;

    text-align: center;
    color: #36415c;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 18px;
    }

    @media (max-width: @bTablet) {
      text-align: left;
      font-size: 22px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 16px;
    }
  }

  &_totalWrap &_title {
    padding: 0 25px;

    @media (max-width: @bSmallTablet) {
      display: none;
    }
  }

  &_trash {
    cursor: pointer;

    @media (max-width: @bSmallTablet) {
      width: 13px;
      height: 16px;
    }
  }

  &_elem {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 30px 24px 27px;
    margin-top: 35px;

    background-color: #ffffff;

    &.-total {
      padding: 43px 62px 43px 40px;

      @media (max-width: @bDesktop) {
        padding: 35px 36px;
      }

      @media (max-width: @bTablet) {
        padding: 35px 25px;
        display: flex;
        flex-direction: column;
      }

      @media (max-width: @bSmallTablet) {
        position: relative;

        padding: 0 15px;
        margin-top: 0;
      }
    }

    @media (max-width: @bDesktop) {
      padding: 25px 18px 25px;
    }

    @media (max-width: @bLaptop) {
      margin-top: 18px;
      padding: 13px 20px 20px 14px;
    }

    @media (max-width: @bTablet) {
      display: none;
    }
  }

  &_pic {
    display: block;
    width: 134px;
    height: 112px;
    flex-shrink: 0;

    object-fit: cover;
    object-position: center;

    @media (max-width: @bDesktop) {
      width: 85px;
      height: 70px;
    }
  }

  &_info {
    width: 100%;
    box-sizing: border-box;
    padding-left: 24px;

    @media (max-width: @bDesktop) {
      padding-left: 17px;
    }
  }

  &_headLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_caption {
    color: #36415c;
    font-size: 20px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }
  }

  &_price {
    color: #9e43fc;
    font-size: 20px;
    font-weight: 900;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }
  }

  &_closeIcon {
    width: 14px;
    height: 14px;
    margin-left: 24px;

    fill: #9e43fc;

    @media (max-width: @bDesktop) {
      width: 11px;
      height: 11px;
    }
  }

  &_name {
    display: block;
    margin-top: 15px;

    color: #838383;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: @bDesktop) {
      margin-top: 13px;

      font-size: 16px;
    }
  }

  &_details {
    display: block;
    margin-top: 15px;

    color: #838383;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: @bDesktop) {
      margin-top: 13px;

      font-size: 16px;
    }
  }

  &_change {
    // display: flex;
    display: none;
    align-items: center;
    margin-top: 27px;
    padding-bottom: 15px;

    @media (max-width: @bDesktop) {
      margin-top: 22px;
    }
  }

  &_changeIcon {
    width: 21px;
    height: 21px;
    margin-right: 10px;

    fill: #fade1c;

    @media (max-width: @bDesktop) {
      width: 18px;
      height: 19px;
    }
  }

  &_changeText {
    position: relative;

    display: block;

    color: #36415c;
    font-size: 16px;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;

      width: 100%;
      height: 2px;
      border-bottom: 2px dotted rgb(131, 131, 131);

      @media (max-width: @bDesktop) {
        height: 1px;
      }
    }

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }
  }

  &_footLine {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &_checks {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    @media (max-width: @bDesktop) {
      margin-top: 14px;
    }
  }

  &_group {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 11px;
    }
  }

  &_radio {
    position: relative;

    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(250, 222, 28);
    border-radius: 50%;
    margin-right: 11px;

    cursor: pointer;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: none;
      width: 20px;
      height: 20px;
      overflow: hidden;

      background-image: url('../assets/img/cart/check-icon.svg');
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: @bDesktop) {
        width: 18px;
        height: 18px;
      }
    }

    @media (max-width: @bDesktop) {
      width: 18px;
      height: 18px;
    }
  }

  &_check:checked + &_radio::before {
    display: block;
  }

  &_label {
    color: #36415c;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }
  }

  &_check {
    display: none;
  }

  &_link {
    padding: 20px 40px;

    color: #0c1a3f;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 13px rgba(12, 26, 63, 0.14);
    border-radius: 30px;
    background-color: #647a88;
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
    cursor: pointer;

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }

    @media (max-width: @bDesktop) {
      padding: 17px 22px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      display: none;
    }
  }

  &_holdIcon {
    width: 13px;
    height: 18px;
    margin-right: 14px;

    @media (max-width: @bDesktop) {
      width: 11px;
      height: 15px;
      margin-right: 9px;
    }

    @media (max-width: @bTablet) {

    }
  }

  &_shareWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 670px;
    margin: 70px auto 60px;

    @media (max-width: @bDesktop) {
      max-width: 535px;
      margin: 40px auto 60px;
    }

    @media (max-width: @bTablet) {
      padding: 0 53px;
      margin: 40px auto 45px;
    }

    @media (max-width: @bSmallTablet) {
      order: 5;
      padding: 0 45px;
      margin: 20px auto 0;
    }
  }

  &_desc {
    display: block;

    color: #36415c;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;

    @media (max-width: @bDesktop) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (max-width: @bTablet) {
      line-height: 28px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
      line-height: 14px;
    }
  }

  &_share {
    display: flex;
    align-items: center;
    margin: 20px 0 15px;

    @media (max-width: @bDesktop) {
      margin: 17px 0 15px;
    }

    @media (max-width: @bTablet) {
      margin: 25px 0 18px;
    }

    @media (max-width: @bSmallTablet) {
      margin: 14px 0 16px;
    }
  }

  &_priceBefore {
    position: relative;

    display: block;
    margin:  5px 19px 0 0;

    color: #36415c;
    font-size: 18px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -5%;

      width: 110%;
      height: 2px;

      background-color: #36415c;
    }

    @media (max-width: @bDesktop) {
      margin: 2px 15px 0 0;

      font-size: 15px;
    }

    @media (max-width: @bSmallTablet) {
      margin-right: 9px;

      font-size: 10px;
    }
  }

  &_priceAfter {
    color: #9e43fc;
    font-size: 35px;
    font-weight: 900;

    @media (max-width: @bDesktop) {
      font-size: 24px;
    }

    @media (max-width: @bTablet) {
      font-size: 30px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 18px;
    }
  }

  &_shareLink {
    display: block;
    margin: 16px 0 32px;

    color: #9e43fc;
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;

    @media (max-width: @bDesktop) {
      margin: 12px 0 25px;
    }

    @media (max-width: @bTablet) {
      margin: 15px 0 33px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      margin: 8px 0 20px;

      font-size: 11px;
    }
  }

  &_moreBook {
    display: block;
    padding: 20px 25px;

    color: #0c1a3f;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    border-radius: 30px;
    background-color: #647a88;
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    @media (max-width: @bDesktop) {
      padding: 17px 25px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      padding: 22px 38px 20px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 15px 23px;

      font-size: 13px;
    }
  }

  &_totalWrap {
    margin-top: 40px;

    @media (max-width: @bTablet) {
      margin-top: 0;
    }
  }

  &_codeWrap {
    max-width: 565px;
    //padding: 30px 0 35px;

    @media (max-width: @bDesktop) {
      max-width: 495px;
      //padding: 26px 0;
    }

    @media (max-width: @bTablet) {
      margin: 0 auto;
      max-width: 550px;
      //padding: 0 18px 45px;
    }

    @media (max-width: @bSmallTablet) {
      width: 100%;
      max-width: none;
      //padding: 0 0 15px;
      box-sizing: border-box;
    }
  }

  &_notice {
    display: block;

    color: #36415c;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      text-align: center;
      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      text-align: left;
      font-size: 11px;
    }
  }

  &_codeGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;

    @media (max-width: @bDesktop) {
      margin-top: 22px;
    }

    @media (max-width: @bTablet) {
      margin-top: 25px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 15px;
    }
  }

  &_inputWrap {
    position: relative;

    width: 100%;
  }

  &_input {
    padding-left: 57px;

    @media (max-width: @bDesktop) {
      padding-left: 52px;
    }

    @media (max-width: @bTablet) {
      padding-left: 57px;
    }

    @media (max-width: @bSmallTablet) {
      padding-left: 35px;
      width: 100%;
      box-sizing: border-box;
      margin-right: 13px;
    }
  }

  &_checkLabel {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    border: 3px solid rgb(250, 222, 28);
    border-radius: 50%;
    overflow: hidden;

    background-color: rgb(255, 255, 255);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%;-50%);

      display: none;
      width: 20px;
      height: 20px;
      overflow: hidden;

      background-image: url('../assets/img/cart/check-icon.svg');
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: @bDesktop) {
        width: 22px;
        height: 22px;
      }

      @media (max-width: @bSmallTablet) {
        width: 15px;
        height: 15px;
      }
    }

    @media (max-width: @bDesktop) {
      width: 22px;
      height: 22px;
    }

    @media (max-width: @bSmallTablet) {
      left: 12px;

      width: 15px;
      height: 15px;
      border: 2px solid rgb(250, 222, 28);
    }
  }

  &_codeBtn {
    display: block;
    padding: 20px 48px 18px;
    margin-left: 25px;
    flex-shrink: 0;

    color: #36415c;
    font-size: 18px;
    font-weight: 500;


    border-radius: 30px;
    border: 2px solid #fade1c;
    background-color: #ffffff;
    cursor: pointer;

    @media (max-width: @bDesktop) {
      padding: 16px 65px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      padding: 19px 56px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 16px 26px;

      font-size: 11px;
    }
  }

  &_line {
    width: 2px;

    border-right: 2px dotted rgba(54, 65, 92, .8);

    @media (max-width: @bDesktop) {
      width: 1px;
      border-right: 1px dotted rgba(54, 65, 92, .8);
    }

    @media (max-width: @bTablet) {
      width: 100%;
      height: 1px;
			margin: 43px 0;

      border-bottom: 1px dotted rgba(54, 65, 92, .8);
      border-right: none;
    }

    @media (max-width: @bSmallTablet) {
      display: none;
    }
  }

  &_totalInfo {
    display: flex;
    justify-content: end;
    flex-direction: column;

    width: 310px;
    //padding: 30px 0;

    @media (max-width: @bDesktop) {
      width: 220px;
      //padding: 25px 0;
    }

    @media (max-width: @bTablet) {
      width: 100%;
      //padding: 44px 0 0;
    }

    @media (max-width: @bSmallTablet) {
      display: none;
      //padding: 20px 0;
    }
  }

  &_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 23px;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 32px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 10px;
    }
  }

  &_totalText {
    display: block;
    width: 100%;
    max-width: 165px;

    color: #36415c;
    font-size: 18px;
    font-weight: 500;
    text-align: right;

    @media (max-width: @bDesktop) {
      max-width: 125px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      max-width: 150px;

      font-size: 16px;
      text-align: left;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_total {
    color: rgba(158, 67, 252, .7);
    font-size: 18px;
    font-weight: 500;

    &.-bold {
      font-weight: 900;
      font-size: 24px;

      @media (max-width: @bDesktop) {
        font-size: 16px;
      }

      @media (max-width: @bTablet) {
        font-size: 20px;
      }

      @media (max-width: @bSmallTablet) {
        font-size: 14px;
      }
    }

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  &_totalFootLine {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bDesktop) {
      margin-top: 25px;
    }

    @media (max-width: @bTablet) {
      padding: 0 25px;
      margin-top: 39px;
    }

    @media (max-width: 680px) {
      justify-content: center;
    }

    @media (max-width: @bSmallTablet) {
      padding: 0 15px;
      margin-top: 20px;
    }
  }

  &_requisites {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 680px) {
      display: none;
    }
  }

  &_requisite {
    display: block;
    width: 92px;
    height: 38px;
    margin-right: 30px;

    object-fit: contain;
    object-position: center;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: @bDesktop) {
      width: 59px;
      height: 38px;
      margin-right: 25px;
    }

    @media (max-width: @bTablet) {
      width: 83px;
      height: 54px;
    }
  }

  &_mobileTotal {
    position: relative;

    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
		margin-top: 15px;
    padding-bottom: 23px;
    box-sizing: border-box;

    @media (max-width: @bSmallTablet) {
      display: flex;
    }
  }

  &_mobilePriceGroup {
    cursor: pointer;
  }

  &_mobileText {
    display: flex;
    align-items: center;

    color: rgb(54, 65, 92);
    font-size: 11px;
    font-weight: 500;
  }

  &_arrow {
    width: 7px;
    height: 6px;
    margin-left: 3px;

    fill: rgb(54, 65, 92);

  }

  &_mobilePrice {
    display: block;
    margin-top: 5px;

    color: rgb(158, 67, 252);
    font-size: 14px;
    font-weight: 900;
  }

  &_mobileLink {
    display: block;
    padding: 15px 45px;

    color: rgb(54, 65, 92);
    font-family: Geometria;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    border-radius: 22px;
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
  }

  &_popupTotal {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgb(255, 255, 255);

    transition: .3s all;

    width: 100%;
    padding: 15px 15px 20px;
    box-sizing: border-box;
  }

  &_close {
    position: absolute;
    top: 15px;
    left: 15px;

    width: 12px;
    height: 12px;

    fill: rgb(158, 67, 252);
    cursor: pointer;
  }

  &_mobileCaption {
    display: block;

    color: rgb(54, 65, 92);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  &_mobileGroups {
    margin-top: 17px;
  }

  &_mobileGroup {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3px;

    color: rgb(131, 131, 131);
    font-size: 11px;

    &.-bold {
      font-weight: 500;
    }
  }

  &_mobileItem {

  }
}
</style>
