<template>
  <section class="cartMobile">
    <span class="cartMobile_caption">Книга для {{ item.gender === 'man' ? 'потерявшегося маленького мальчика' : 'потерявшейся маленькой девочки' }}</span>
    <div class="cartMobile_info">
      <img :src="url(item.images[0].path)" alt="" class="cartMobile_pic">
      <div class="cartMobile_headLine">
        <span class="cartMobile_name">{{ item.letter }}</span>
        <span class="cartMobile_details">Формат: {{ item.format.name }}</span>
        <span class="cartMobile_price">{{ item.price }} руб.</span>
      </div>
      <div class="cartMobile_addWrap">
        <img @click="remove(item._id)" src="~/assets/svg/trash.svg" class="cart_trash">
      </div>
    </div>
    <span class="cartMobile_change">
      <img src="~/assets/svg/change-icon.svg" class="cartMobile_changeIcon" alt="">
      <div class="cartMobile_changeText">Изменить параметры подарка</div>
    </span>
    <div class="cartMobile_footLine">
      <div class="cartMobile_checks">
        <div class="cartMobile_group" @click="toggleTypo(item)">
          <input v-model="item.typo" type="checkbox" class="cartMobile_check">
          <label class="cartMobile_radio"></label>
          <span class="cartMobile_label">Печатная книга (бумага)</span>
        </div>
        <div class="cartMobile_group" @click="toggleEbook(item)">
          <input v-model="item.ebook" type="checkbox" name="radio" class="cartMobile_check">
          <label class="cartMobile_radio"></label>
          <span class="cartMobile_label">Электронная книга</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { UPLOAD_URL } from '../common/config'
import {
  REMOVE_CART,
  UPDATE_ITEM
} from '../store/mutations.type'

export default {
  props: ['item'],
  methods: {
    url (path) {
      return encodeURI(UPLOAD_URL + path)
    },
    remove (_id) {
      this.$store.commit(REMOVE_CART, _id)
      this.$store.dispatch(CART_SAVE)
    },
    toggleTypo (item) {
      this.$store.commit(UPDATE_ITEM, { _id: item._id, typo: !item.typo })
    },
    toggleEbook (item) {
      this.$store.commit(UPDATE_ITEM, { _id: item._id, ebook: !item.ebook })
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.cartMobile {
  display: none;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 5px;
  padding: 32px 28px 35px 55px;
  margin-top: 5px;

  background-color: #ffffff;

  @media (max-width: @bTablet) {
    display: flex;
  }

  @media (max-width: @bSmallTablet) {
    padding: 19px 20px 20px 38px;
  }

  &_caption {
    position: relative;

    color: #36415c;
    font-size: 16px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: -25px;

      width: 16px;
      height: 16px;
      border: 2px solid rgb(250, 213, 14);
      border-radius: 50%;

			@media (max-width: @bSmallTablet) {
				top: -1px;
			}

			@media (max-width: @bPhone) {
				top: 1px;
				left: -20px;

				width: 14px;
				height: 14px;
			}
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &_info {
    position: relative;

    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;

    @media (max-width: @bSmallTablet) {
      margin-top: 10px;
    }
  }

  &_pic {
    display: block;
    width: 90px;
    height: 90px;
    flex-shrink: 0;

    object-fit: cover;
    object-position: center;

    @media (max-width: @bSmallTablet) {
      width: 66px;
      height: 66px;
    }
  }

  &_headLine {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    box-sizing: border-box;
    max-width: 235px;

    @media (max-width: @bSmallTablet) {
      max-width: 180px;
      padding-left: 10px;
    }
  }

  &_name {
    display: block;
    margin-bottom: 14px;

    color: #838383;
    font-size: 14px;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: @bSmallTablet) {
      margin-bottom: 7px;

      font-size: 11px;
    }
  }

  &_details {
    display: block;
    margin-bottom: 14px;

    color: #838383;
    font-size: 14px;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: @bSmallTablet) {
      margin-bottom: 7px;

      font-size: 11px;
    }
  }

  &_price {
    color: #9e43fc;
    font-size: 16px;
    font-weight: 900;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  &_change {
    display: flex;
    align-items: center;
    margin-top: 23px;
    padding-bottom: 20px;

    @media (max-width: @bSmallTablet) {
      margin-top: 19px;
      padding-bottom: 10px;
    }
  }

  &_changeIcon {
    width: 16px;
    height: 17px;
    margin-right: 7px;

    fill: #fade1c;

    @media (max-width: @bSmallTablet) {
      width: 14px;
      height: 14px;
    }
  }

  &_changeText {
    position: relative;

    display: block;

    color: #36415c;
    font-size: 14px;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;

      width: 100%;
      height: 1px;
      border-bottom: 1px dotted rgb(131, 131, 131);

      @media (max-width: @bSmallTablet) {
        bottom: -12px;
      }
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_addWrap {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (max-width: @bSmallTablet) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &_minus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    flex-shrink: 0;

    font-size: 16px;
    color: rgba(0, 0, 0, .8);

    cursor: pointer;
    transition: .3s all;

    &:hover {
      background-color: rgb(250, 213, 14);
    }

    @media (max-width: @bSmallTablet) {
      width: 15px;
      height: 15px;

      font-size: 12px;
    }
  }

  &_number {
    display: block;
    margin: 0 10px;

    color: rgba(0, 0, 0, .8);
    font-family: @ArialMT;
    font-size: 14px;

    @media (max-width: @bSmallTablet) {
      margin: 0 8px;

      font-size: 10px;
    }
  }

  &_plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    flex-shrink: 0;

    font-size: 16px;
    color: rgba(0, 0, 0, .8);

    cursor: pointer;
    transition: .3s all;

    &:hover {
      background-color: rgb(250, 213, 14);
    }

    @media (max-width: @bSmallTablet) {
      width: 15px;
      height: 15px;

      font-size: 12px;
    }
  }

  &_footLine {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &_checks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media (max-width: @bSmallTablet) {
      margin-top: 12px;
    }
  }

  &_group {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 10px;
    }
  }

  &_radio {
    position: relative;

    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(250, 222, 28);
    border-radius: 50%;
    margin-right: 11px;

    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;

      background-image: url('../assets/img/cart/check-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: @bSmallTablet) {
        width: 14px;
        height: 14px;
      }
    }

    @media (max-width: @bSmallTablet) {
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }
  }

  &_check:checked + &_radio::before {
    display: block;
  }

  &_label {
    cursor: pointer;
    color: #36415c;
    font-size: 14px;
    font-weight: 500;

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_check {
    display: none;
  }
}
</style>
