<template>
  <section class="comments" id="comments">
    <div class="comments_wrap">
      <div class="comments_titleGroup">
        <span class="comments_title">
          отзывы
        </span>
        <div class="comments_noticeGroup">
          <span class="comments_notice">Задайте нам любой вопрос, нам важна связь с вами!</span>
          <a @click="openModal" class="comments_callBtn">Напишите нам!</a>
        </div>
      </div>

      <div class="comments_wrapper">
        <button
          @click="prev"
          class="comments_sliderArrow -prev js-comments-prev"
          type="button"></button>
        <button
          @click="next"
          class="comments_sliderArrow -next js-comments-next"
          type="button"></button>

        <div ref="commentItems" class="comments_items swiper-container">
          <div class="comments_list swiper-wrapper">
            <div v-for="(review, i) in items"
                 :key="`comment${i}`"
                 class="comments_item swiper-slide">
              <div class="comments_headLine">
                <div class="comments_captionGroup">
                  <span class="comments_caption">{{ review.username }}</span>
                  <span class="comments_elem">{{ review.location }}
                    <img src="~/assets/svg/comments-side-arrow.svg" alt="" class="comments_sideArrow">
                  </span>
                </div>
                <img src="~/assets/svg/points.svg" alt="" class="comments_points">
              </div>
              <img :src="review.preview" alt="" class="comments_photo">
              <div class="comments_infoGroup">
                <div class="comments_btns">
                  <img src="~/assets/svg/heart.svg" class="comments_btn" alt="">
                  <img src="~/assets/svg/bubble.svg" class="comments_btn" alt="">
                  <img src="~/assets/svg/arrow.svg" class="comments_btn" alt="">
                </div>
                <div class="comments_likes">
                  <img src="~/assets/svg/mini-heart.svg" class="comments_like" alt="">
                  <span class="comments_number">{{ review.likes }} likes</span>
                </div>
                <div class="comments_reviews">
                  <div v-for="(comment, j) in review.comments"
                     v-if="comment.text"
                     :key="`comments${i}${j}`" class="comments_review">
                    <span class="comments_name">{{ comment.username }}</span>
                    <span class="comments_text">{{ comment.text }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper'
import { MODAL_OPEN } from '../store/mutations.type'

export default {
  props: ['items'],
  data: () => ({
    swiperComments: null
 }),
  mounted () {
    if (process.browser) {
      this.initSwiper()
      window.addEventListener('resize', this.initSwiper, false)
    }
  },
  methods: {
    prev () {
      this.swiperComments.slidePrev()
    },
    next () {
      this.swiperComments.slideNext()
    },
    initSwiper () {
      if (document.body.offsetWidth < 941) {
        this.swiperComments = new Swiper(this.$refs.commentItems, {
          slidesPerView: 'auto',
          loop: true,
          breakpoints: {
            640: {
              slidesPerView: 1,
              spaceBetween: 20
            }
          }
        })
      } else if (this.swiperComments) {
        this.swiperComments.destroy(true)
        this.swiperComments = null
      }
    },
    openModal () {
      this.$store.commit(MODAL_OPEN, 'form')
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.comments {
  position: relative;

  padding: 30px 130px 50px 0;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;

  @media (max-width: @bDesktop) {
    justify-content: center;
    padding: 30px 0 50px;
  }

  @media (max-width: @bTablet) {
    padding: 0 25px 60px;
  }

  @media (max-width: @bSmallTablet) {
    padding: 30px 0 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 85px;
    z-index: 0;

    width: 678px;
    height: 478px;

    background-image: url('../assets/img/comments/side.png');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: @bDesktop) {
      top: 20px;

      width: 378px;
      height: 240px;
    }

    @media (max-width: @bLaptop) {
      display: none;
    }

    @media (max-width: @bTablet) {
      top: -20px;

      width: 366px;
      height: 257px;
      display: block;
    }

    @media (max-width: @bSmallTablet) {
      top: 60px;

      width: 255px;
      height: 165px;
    }

    @media (max-width: @bPhone) {
      top: 100px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: -60px;
    z-index: -1;

    width: 100%;
    height: 858px;

    background-image: url('../assets/img/comments/back.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: @bDesktop) {
      top: -150px;

      height: 836px;
    }

    @media (max-width: @bLaptop) {
      top: -200px;

      height: 757px;
    }

    @media (max-width: @bTablet) {
      top: -150px;

      height: 784px;

      background-image: url('../assets/img/comments/back-640.png');
      background-size: 100% 100%;
    }
  }

  &_wrap {
    max-width: 1365px;
    width: 100%;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
    }
  }

  &_titleGroup {
    position: relative;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1156px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: @bTablet) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: @bSmallTablet) {
      padding: 0 15px;
    }

    @media (max-width: @bPhone) {
      padding: 0;
      max-width: 290px;
      margin: 0 auto;
    }
  }

  &_noticeGroup {
    display: flex;
    align-items: center;

    @media (max-width: @bTablet) {
      flex-direction: column;
      align-self: flex-end;
      align-items: flex-end;
      max-width: none;
      order: -1;
    }

    @media (max-width: @bSmallTablet) {
      align-items: center;
      align-self: center;
    }

    @media (max-width: @bPhone) {
      align-items: center;
      align-self: center;
    }
  }

  &_notice {
    display: block;
    margin-right: 23px;

    color: rgb(87, 87, 87);
    font-size: 16px;
    font-weight: 400;

    @media (max-width: @bTablet) {
      margin-right: 0;

      text-align: right;
    }

    @media (max-width: @bSmallTablet) {
      max-width: 300px;

      font-size: 14px;
      text-align: center;
    }

    @media (max-width: @bPhone) {
      max-width: 250px;

      font-size: 12px;
      text-align: center;
    }
  }

  &_callBtn {
    display: block;
    flex-shrink: 0;

    border-radius: 30px;
    padding: 20px 50px;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
    cursor: pointer;

    @media (max-width: @bDesktop) {
      padding: 18px 45px;

      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      padding: 16px 41px;
    }

    @media (max-width: @bTablet) {
      margin-top: 15px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 14px;
    }

    @media (max-width: @bPhone) {
      font-size: 12px;
    }

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }
  }

  &_title {
    display: block;

    color: rgb(54, 65, 92);
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;

    @media (max-width: @bDesktop) {
      font-size: 26px;
    }

    @media (max-width: @bLaptop) {
      font-size: 30px;
    }

    @media (max-width: @bTablet) {
      margin-top: 15px;

      font-size: 24px;
      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      margin: 85px 0 0;

      font-size: 18px;
    }

    @media (max-width: @bPhone) {
      margin: 125px 0 0;
    }
  }

  &_wrapper {
    position: relative;

    width: 100%;

    @media (max-width: @bTablet) {
      width: 540px;
      margin: 0 auto;
      padding: 0 25px;
    }

    @media (max-width: @bSmallTablet) {
      width: 290px;
      padding: 0 24px;
      box-sizing: border-box;
    }
  }

  &_items {
    position: relative;
    z-index: 1;

    width: 100%;
    margin-top: 33px;

    &.swiper-container {
      overflow: visible;

      @media (max-width: @bTablet) {
        overflow: hidden;
      }
    }

    @media (max-width: @bDesktop) {
      margin-top: 30px;
    }

    @media (max-width: @bLaptop) {
      margin-top: 30px;
    }

    @media (max-width: @bTablet) {
      width: 520px;
      padding: 10px;
      margin-top: 40px;
    }

    @media (max-width: @bSmallTablet) {
      width: 220px;
      padding: 10px;
      margin-top: 65px;
    }

    @media (max-width: @bPhone) {
      margin-top: 30px;
    }
  }

  &_sliderArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

    width: 20px;
    height: 39px;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &.-prev {
      left: 0;
      background-image: url(../assets/svg/arrow-prev.svg);

      &:hover {
        background-image: url(../assets/svg/arrow-prev-active.svg);
      }
    }

    &.-next {
      right: 0;
      background-image: url(../assets/svg/arrow-next.svg);

      &:hover {
        background-image: url(../assets/svg/arrow-next-active.svg);
      }
    }

    @media (max-width: @bSmallTablet) {
      width: 16px;
      height: 30px;
    }
  }

  &_list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: @bTablet) {
      width: auto;
      justify-content: flex-start;
    }
  }

  &_item {
    width: 313px;
    //height: 546px;

    border-radius: 6px;
    background-color: rgb(243, 243, 243);

    transition: .3s all;
    user-select: none;

    &:hover {
      box-shadow: 0 0 67px 4px rgba(80, 87, 128, 0.49);

      @media (max-width: @bTablet) {
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.34);
      }
    }

    @media (max-width: @bDesktop) {
      width: 240px;
      //height: 417px;
    }

    @media (max-width: @bLaptop) {
      width: 215px;
      //height: 390px;
    }

    @media (max-width: @bTablet) {
     // height: 417px;
      margin-right: 39px;
    }

    @media (max-width: @bSmallTablet) {
      //height: 382px;
    }
  }

  &_headLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 19px;

    @media (max-width: @bDesktop) {
      padding: 10px 14px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 10px 13px;
    }
  }

  &_captionGroup {
    position: relative;

    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      width: 30px;
      height: 30px;
      border-radius: 50%;

      background-color: rgb(237, 73, 86);

      @media (max-width: @bDesktop) {
        width: 24px;
        height: 24px;
      }

      @media (max-width: @bLaptop) {
        top: 2px;

        width: 21px;
        height: 21px;
      }

      @media (max-width: @bTablet) {
        width: 24px;
        height: 24px;
      }

      @media (max-width: @bSmallTablet) {
        width: 22px;
        height: 22px;
      }
    }

    @media (max-width: @bDesktop) {
      padding-left: 30px;
    }

    @media (max-width: @bLaptop) {
      padding-left: 30px;
    }

    @media (max-width: @bTablet) {
      padding-left: 30px;
    }
  }

  &_caption {
    display: block;

    color: rgb(27, 27, 27);
    font-family: @ArialMT;
    font-size: 14px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 11px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 10px;
    }
  }

  &_elem {
    margin-top: 3px;
    display: flex;
    align-items: center;

    color: rgb(27, 27, 27);
    font-family: @ArialMT;
    font-size: 12px;

    @media (max-width: @bDesktop) {
      font-size: 11px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 9px;
    }
  }

  &_sideArrow {
    width: 6px;
    height: 9px;
    margin-left: 6px;

    fill: rgb(135, 135, 135);

    @media (max-width: @bDesktop) {
      width: 5px;
      height: 8px;
      margin-left: 5px;
    }
  }

  &_points {
    width: 14px;
    height: 4px;

    @media (max-width: @bDesktop) {
      width: 11px;
    }

    @media (max-width: @bLaptop) {
      width: 10px;
      height: 3px;
    }

    @media (max-width: @bTablet) {
      width: 11px;
    }
  }

  &_photo {
    display: block;
    width: 100%;
    height: 265px;

    object-fit: cover;
    object-position: center;

    @media (max-width: @bDesktop) {
      height: 203px;
    }

    @media (max-width: @bLaptop) {
      height: 182px;
    }

    @media (max-width: @bTablet) {
      height: 203px;
    }

    @media (max-width: @bSmallTablet) {
      height: 185px;
    }
  }

  &_infoGroup {
    padding: 30px 19px 19px;

    @media (max-width: @bDesktop) {
      padding: 20px 15px 14px;
    }

    @media (max-width: @bLaptop) {
      padding: 9px 12px 20px;
    }

    @media (max-width: @bTablet) {
      padding: 20px 15px 14px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 9px 13px 10px;
    }
  }

  &_btns {
    display: flex;
    align-items: center;
  }

  &_btn {
    width: 22px;
    height: 17px;
    margin-right: 14px;

    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: @bDesktop) {
      width: 16px;
      height: 14px;
      margin-right: 11px;
    }

    @media (max-width: @bLaptop) {
      width: 15px;
      height: 12px;
    }

    @media (max-width: @bTablet) {
      width: 16px;
      height: 14px;
    }

    @media (max-width: @bSmallTablet) {
      width: 13px;
      height: 13px;
    }
  }

  &_likes {
    display: flex;
    align-items: center;
    margin-top: 10px;

    @media (max-width: @bDesktop) {
      margin-top: 7px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 20px;
    }
  }

  &_like {
    width: 14px;
    height: 12px;
    margin-right: 3px;

    @media (max-width: @bDesktop) {
      width: 10px;
      height: 9px;
    }

    @media (max-width: @bLaptop) {
      width: 9px;
      height: 8px;
    }

    @media (max-width: @bTablet) {
      width: 10px;
      height: 9px;
    }
  }

  &_number {
    color: rgb(38, 38, 38);
    font-family: @ArialMT;
    font-size: 14px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 11px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 10px;
    }
  }

  &_reviews {
    margin-top: 6px;

    @media (max-width: @bDesktop) {
      margin-top: 8px;
    }
  }

  &_review {
    position: relative;

    width: 100%;
    height: 50px;

    overflow: hidden;
    padding-left: 43px;
    margin-bottom: 17px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;

      width: 28px;
      height: 28px;
      border-radius: 50%;

      background-color: rgb(237, 73, 86);

      @media (max-width: @bDesktop) {
        width: 22px;
        height: 22px;
      }

      @media (max-width: @bLaptop) {
        top: 3px;

        width: 21px;
        height: 21px;
      }

      @media (max-width: @bTablet) {
        top: 5px;

        width: 22px;
        height: 22px;
      }


    }

    @media (max-width: @bDesktop) {
      padding-left: 33px;
      height: 42px;
      margin-bottom: 10px;

      font-size: 11px;
      line-height: 14px;
    }

    @media (max-width: @bLaptop) {
      padding-left: 30px;
    }

    @media (max-width: @bTablet) {
      padding-left: 33px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 13px;
      height: 34px;

      font-size: 10px;
      line-height: 11.39px;
    }
  }

  &_name {
    font-family: @ArialMT;
    font-weight: 700;
  }

  &_text {
    font-family: @ArialMT;
    font-weight: 400;
  }
}
</style>
