<template>
  <section class="congratulation">
    <div class="congratulation_group">
      <img src="~/assets/svg/check-icon.svg" alt="" class="congratulation_icon">
      <span class="congratulation_desc" v-text="title"></span>
    </div>
    <nuxt-link to="/" class="congratulation_link">Назад на главную</nuxt-link>
  </section>
</template>

<script>
import {
  FieldsService
} from '../common/api.service'

export default {
  data: () => ({ title: 'Поздравляем! Наш менеджер совсем скоро свяжется с вами для подтверждения заказа' }),
  mounted () {
    FieldsService.get('modals')
      .then(response => {
        this.title = response.createOrderTitle || ''
      })
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.congratulation {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 480px;

  background-color: transparent;

  &_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    width: 100%;
    box-sizing: border-box;

    box-shadow: 0 0 27px rgba(51, 34, 87, 0.2);
    border-radius: 5px;
    background-color: rgb(100, 122, 136);
  }

  &_icon {
    width: 29px;
    height: 29px;
    margin-right: 21px;
    flex-shrink: 0;

    fill: rgb(255, 255, 255);
  }

  &_desc {
    display: block;
    width: 100%;

    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
  }

  &_link {
    padding: 20px 65px;
    border-radius: 30px;
    margin-top: 19px;

    color: rgb(51, 34, 87);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    background-color: rgb(255, 208, 0);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }
  }
}
</style>
