<template>
  <section class="about">
    <div class="about_wrap">
      <div class="about_textGroup">
        <h1 class="about_title">{{title}}</h1>
        <span class="about_desc" v-html="content"></span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['content', 'title']
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.about {
  flex-shrink: 0;

  background-image: url('../assets/img/about/back.png');
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: cover;

  @media (max-width: @bDesktop) {
    background-image: url('../assets/img/about/back-1300.png');
  }

  @media (max-width: @bLaptop) {
    background-position: 0 0;
    background-size: 100% auto;
    background-image: url('../assets/img/about/back-980.png');
  }

  @media (max-width: @bTablet) {
    height: 100%;
    min-height: 760px;
    max-height: 760px;
    box-sizing: border-box;

    background-position: 0 140%;
    background-image: url('../assets/img/about/back-640.png');
  }

  @media (max-width: @bSmallTablet) {
    min-height: auto;
    height: auto;

    background-position: 100% 100%;
    background-size: 125px 310px;
    background-image: url('../assets/img/about/back-320.png');
  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px 0 45px;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 43px 0 40px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 35px 0 38px;
    }

    @media (max-width: @bTablet) {
      box-sizing: border-box;
      height: 100%;
      padding: 55px 25px 110px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 17px 120px;
    }
  }

  &_textGroup {
    display: block;
    max-width: 510px;
    margin: 0 auto;

    @media (max-width: @bDesktop) {
      max-width: 490px;
    }

    @media (max-width: @bLaptop) {
      max-width: 715px;
      margin: 0;
    }
  }

  &_title {
    margin: 0;

    color: rgb(54, 65, 92);
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: @bDesktop) {
      font-size: 26px;
    }

    @media (max-width: @bLaptop) {
      font-size: 24px;
      text-align: left;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 18px;
    }
  }

  &_desc {
    display: block;
    margin: 45px 0 100px;

    line-height: 22.08px;
    font-size: 16px;
    color: rgb(119, 119, 119);
    font-family: @Philosopher;

    @media (max-width: @bDesktop) {
      margin: 33px 0 55px;

      font-size: 14px;
    }

    @media (max-width: @bLaptop) {
      margin: 24px 0 95px;

      text-align: left;
    }

    @media (max-width: @bTablet) {
      margin: 32px 0 115px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      margin: 20px 0 35px;

      font-size: 12px;
      line-height: 18px;
    }
  }

  & p {
    margin-top: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bLaptop) {
      align-items: stretch;
    }
  }

  &_column {
    display: block;

    @media (max-width: @bTablet) {
      &:last-of-type {
        display: none;
      }
    }
  }

  &_elem {
    display: block;
    margin-bottom: 7px;

    color: rgb(119, 119, 119);
    font-family: @Philosopher;
    font-size: 16px;
    font-weight: 400;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 10px;

      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 5px;

      font-size: 12px;
    }
  }

  &_link {
    color: rgb(119, 119, 119);
    font-family: @Philosopher;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: .3s all;

    &:hover {
      color: rgb(255, 208, 0);
    }

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }
}
</style>
