<template>
  <section class="createBook">
    <div class="createBook_welcome">
      <span class="createBook_titleGroup">
        <span class="createBook_title">Индивидуальная книга, сделанная для</span>
        <span class="createBook_caption">
          <span v-for="letter in letters"
                :key="`letter${letter.index}`"
                class="createBook_letter"
                :class="{'-current': letter.isCurrent}"
                @click="goToSlide(letter.index)"
                v-html="letter.letter">
          </span>
        </span>
      </span>
      <div class="createBook_gallery">
        <flip-book class="book" :pages="pages" :page="currentSlide">
          <template slot-scope="prop">
            <img class="book_img" :src="prop.page.url" alt="">
            <div class="book_shadow"></div>
          </template>
        </flip-book>
      </div>
    </div>

    <div class="createBook_wrap">
      <div class="createBook_form">
        <div v-if="false" class="createBook_inputs">
          <a v-if="false" @click="openModal('name')" class="createBook_inputGroup inputGroup">
            <label class="createBook_label inputGroup_label">
              Авантюрист
            </label>
            <span class="createBook_input -name inputGroup_input">
            <span class="createBook_checkLabel"></span>
            <span class="createBook_text">{{book.letters.toUpperCase()}}</span>
            <img src="~/assets/svg/makeBook-arrow-up.svg" class="createBook_arrow" alt="">
          </span>
          </a>
          <a v-if="false" @click="openModal('formats')" class="createBook_inputGroup inputGroup">
            <label class="createBook_label inputGroup_label">
              Формат книги
            </label>
            <span class="createBook_input -format inputGroup_input">
            <span class="createBook_checkLabel"></span>
            <span class="createBook_text">{{ book.format && book.format.name }}</span>
            <img src="~/assets/svg/makeBook-arrow-up.svg" class="createBook_arrow" alt="">
          </span>
          </a>
          <a v-if="false" @click="openModal('message')" class="createBook_inputGroup inputGroup">
            <label class="createBook_label inputGroup_label">
              Авторская подпись
            </label>
            <span class="createBook_input -message inputGroup_input">
            <span class="createBook_checkLabel"></span>
            <span class="createBook_text" v-text="message"></span>
            <img src="~/assets/svg/makeBook-arrow-up.svg" alt="">
          </span>
          </a>
        </div>
        <button type="button" class="createBook_btn" @click="addToCart">
          Заказать сейчас
        </button>
      </div>

      <slot v-if="modalFormats" name="formats-modal"/>
      <slot v-if="modalName" name="name-modal"/>
      <slot v-if="modalMessage" name="message-modal"/>
    </div>
  </section>
</template>

<script>
  import alphabet from '@/common/alphabet'
  import { mapGetters } from 'vuex'
  import { UPLOAD_URL } from '@/common/config'
  import {
    MODAL_OPEN,
    MODAL_CLOSE,
    MODAL_TOGGLE,
    ADD_CART,
    BOOK_RESET
  } from '@/store/mutations.type'
  import uniqBy from 'lodash.uniqby'
  import FlipBook from '@/components/FlipBook'
  import ApiService from '../common/api.service'
  import axios from 'axios'

  export default {
    data: () => ({
      currentSlide: 1,
      flipbook: null,
      animation: true,
      duration: 1500,
      endNamePageSrc: ''
    }),
    mounted () {
      ApiService.query(`pages/name.png`, {
        params: {
          gender: this.book.gender,
          name: this.book.letters
        }
      })

      this.loadNamePage()
    },
    computed: {
      ...mapGetters({
        book: 'book'
      }),
      modalFormats () {
        return this.$store.state.modal.formats
      },
      modalName () {
        return this.$store.state.modal.name
      },
      modalMessage () {
        return this.$store.state.modal.message
      },
      images () {
        return this.book.images.map(i => encodeURI(UPLOAD_URL + i.path))
      },
      message () {
        let msg = this.$store.state.book.message
        if (!msg) {
          msg = this.$store.state.book.gender === 'man' ? 'Дорогой ' : 'Дорогая '
          msg += this.$store.state.book.letters + '!'
        }
        return msg
      },
      endNamePage () {
        return this.endNamePageSrc ? this.endNamePageSrc : encodeURI(UPLOAD_URL + `right-end-${this.book.gender}.png`)
      },
      pages () {
        const prev = [{url: require('~/assets/img/oblogka.jpg')}]
        const images = this.images.map(url => ({url}))
        const after = [
          {url: encodeURI(UPLOAD_URL + `left-end-${this.book.gender}.png`)},
          {url: this.endNamePage},
          {url: require('~/assets/img/end.png')}
        ]
        return [...prev, ...images, ...after]
      },
      letters () {
        let index = 1
        let letters = this.book.images.map((img, i) => {
          index++
          return {
            _id: img._id,
            index,
            isCurrent: index === this.currentSlide,
            letter: this.letterOrDot(i)
          }
        })
        letters = uniqBy(letters, '_id')
        for (let i = 0; i < letters.length - 1; i++) {
          letters[i].isCurrent = letters[i].index <= this.currentSlide && this.currentSlide < letters[i + 1].index
        }
        return letters
      }
    },
    methods: {
      addToCart () {
        this.$store.commit(ADD_CART, this.book)
        this.$store.commit(BOOK_RESET)

        this.openModal('cart')
      },
      letterOrDot (i) {
        if (i !== 0 && this.book.images[i]._id === this.book.images[i - 1]._id) {
          return '<i></i>'
        } else {
          return alphabet[this.book.lang][this.book.images[i].letter] || '<i></i>'
        }
      },
      openModal (name) {
        if (name !== 'name') { this.$store.commit(MODAL_CLOSE, 'name') }
        if (name !== 'formats') { this.$store.commit(MODAL_CLOSE, 'formats') }
        if (name !== 'message') { this.$store.commit(MODAL_CLOSE, 'message') }

        this.$store.commit(MODAL_TOGGLE, name)
      },
      goToSlide (i) {
        this.currentSlide = i
        this.animation = false
      },
      showLetter (i) {
        return i === 0 || this.book.images[i]._id !== this.book.images[i - 1]._id
      },
      loadNamePage () {
        axios.head(UPLOAD_URL + `crop/right_${this.book.letters}-${this.book.gender}-0.png`)
          .then(() => {
            this.endNamePageSrc = UPLOAD_URL + `crop/right_${this.book.letters}-${this.book.gender}-0.png`
          })
          .catch(() => {
            setTimeout(this.loadNamePage, 500)
          })
      }
    },
    components: {
      FlipBook
    }
  }
</script>

<style lang="less">
  @import '../assets/style/vars';

  .createBook {
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    margin: auto 0;

    &_welcome {
      position: relative;
      z-index: 3;

      padding: 50px 0 100px;

      background-image: url('../assets/img/createBook/back.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &::before {
        content: '';
        position: absolute;
        bottom: 150px;
        left: 20px;
        z-index: 1;

        width: 385px;
        height: 443px;

        background-image: url('../assets/img/createBook/side-1.png');
        background-repeat: no-repeat;
        background-size: contain;

        pointer-events: none;

        @media (max-width: @bDesktop) {
          left: 42px;
          bottom: 34px;

          width: 277px;
          height: 301px;
        }

        @media (max-width: @bLaptop) {
          display: none;
        }
      }

      @media (max-width: @bDesktop) {
        padding: 25px 0 50px;
      }

      @media (max-width: @bLaptop) {
        padding: 20px 0 40px;
      }

      @media (max-width: @bTablet) {
        padding: 35px 0 25px;
      }

      @media (max-width: @bSmallTablet) {
        padding: 22px 0 13px;
      }
    }

    &_titleGroup {

    }

    &_title {
      display: block;

      text-align: center;
      color: #ffffff;
      font-size: 32px;
      font-weight: 900;

      @media (max-width: @bDesktop) {
        font-size: 18px;
      }

      @media (max-width: @bLaptop) {
        font-size: 14px;
      }

      @media (max-width: @bTablet) {
        font-size: 16px;
      }

      @media (max-width: @bSmallTablet) {
        font-size: 11px;
      }
    }

    &_caption {
      display: flex;
      align-items: center;
      justify-content: center;

      color: #ffffff;
      font-size: 21px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: @bDesktop) {
        font-size: 16px;
      }

      @media (max-width: @bLaptop) {
        font-size: 14px;
      }

      @media (max-width: @bTablet) {
        font-size: 16px;
      }

      @media (max-width: @bSmallTablet) {
        font-size: 11px;
      }
    }

    &_gallery {
    }

    &_wrap {
      position: relative;
      z-index: 3;

      background-color: #f4f4f4;

      &::after {
        content: '';
        position: absolute;
        top: 96px;
        right: 0px;
        transform: translateY(-100%);
        z-index: 2;

        width: 500px;
        height: 501px;

        background-image: url('../assets/img/createBook/side-2.png');
        background-repeat: no-repeat;
        background-size: contain;

        pointer-events: none;

        @media (max-width: @bDesktop) {
          top: 68px;
          right: 0;

          width: 350px;
          height: 351px;
        }

        @media (max-width: @bLaptop) {
          display: none;
        }
      }
    }

    &_form {
      max-width: 1280px;
      padding: 30px 0 40px;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @media (max-width: @bDesktop) {
        max-width: 1040px;
        padding: 15px 0 20px;
      }

      @media (max-width: @bLaptop) {
        max-width: 940px;
        padding: 20px 0 25px;
      }

      @media (max-width: @bTablet) {
        flex-direction: column;
        align-items: center;
        padding: 0 0 30px 0;

        background-color: rgb(255, 255, 255);
      }

      @media (max-width: @bSmallTablet) {
        padding: 0 0 20px 0;
      }
    }

    &_inputs {
      width: 100%;
      display: flex;
      align-items: center;

      @media (max-width: @bTablet) {
        flex-direction: column;
      }
    }

    &_inputGroup {
      margin-right: 30px;
      cursor: pointer;

      @media (max-width: @bTablet) {
        box-sizing: border-box;
        padding: 30px 35px 25px 25px;
        margin-bottom: 0;
        border-bottom: 1px solid rgb(245, 245, 240);

        background-image: url('../assets/img/createBook/arrrow.svg');
        background-size: 10px 17px;
        background-position: calc(~'100% - 25px') center;
        background-repeat: no-repeat;
      }

      @media (max-width: @bSmallTablet) {
        padding: 17px;

        background-position: calc(~'100% - 17px') center;
        background-size: 7px 12px;
      }
    }

    &_label {
      cursor: pointer;

      @media (max-width: @bTablet) {
        padding: 0;
      }
    }

    &_input {
      position: relative;

      display: flex;
      padding: 15px 47px 15px 17px;
      box-sizing: border-box;
      align-items: center;

      @media (max-width: @bDesktop) {
        padding: 12px 45px 12px 15px;
      }

      @media (max-width: @bLaptop) {

      }

      @media (max-width: @bTablet) {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        border: 2px solid transparent;

        &:hover {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    &_inputGroup:hover &_input {
      box-shadow: 0 0 9px rgb(250, 217, 19);
      border: 2px solid rgb(250, 215, 18);

      @media (max-width: @bTablet) {
        border-color: transparent;
        box-shadow: none;
      }
    }

    &_checkLabel {
      position: relative;

      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 10px;
      border: 2px solid rgb(250, 222, 28);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: none;
        width: 26px;
        height: 26px;

        background-image: url('../assets/img/createBook/check-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: @bDesktop) {
          width: 22px;
          height: 22px;
        }

        @media (max-width: @bSmallTablet) {
          width: 14px;
          height: 13px;
        }
      }

      @media (max-width: @bDesktop) {
        width: 20px;
        height: 20px;
      }

      @media (max-width: @bLaptop) {

      }

      @media (max-width: @bSmallTablet) {
        width: 12px;
        height: 11px;
        margin-right: 6px;
      }
    }

    &_checkLabel::before {
      display: block;
    }

    &_text {
      display: block;
      width: 100%;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &_arrow {
      position: absolute;
      top: 50%;
      right: 8%;
      transform: translateY(-50%);

      fill: rgb(198, 198, 198);

      @media (max-width: @bTablet) {
        display: none;
      }
    }

    &_link {
      cursor: pointer;
    }

    &_btn {
      border: 0;
      padding: 19px 33px;
      flex-shrink: 0;
      margin-left: 50px;

      color: #0c1a3f;
      font-size: 18px;
      font-weight: 500;

      box-shadow: 0 0 9px rgba(12, 26, 63, 0.2);
      border-radius: 30px;
      background-color: #647a88;
      background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

      cursor: pointer;

      &:hover {
        animation: shadow 0.8s 0s ease-out 1;
      }

      @media (max-width: @bDesktop) {
        padding: 18px 30px;

        font-size: 14px;
      }

      @media (max-width: @bLaptop) {
        padding: 17px 35px;
        margin-left: 18px;
      }

      @media (max-width: @bTablet) {
        margin-top: 30px;
        padding: 20px 60px;

        font-size: 16px;
      }

      @media (max-width: @bSmallTablet) {
        padding: 14px 52px;

        font-size: 13px;
      }
    }

    &_letter {
      display: flex;
      width: 35px;
      height: 35px;
      margin: 15px 10px;
      justify-content: center;
      align-items: center;

      text-align: center;

      border-radius: 50%;

      user-select: none;
      cursor: pointer;

      & i {
        width: 7px;
        height: 7px;

        background-image: url('../assets/img/createBook/dot.svg');
        background-size: 7px 7px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.-current {
        background-color: #ffd000;
      }
    }
  }

  .book {
    position: relative;
    z-index: 0;

    width: 1280px;
    height: 640px;
    margin: 30px auto 0;

    @media (max-width: @bDesktop) {
      width: 800px;
      height: 400px;
    }

    @media (max-width: @bTablet) {
      width: 100vw;
      height: 50vw;
      margin-top: 0;
    }

    &_shadow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .-even &_shadow {
      box-shadow: inset -10px 0 30px -15px rgba(0, 0, 0, .7);
    }

    .-odd &_shadow {
      box-shadow: inset 10px 0 30px -15px rgba(0, 0, 0, .7);
    }
  }

  .book_img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .stw-list {
    position: relative;

    display: block;
    object-position: center;
    object-fit: cover;
    cursor: pointer;

    width: 640px;
    height: 640px;

    @media (max-width: @bDesktop) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: @bTablet) {
      width: 50vw;
      height: 50vw;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;

      max-width: 50vw;
    }
  }

  @media print {
    .createBook {
      display: none;
    }
  }
</style>

