<template>
  <section class="delivery" id="delivery">
    <div class="delivery_wrap">
      <img src="~/assets/img/delivery/pic-1.png" alt="" class="delivery_photo">
      <div class="delivery_textGroup">
        <span class="delivery_title" v-text="data.title"></span>
        <span class="" v-html="data.content"></span>

        <!--
        <span class="delivery_desc" v-html="data.content"></span>

        <a @click="goToBook" class="delivery_link">Заказать</a>
        -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['data'],
  methods: {
    scrollTo (element, to, duration) {
      const start = element.scrollTop
      const change = to - start
      let currentTime = 0
      const increment = 20

      const animateScroll = () => {
        currentTime += increment
        element.scrollTop = this.easeInOutQuad(currentTime, start, change, duration)
        if (currentTime < duration) {
          setTimeout(animateScroll, increment)
        }
      }
      animateScroll()
    },
    //t = current time
    //b = start value
    //c = change in value
    //d = duration
    easeInOutQuad (t, b, c, d) {
      t /= d / 2
      if (t < 1) {
        return c / 2 * t * t + b
      } else {
        t--
        return -c / 2 * (t * (t - 2) - 1) + b
      }
    },
    goToBook () {
      if (this.$route.name === 'index' && document.querySelector('#makeBook')) {
        this.scrollTo( document.querySelector('html'),  document.querySelector('#makeBook').offsetTop, 1500)
      } else {
        this.$router.push('/#makeBook')
      }
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.delivery {
  position: relative;

  padding: 110px 80px 137px;
  flex-shrink: 0;

  @media (max-width: @bDesktop) {
    padding: 63px 40px 70px 0;
  }

  @media (max-width: @bLaptop) {

  }

  @media (max-width: @bTablet) {
    padding: 20px 0 130px;
  }

  @media (max-width: @bSmallTablet) {
    padding: 40px 0 132px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-55%);
    z-index: 0;

    width: 100%;
    height: 929px;

    background-image: url('../assets/img/delivery/back.png');
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: @bDesktop) {
      left: -50px;

      height: 564px;

      background-image: url('../assets/img/delivery/back-1300.png');
    }

    @media (max-width: @bLaptop) {
      height: 482px;

      background-image: url('../assets/img/delivery/back-980.png');
    }

    @media (max-width: @bTablet) {
      top: -50px;
      left: auto;
      transform: translate(0);
      right: 0;

      width: 540px;
      height: 548px;

      background-image: url('../assets/img/delivery/back-640.png');
    }

    @media (max-width: @bSmallTablet) {
      top: 50px;
      right: 9px;

      width: 285px;
      height: 327px;

      background-image: url('../assets/img/delivery/back-320.png');
    }
  }

  &_wrap {
    max-width: 1270px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bDesktop) {
      max-width: 1070px;
    }

    @media (max-width: @bLaptop) {
      max-width: 835px;
    }

    @media (max-width: @bTablet) {
      flex-direction: column;
    }
  }

  &_photo {
    position: relative;

    display: block;
    width: 583px;
    height: 500px;

    object-fit: contain;
    object-position: center;

    @media (max-width: @bDesktop) {
      width: 464px;
      height: 395px;
    }

    @media (max-width: @bLaptop) {
      width: 396px;
      height: 338px;
    }

    @media (max-width: @bTablet) {
      width: 373px;
      height: 317px;
    }

    @media (max-width: @bSmallTablet) {
      width: 242px;
      height: 211px;
    }
  }

  &_textGroup {
    position: relative;
    z-index: 1;

    max-width: 475px;
    padding: 80px 0 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(255, 255, 255);

    @media (max-width: @bDesktop) {
      padding: 50px 0 50px 50px;
      max-width: 420px;
    }

    @media (max-width: @bLaptop) {
      max-width: 345px;
    }

    @media (max-width: @bTablet) {
      max-width: 475px;
      margin-top: 25px;
      padding: 20px 0;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 20px;
      padding: 0 25px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -30px;
      left: -180px;
      z-index: -1;

      width: 249px;
      height: 265px;

      background-image: url('../assets/img/delivery/side.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: @bDesktop) {
        bottom: -10px;
        left: -150px;

        width: 191px;
        height: 227px;
      }

      @media (max-width: @bLaptop) {
        display: none;
      }
    }
  }

  &_title {
    color: rgb(54, 65, 92);
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;

    @media (max-width: @bDesktop) {
      font-size: 26px;
    }

    @media (max-width: @bLaptop) {
      font-size: 30px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 18px;
    }
  }

  &_desc {
    display: block;
    margin: 35px 0 0;

    color: rgb(119, 119, 119);
    font-family: @Philosopher;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.08px;
    text-align: center;

    @media (max-width: @bDesktop) {
      margin: 30px 0 0;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 12px;

      font-size: 12px;
      line-height: 22.08px;
    }
  }

  & p {
    margin: 0 0 20px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bSmallTablet) {
      margin: 0;
    }
  }

  &_link {
    display: block;
    padding: 35px 53px;
    border-radius: 47px;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    background-color: rgb(255, 230, 24);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    color: rgb(12, 26, 63);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.44px;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: @bDesktop) {
      display: none;
    }
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 8px 6px #ffa70f, 0 0 12px 14px #ffa70f;
  }
  100% {
    box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
  }
}
</style>
