<template>
  <section class="download">
    <div class="download_wrap">
      <span class="download_title">Как скачать приложение?</span>
      <div class="download_group">
        <div class="download_qrGroup">
          <img src="~/assets/img/download/code.png" alt="" class="download_code">
          <span class="download_textGroup">
            <span class="download_caption">QR-код</span>
            <span class="download_desc">Наведите устройство, чтобы канировать QR-код для скачивания:</span>
          </span>
        </div>
        <div class="download_linksGroup">
          <span class="download_notice">Также вы можете скачать приложение в следующих сервисах:</span>
          <div class="download_links">
            <a target="_blank" :href="googleLink" class="download_link -google"></a>
            <a target="_blank" :href="appstoreLink" class="download_link -appstore"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['data'],
  data: () => ({
    googleLink: 'https://play.google.com/store/apps/details?id=com.istwire.magicbookar',
    appstoreLink: 'https://itunes.apple.com/us/app/magic-book-ar/id1402684180?mt=8'
  })
}
</script>
<style lang="less">
@import '../assets/style/vars';

  .download {
    &_wrap {
      padding: 30px 0 120px;
      max-width: 1310px;
      margin: 0 auto;

      @media (max-width: @bDesktop) {
        padding: 40px 0 100px;
        max-width: 1250px;
      }

      @media (max-width: @bLaptop) {
        padding: 30px 0 70px;
      }

      @media (max-width: @bTablet) {
        padding: 35px 0 50px;
        max-width: 575px;
      }
      
      @media (max-width: @bSmallTablet) {
        padding: 35px 0;
        max-width: 390px;
      }
      
      @media (max-width: @bPhone) {
        padding: 25px 0;
        max-width: 290px;
      }
    }

    &_title {
      display: block;

      text-align: center;
      color: rgb(54, 65, 92);
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;

      @media (max-width: @bDesktop) {
        font-size: 35px;
      }

      @media (max-width: @bLaptop) {
        font-size: 25px;
      }
      
      @media (max-width: @bSmallTablet) {
        font-size: 20px;
      }
      
      @media (max-width: @bPhone) {
        font-size: 16px;
      }
    }

    &_group {
      margin-top: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: @bLaptop) {
        margin-top: 25px;
        flex-direction: column;
      }

      @media (max-width: @bTablet) {
        margin-top: 35px;
      }
      
      @media (max-width: @bSmallTablet) {
        margin-top: 30px;
      }
      
      @media (max-width: @bPhone) {
        margin-top: 25px;
      }
    }

    &_qrGroup {
      display: flex;
      align-items: center;
    }

    &_code {
      display: block;
      flex-shrink: 0;
      width: 180px;
      height: 180px;

      object-fit: contain;
      object-position: center;

      @media (max-width: @bLaptop) {
        width: 160px;
        height: 160px;
      }
      
      @media (max-width: @bSmallTablet) {
        width: 120px;
        height: 120px;
      }
      
      @media (max-width: @bPhone) {
        width: 97px;
        height: 97px;
      }
    }

    &_textGroup {
      display: block;
      width: 100%;
      max-width: 390px;
      margin-left: 50px;

      @media (max-width: @bLaptop) {
        margin-left: 40px;
      }

      @media (max-width: @bTablet) {
        max-width: none;
      }
      
      @media (max-width: @bSmallTablet) {
        margin-left: 25px;
      }
      
      @media (max-width: @bPhone) {
        margin-left: 20px;
      }
    }

    &_caption {
      display: block;

      color: rgb(54, 65, 92);
      font-size: 22px;
      font-weight: 800;
      text-transform: uppercase;
      
      @media (max-width: @bSmallTablet) {
        font-size: 18px;
      }
      
      @media (max-width: @bPhone) {
        font-size: 14px;
      }
    }

    &_desc {
      display: block;
      margin-top: 18px;

      color: rgb(119, 119, 119);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;

      @media (max-width: @bTablet) {
        font-size: 14px;
      }
      
      @media (max-width: @bSmallTablet) {
        margin-top: 15px;
        
        font-size: 12px;
      }
      
      @media (max-width: @bPhone) {
        margin-top: 10px;
        
        font-size: 11px;
      }
    }

    &_linksGroup {
      display: block;
      max-width: 565px;

      @media (max-width: @bLaptop) {
        margin-top: 55px;
        max-width: 500px;
      }

      @media (max-width: @bTablet) {
        max-width: 440px;
        margin-top: 35px;
      }
      
      @media (max-width: @bSmallTablet) {
        text-align: center;
      }
      
      @media (max-width: @bPhone) {
        margin-top: 30px;
      }
    }

    &_notice {
      display: block;

      color: rgb(119, 119, 119);
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      @media (max-width: @bLaptop) {
        font-size: 16px;
      }

      @media (max-width: @bTablet) {
        font-size: 14px;
      }
      
      @media (max-width: @bSmallTablet) {
        font-size: 12px;
      }
    }

    &_links {
      margin-top: 35px;
      display: flex;
      align-items: center;

      @media (max-width: @bLaptop) {
        margin-top: 25px;
        justify-content: center;
      }
      
      @media (max-width: @bPhone) {
        margin-top: 20px;
      }
    }

    &_link {
      display: block;
      width: 195px;
      height: 55px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      & + & {
        margin-left: 35px;

        @media (max-width: @bTablet) {
          margin-left: 27px;
        }
        
        @media (max-width: @bPhone) {
          margin-left: 22px;
        }
      }

      @media (max-width: @bLaptop) {
        width: 153px;
        height: 44px;
      }
      
      @media (max-width: @bSmallTablet) {
        width: 133px;
        height: 38px;
      }
      
      @media (max-width: @bPhone) {
        width: 121px;
        height: 35px;
      }

      &.-appstore {
        background-image: url('../assets/img/download/appstore-btn.png');

      }

      &.-google {
        background-image: url('../assets/img/download/google-btn.png');
      }
    }
  }


</style>
