<template>
  <div class="flipBook">
    <div class="flipBook_shadow" :class="{'-first': current === 0, '-last': current === pages.length - 1}"></div>
    <div v-for="(page, index) in items"
         :key="index"
         class="page"
         :class="page.classes"
         @click="turn(index)"
         :style="page.style"
    >
      <slot :page="page" :index="index"></slot>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    current: 0,
    direction: 'next',
    style: {}
  }),
  props: {
    pages: {
      type: Array,
      required: true
    },
    page: {
      type: Number
    }
  },
  computed: {
    items () {
      return this.pages.map((p, i) => {
        let transform = i % 2 && this.current < i ? 'rotateY(180deg)' : 'none'
        if (i % 2 === 0 && this.current > i + 1) {
          transform = 'rotateY(-180deg)'
        }
        return {
          classes: [
            this.positionClass(i),
            this.isHidden(i)
          ],
          style: {
            zIndex: this.current > i ? i - this.current + 2 : this.current - i,
            transform
          },
          ...p
      }})
    }
  },
  watch: {
    current (newVal, oldVal) {
      this.direction = newVal > oldVal ? 'next' : 'prev'
    },
    page (newVal) {
      this.current = newVal
    }
  },
  methods: {
    positionClass (i) {
      let positionClass = i % 2 ? '-even' : '-odd'
      if (i === 0) {
        positionClass += ' -first'
      }
      if (this.pages.length - 1 === i) {
        positionClass += ' -last'
      }
      return positionClass
    },
    isHidden (i) {
      if (this.current < i - 1 || this.current > i + 1 ) {
        return '-hidden'
      }
    },
    turn (i) {
      if (i % 2 === 0) {
        this.current = this.current + 2
      } else if (i % 2) {
        this.current = this.current - 2
      }
      console.log('turn', i, this.current)
    }
  }
}
</script>

<style lang="less" scoped>
.flipBook {
  position: relative;
  perspective: 3000px;

  &_shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all .1s;

    &.-first {
      left: 50%;
      transition-delay: .5s;
    }
    &.-last {
      right: 50px;
      transition-delay: .5s;
    }
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;

  width: 50%;

  transform-style: preserve-3d;
  transition: all .8s;
  cursor: pointer;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.7);

  @media (max-width: 980px) {
    transition: none;
  }

  &.-first {
    left: auto;
    margin: 0 auto;
  }

  &.-even {
    left: 0;
    right: auto;
    transform-origin: 100% 0;
  }

  &.-odd {
    left: auto;
    right: 0;
    transform-origin: 0 50% 0;
  }

  &.-hidden {
    pointer-events: none;
    visibility: hidden;
  }
}




@keyframes oddNext {
  0% {
    transform: none;
  }

  100% {
    transform: rotateY(180deg)
  }
}

@keyframes evenNext {
  0% {
    transform: none;
  }

  100% {
    transform: rotateY(-180deg);
  }
}
</style>
