<template>
  <section class="footer">
    <div class="footer_wrap">
      <span class="footer_elem">all rights reserved </span>
      <span class="footer_elem">made by istwire.com</span>
    </div>
  </section>
</template>

<style lang="less">
@import '../assets/style/vars.less';

.footer {
  position: relative;

  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 688px;

    background-image: url('../assets/img/footer/back.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: @bDesktop) {
      height: 500px;
    }

    @media (max-width: 1395px) {
      bottom: -100px;
    }

    @media (max-width: @bLaptop) {
      bottom: 0;

      height: 446px;

      background-image: url('../assets/img/footer/back-980.png');
    }

    @media (max-width: @bTablet) {
      width: 100%;
      height: 535px;

      background-image: url('../assets/img/footer/back-640.png');
    }

    @media (max-width: @bSmallTablet) {
      display: none;
    }
  }

  &_wrap {
    padding: 5px 0 53px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding-bottom: 40px;
    }

    @media (max-width: @bLaptop) {
      padding-bottom: 45px;
    }

    @media (max-width: @bTablet) {
      padding: 0;
    }
  }

  &_elem {
    color: rgba(142, 142, 142, .8);
    font-family: @ArialMT;
    font-size: 12px;

    @media (max-width: @bDesktop) {
      display: none;
    }
  }
}
</style>
