<template>
  <section class="formatsPopup" id="popup-formats">
    <div class="formatsPopup_wrap">
      <span class="formatsPopup_close js-popup-close" @click="close">Закрыть</span>
      <span class="formatsPopup_title">Выберите формат для своей книги</span>
      <span class="formatsPopup_notice">Выберите свой вариант ниже</span>

      <div class="formatsPopup_items">
        <div v-for="format in formats"
             :key="`format${format._id}`"
             class="formatsPopup_item">
          <span class="formatsPopup_caption" v-html="format.name"></span>
          <div class="formatsPopup_info">
            <img :src="format.preview" alt="" class="formatsPopup_photo">
            <span class="formatsPopup_desc" v-html="format.description"></span>
            <button class="formatsPopup_btn" @click="select(format)">Выбрать</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

import {
  BOOK_UPDATE,
  MODAL_CLOSE
} from '../store/mutations.type'

export default {
  computed: {
    ...mapGetters({
      formats: 'formats'
    })
  },
  methods: {
    close () {
      this.$store.commit(MODAL_CLOSE, 'formats')
    },
    select (format) {
      this.$store.commit(BOOK_UPDATE, { field: 'format', value: format })
      this.$store.commit(MODAL_CLOSE, 'formats')
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.formatsPopup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 99;

  width: 100%;

  background-color: rgb(232, 232, 232);

  transition: .3s all;

  @media (max-width: @bTablet) {
    position: fixed;
    transform: translate(0);

    overflow: auto;
    max-height: 100vh;
  }

  @media (max-width: @bSmallTablet) {

  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 45px 0 55px;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 20px 0 30px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 25px 0;
    }

    @media (max-width: @bTablet) {
      padding: 30px 25px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 13px 23px;
    }
  }

  &_close {
    display: none;

    color: rgba(82, 82, 82, .32);
    font-family: @ArialMT;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    @media (max-width: @bTablet) {
      display: inline;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
      text-align: left;
    }
  }

  &_title {
    display: block;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-top: 45px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
      text-align: left;
    }
  }

  &_notice {
    display: block;
    margin-top: 10px;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 400;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 8px;

      font-size: 12px;
      left: auto;
    }
  }

  &_items {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    @media (max-width: @bDesktop) {
      margin-top: 25px;
    }

    @media (max-width: @bTablet) {
      max-width: 475px;
      flex-wrap: wrap;
      margin: 35px auto 0;
    }

    @media (max-width: @bSmallTablet) {
      margin: 12px auto 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &_item {
    width: 304px;
    height: 530px;
    box-sizing: border-box;
    border-radius: 5px;

    background-color: rgb(255, 255, 255);

    transition: .3s all;

    &:hover {
      margin-top: -10px;

      box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.34);
    }

    @media (max-width: @bDesktop) {
      width: 227px;
      height: 397px;
    }

    @media (max-width: @bLaptop) {
      width: 223px;
      height: 389px;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 30px;
    }

    @media (max-width: @bSmallTablet) {
      width: 273px;
      height: 345px;
      margin-bottom: 17px;
    }
  }

  &_caption {
    display: block;
    padding: 25px 0 23px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

    color: rgb(131, 131, 131);
    font-size: 18px;
    font-weight: 900;
    text-align: center;

    @media (max-width: @bDesktop) {
      padding: 16px 0 14px;

      font-size: 13px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 15px;

      font-size: 12px;
    }
  }

  &_info {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 25px 25px;

    @media (max-width: @bDesktop) {
      padding: 20px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 18px 21px;
    }
  }

  &_photo {
    display: block;
    height: 180px;
    width: 100%;

    object-fit: cover;
    object-position: center;

    @media (max-width: @bDesktop) {
      height: 130px;
    }

    @media (max-width: @bSmallTablet) {
      width: 123px;
      height: 115px;
      margin: 0 auto;
    }
  }

  &_desc {
    display: block;
    height: 144px;
    overflow: hidden;
    margin: 17px 0;

    color: rgb(131, 131, 131);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: @bDesktop) {
      height: 108px;
      margin: 15px 0;

      font-size: 12px;
      line-height: 18px;
    }

    @media (max-width: @bSmallTablet) {
      height: 72px;
    }
  }

  &_btn {
    display: block;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 19px 10px 17px;

    color: rgb(54, 65, 92);
    font-size: 15px;
    font-weight: 500;
    text-align: center;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    border-radius: 23px;
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    cursor: pointer;

    @media (max-width: @bDesktop) {
      padding: 15px 0 13px;
      border-radius: 19px;

      font-size: 11px;
    }
  }
}
</style>
