<template>
  <section class="formPopup" v-if="isOpen">
    <div class="formPopup_overlay" @click="close"></div>
    <div class="formPopup_formWrap">
      <i class="formPopup_close" @click="close"></i>
      <span class="formPopup_title">Свяжитесь с нами!</span>
      <form class="formPopup_form" @submit.stop.prevent="submit">
        <div class="formPopup_group">
          <label for="name-input" class="formPopup_label">Введите имя:</label>
          <input v-model="name" id="name-input" type="text" class="formPopup_input" placeholder="Имя">
        </div>
        <div class="formPopup_group">
          <label for="tel-input" class="formPopup_label">Введите номер телефона:</label>
          <input v-model="tel"  id="tel-input" type="tel" class="formPopup_input" placeholder="Телефон">
        </div>
        <div class="formPopup_group">
          <label for="comment-input" class="formPopup_label">Введите комментарий:</label>
          <textarea v-model="comment" id="comment-input" class="formPopup_comment" placeholder="Текст"></textarea>
        </div>
        <button class="formPopup_button">Отправить</button>
      </form>
    </div>
  </section>
</template>

<script>
  import $ from 'jquery'
  import { MODAL_CLOSE, MODAL_OPEN } from '../store/mutations.type'
  import ApiService from '../common/api.service'

  export default {
    data: () => ({
      name: '',
      tel: '',
      comment: ''
    }),
    computed: {
      isOpen () {
        return this.$store.state.modal.form
      }
    },
    methods: {
      close () {
        this.$store.commit(MODAL_CLOSE, 'form')
        this.name = ''
        this.tel = ''
        this.comment = ''
      },
      submit () {
        if (!this.name && !this.tel) {
          return
        }
        ApiService.post('feedback', {
          name: this.name,
          tel: this.tel,
          comment: this.comment
        })
        this.name = ''
        this.tel = ''
        this.comment = ''
        this.close()
        this.$store.commit(MODAL_OPEN, 'thank')
      }
    }
  }
</script>

<style lang="less">
@import '../assets/style/vars';

  .formPopup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &_formWrap {
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 99;

      padding: 35px 20px;
      box-sizing: border-box;
      max-width: 465px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      box-shadow: 0 0 49px rgba(12, 26, 63, 0.33);
      border-radius: 50px 0 0 50px;
      background-color: rgb(250, 223, 29);
      background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

      @media (max-width: @bLaptop) {
        padding: 30px 20px;
      }

      @media (max-width: @bTablet) {
        padding: 25px 20px;
        max-width: 400px;
      }

      @media (max-width: @bSmallTablet) {
        max-width: 350px;
      }

      @media (max-width: @bPhone) {
        max-width: 300px;
      }

      &::before {
        content: '';
        position: absolute;
        left: -185px;
        top: 160px;

        width: 285px;
        height: 430px;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../assets/img/formPopup/pic.png');

        pointer-events: none;

        @media (max-width: @bTablet) {
          left: -180px;

          width: 255px;
          height: 385px;
        }

        @media (max-width: @bSmallTablet) {
          display: none;
        }
      }
    }

    &_close {
      position: absolute;
      top: 40px;
      right: 20px;

      width: 15px;
      height: 15px;

      background-image: url('../assets/img/formPopup/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      cursor: pointer;

      @media (max-width: @bLaptop) {
        top: 35px;
      }

      @media (max-width: @bTablet) {
        top: 30px;
      }

      @media (max-width: @bPhone) {
        top: 28px;

        width: 13px;
        height: 13px;
      }
    }

    &_overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &_title {
      display: block;

      text-align: center;
      color: rgb(51, 34, 87);
      font-size: 22px;
      font-weight: 800;
      text-transform: uppercase;

      @media (max-width: @bTablet) {
        font-size: 20px;
      }

      @media (max-width: @bPhone) {
        font-size: 16px;
      }
    }

    &_form {
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 245px;

      @media (max-width: @bLaptop) {
        margin-top: 30px;
      }

      @media (max-width: @bTablet) {
        margin-top: 25px;
      }

      @media (max-width: @bPhone) {
        margin-top: 20px;
      }
    }

    &_group {
      width: 100%;
      margin-bottom: 20px;

      @media (max-width: @bTablet) {
        margin-bottom: 15px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &_label {
      display: block;
      margin-bottom: 12px;

      color: rgb(51, 34, 87);
      font-size: 13px;
      font-weight: 500;

      cursor: pointer;

      @media (max-width: @bSmallTablet) {
        font-size: 12px;
      }

      @media (max-width: @bPhone) {
        font-size: 11px;
      }
    }

    &_input {
      width: 100%;
      box-sizing: border-box;
      border-radius: 22px;
      border: 2px solid rgba(51, 34, 87, .2);
      padding: 14px 22px 15px;

      color: rgb(51, 34, 87);
      font-family: @Geometria;
      font-size: 16px;
      font-weight: 500;

      -webkit-appearance: none;
      appearance: none;

      background-color: transparent;

      transition: .3s all;

      &.-error {
        border-color: rgb(237, 73, 86);
        box-shadow: 0 0 7px rgb(237, 73, 86);
      }

      &_input::-moz-placeholder {
        color: rgb(51, 34, 87);
        font-weight: 500;
      }

      &_input::-webkit-input-placeholder {
        color: rgb(51, 34, 87);
        font-weight: 500;
      }

      &.-error:hover,
      &.-error:focus {
        border-color: rgb(237, 73, 86);
        box-shadow: 0 0 7px rgb(237, 73, 86);
      }

      &:hover,
      &:focus {
        border-color: rgb(51, 34, 87);
        box-shadow: 0 0 7px rgb(51, 34, 87);
      }

      @media (max-width: @bPhone) {
        padding: 11px 15px 12px;
        border-radius: 20px;
      }
    }

    &_comment {
      width: 100%;
      height: 100px;
      box-sizing: border-box;
      border-radius: 22px;
      border: 2px solid rgba(51, 34, 87, .2);
      padding: 14px 22px 15px;

      color: rgb(51, 34, 87);
      font-size: 16px;
      font-weight: 500;
      font-family: @Geometria;

      background-color: transparent;
      resize: none;
      transition: .3s all;

      -webkit-appearance: none;
      appearance: none;

      &:hover,
      &:focus {
        border-color: rgb(51, 34, 87);
        box-shadow: 0 0 7px rgb(51, 34, 87);
      }

      &_comment::-moz-placeholder {
        color: rgb(51, 34, 87);
        font-weight: 500;
      }

      &_comment::-webkit-input-placeholder {
        color: rgb(51, 34, 87);
        font-weight: 500;
      }



      @media (max-width: @bPhone) {
        padding: 11px 15px 12px;
        height: 70px;
        border-radius: 20px;
      }
    }

    &_button {
      padding: 15px 0;
      width: 100%;
      box-sizing: border-box;
      margin-top: 30px;
      border-radius: 22px;
      border: 2px solid rgb(51, 34, 87);

      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 13px;
      font-weight: 500;

      box-shadow: 0 0 7px rgb(51, 34, 87);
      background-color: rgb(51, 34, 87);
      cursor: pointer;

      @media (max-width: @bSmallTablet) {
        font-size: 12px;
      }

      @media (max-width: @bPhone) {
        margin-top: 20px;
        padding: 13px 0;

        font-size: 11px;
      }
    }
  }

</style>
