<template>
  <section class="gallery" id="gallery">
    <div class="gallery_wrapper">
      <div class="gallery_wrap">
        <div class="gallery_items js-gallery-one swiper-container" ref="galleryOne">
          <button
          @click="prev"
            class="gallery_arrow -prev js-gallery-prev"
            type="button"></button>
          <button
            @click="next"
            class="gallery_arrow -next js-gallery-next"
            type="button"></button>
          <div class="gallery_itemsWrapper swiper-wrapper">
            <div v-for="(item, i) in items" :key="`photoOne${i}`" class="gallery_item swiper-slide">
              <img :src="item" alt="">
            </div>
          </div>
        </div>

        <div class="gallery_previews js-gallery-second swiper-container" ref="gallerySecond">
          <div class="gallery_previewsWrapper swiper-wrapper">
            <div v-for="(item, i) in items" :key="`photoSecond${i}`" class="gallery_preview swiper-slide">
              <img :src="item" alt="">
            </div>
          </div>
        </div>
        <span class="gallery_desc">{{desc}}</span>
      </div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper'

export default {
  props: ['items'],
  data: () => ({
    desc: 'Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.',
    swiperGalleryOne: '',
    swiperGallerySecond: ''
  }),
  mounted () {
    if (process.browser) {
      this.swiper(this.$refs.galleryOne, this.$refs.gallerySecond)
    }
  },
  watch: {
    items () {
      if (process.browser) {
        this.swiperGalleryOne.destroy()
        this.swiperGallerySecond.destroy()

        this.swiper(this.$refs.galleryOne, this.$refs.gallerySecond)
      }
    }
  },
  methods: {
    swiper (generalGallery, thumbGallery) {
      const swiperGalleryOne = new Swiper(generalGallery, {
        spaceBetween: 13,
        slidesPerView: 1,
        loopedSlides: this.items.length,
        loop: true
      })

      const swiperGallerySecond = new Swiper(thumbGallery, {
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        loopedSlides: this.items.length,
        loop: true
      })

      swiperGalleryOne.controller.control = swiperGallerySecond
      swiperGallerySecond.controller.control = swiperGalleryOne

      swiperGalleryOne.on('slideChangeStart', function () {
        swiperGallerySecond.slideTo(swiperGallerySecond.activeIndex + this.activeIndex - this.previousIndex, 300, false)
      })

      swiperGallerySecond.on('slideChangeStart', function () {
        swiperGalleryOne.slideTo(swiperGalleryOne.activeIndex + this.activeIndex - this.previousIndex, 300, false)
      })

      this.swiperGalleryOne = swiperGalleryOne
      this.swiperGallerySecond = swiperGallerySecond
    },
    prev () {
      this.swiperGalleryOne.slideNext()
    },
    next () {
      this.swiperGalleryOne.slidePrev()
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.gallery {
  position: relative;

  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;

    width: 100%;
    height: 908px;

    background-image: url('../assets/img/gallery/back.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: @bDesktop) {
      height: 616px;
    }

    @media (max-width: @bLaptop) {
      background-image: url('../assets/img/gallery/back-980.png');
    }

    @media (max-width: @bTablet) {
      height: 470px;

      background-image: url('../assets/img/gallery/back-640.png');
    }
  }

  &_wrapper {
    padding: 55px 0;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
    }

    @media (max-width: @bLaptop) {
      max-width: 860px;
    }

    @media (max-width: @bTablet) {
      padding: 48px 20px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 0;
    }
  }

  &_wrap {
    position: relative;

    width: 732px;

    @media (max-width: @bDesktop) {
      width: 556px;
    }

    @media (max-width: @bTablet) {
      width: 100%;
    }

    &::before {
      content: '';

      position: absolute;
      top: -20px;
      left: -430px;

      width: 464px;
      height: 524px;

      background-image: url('../assets/img/gallery/side-1.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: @bDesktop) {
        top: 8px;
        left: -313px;

        width: 331px;
        height: 371px;

        background-image: url('../assets/img/gallery/side-1-1300.png');
      }

      @media (max-width: @bTablet) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 58px;
      left: -10px;
      z-index: 1;

      width: 58px;
      height: 74px;

      background-image: url('../assets/img/gallery/side-2.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: @bDesktop) {
        top: 52px;

        width: 43px;
        height: 56px;
      }

      @media (max-width: @bTablet) {
        display: none;
      }
    }
  }

  &_items {
    position: relative;
  }

  &_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    width: 20px;
    height: 39px;
    display: none;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &.-prev {
      left: 15px;
      background-image: url(../assets/svg/arrow-prev.svg);

      &:hover {
        background-image: url(../assets/svg/arrow-prev-active.svg);
      }
    }

    &.-next {
      right: 15px;
      background-image: url(../assets/svg/arrow-next.svg);

      &:hover {
        background-image: url(../assets/svg/arrow-next-active.svg);
      }
    }

    @media (max-width: @bSmallTablet) {
      width: 16px;
      height: 30px;
      display: block;
    }
  }

  &_item {
    position: relative;
    z-index: -1;

    width: 100%;
    height: 411px;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 10px;

    background-position: center center;
    background-size: cover;

    border-radius: 7px;
    background-color: rgb(247, 247, 247);
    background-image: linear-gradient(-53deg, rgb(230, 157, 255) 0%, rgb(162, 212, 255) 100%);

    cursor: pointer;

    & > * {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    @media (max-width: @bDesktop) {
      height: 319px;
      padding: 8px;
    }

    @media (max-width: @bTablet) {
      height: 345px;
    }

    @media (max-width: @bSmallTablet) {
      height: 240px;
      padding: 0;
    }
  }

  &_previews {
    display: block;

    @media (max-width: @bSmallTablet) {
      display: none;
    }
  }

  &_preview {
    width: 111px;
    height: 66px;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 13px;
    margin-top: 25px;

    background-position: center center;
    background-size: cover;
    background-color: rgb(244, 244, 244);

    transition: .3s all;

    cursor: pointer;

    &.swiper-slide-active,
    &:hover {
      background-color: rgb(255, 252, 0);
    }

    & > * {
      width: 100%;
      height: 100%;
    }

    @media (max-width: @bDesktop) {
      width: 85px;
      height: 50px;
      padding: 3px;
      margin: 15px 9px 0 0;
    }

    @media (max-width: @bTablet) {
      width: 91px;
      height: 54px;
    }
  }

  &_desc {
    display: block;
    box-sizing: border-box;
    margin-top: 38px;

    color: rgb(119, 119, 119);
    font-family: @Philosopher;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.08px;
    text-align: center;

    @media (max-width: @bDesktop) {
      display: none;
    }

    @media (max-width: @bTablet) {
      margin-top: 20px;
      display: block;
      width: 100%;
      padding: 0 30px;

      font-size: 15px;
      line-height: 21px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 25px;
      padding: 0 25px;

      font-size: 12px;
    }
  }
}
</style>
