<template>
  <section class="header" :class="theme">
    <div class="header_wrap">
      <img @click="openMenu = !openMenu" src="~/assets/svg/menu-icon.svg" class="header_menuIcon" alt="">

      <nuxt-link to="/" class="header_logoWrap">
        <img src="~/assets/img/header/logo.png" alt="" class="header_logo">
      </nuxt-link>
      <nav class="header_nav">
        <a @click="goToBook" class="header_link">
          Создать книгу
        </a>

        <nuxt-link v-for="(item, i) in nav"
           :key="`nav${i}`"
           :to="item.to"
           class="header_link">
          {{item.name}}
        </nuxt-link>
      </nav>
      <div class="header_infoGroup">
        <!--
        <a :href="`tel:${tel}`" class="header_tel">{{tel}}</a>
        -->
        <div class="header_btns">
          <a target="_blank" :href="appstoreLink" class="header_btn -appstore"></a>
          <a target="_blank" :href="googleLink" class="header_btn -google"></a>
        </div>

        <a @click="openModal" class="header_callBtn">Напишите нам!</a>

        <div class="header_cart"
             :data-number="cart.length"
             @click="openCart = !openCart">
          <img src="~/assets/svg/cart.svg" class="header_icon" alt="">
        </div>
      </div>
      <slot name="cart" v-if="openCart" />
    </div>

    <div class="header_overlay"></div>
    <nav v-if="openMenu" class="header_mobileMenu" @click="openMenu = false">
      <a @click="goToBook" class="header_mobileLink" :class="{'-active': isActive('index')}">
        Создать книгу
      </a>
      <nuxt-link v-for="(item, i) in nav"
                 :key="`navMobile${i}`"
                 :to="item.to"
                 class="header_mobileLink" :class="{'-active': isActive(item.to)}">
        {{item.name}}
      </nuxt-link>
    </nav>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { MODAL_OPEN } from '../store/mutations.type'

export default {
  props: ['theme', 'tel'],
  data: () => ({
    nav: [
      {
        to: '/about',
        name: 'О компании'
      },
      {
        to: '/qa',
        name: 'Вопросы и ответы'
      }
    ],
    openCart: false,
    openMenu: false,
    googleLink: 'https://play.google.com/store/apps/details?id=com.istwire.magicbookar',
    appstoreLink: 'https://itunes.apple.com/us/app/magic-book-ar/id1402684180?mt=8'
  }),
  computed: {
    ...mapGetters({
      cart: 'cart'
    })
  },
  mounted () {
    document.addEventListener('scroll', () => {
      this.openCart = false
    })
  },
  methods: {
    openModal () {
      this.$store.commit(MODAL_OPEN, 'form')
    },
    isActive (slug = '') {
      return slug === this.$route.name
    },
    scrollTo (element, to, duration) {
      const start = element.scrollTop
      const change = to - start
      let currentTime = 0
      const increment = 20

      const animateScroll = () => {
        currentTime += increment
        element.scrollTop = this.easeInOutQuad(currentTime, start, change, duration)
        if (currentTime < duration) {
          setTimeout(animateScroll, increment)
        }
      }
      animateScroll()
    },
    //t = current time
    //b = start value
    //c = change in value
    //d = duration
    easeInOutQuad (t, b, c, d) {
      t /= d / 2
      if (t < 1) {
        return c / 2 * t * t + b
      } else {
        t--
        return -c / 2 * (t * (t - 2) - 1) + b
      }
    },
    goToBook () {
      if (this.$route.name === 'index' && document.querySelector('#makeBook')) {
        document.querySelector('.makeBook_input').focus()
        this.scrollTo( document.querySelector('html'),  document.querySelector('#makeBook').offsetTop, 1500)
      } else {
        this.$router.push('/#makeBook')
      }
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars';

.header {
  position: relative;

  flex-shrink: 0;

  box-shadow: 0 0 45px 9px rgba(0, 0, 0, 0.16);

  &.-footer {
    margin-top: auto;

    box-shadow: none;
  }

  &.-main {
    box-shadow: none;

    @media (max-width: @bTablet) {
      background-color: rgb(255, 255, 255);
    }
  }

  &_wrap {
    position: relative;

    max-width: 1280px;
    padding: 15px 0;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 5px 0;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
    }

    @media (max-width: @bTablet) {
      padding: 8px 25px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 4px 15px;
    }
  }

  &.-order &_wrap {
    padding: 10px 0;
    justify-content: center;
  }
  
  &.-main &_wrap {
    @media (max-width: @bSmallTablet) {
      padding: 10px 15px;
    }
  }

  &_menuIcon {
    display: none;
    width: 29px;
    height: 21px;

    cursor: pointer;

    @media (max-width: @bTablet) {
      display: block;
    }

    @media (max-width: @bSmallTablet) {
      width: 21px;
      height: 15px;
    }
  }

  &.-main &_menuIcon,
  &.-footer &_menuIcon,
  &.-order &_menuIcon {
    @media (max-width: @bTablet) {
      display: none;
    }
  }

  &_logoWrap {
    flex-shrink: 0;
    margin-right: 50px;

    @media (max-width: @bDesktop) {
      margin-right: 70px;
    }

    @media (max-width: @bLaptop) {
      margin-right: 39px;
    }

    @media (max-width: @bTablet) {
      margin: 0;
    }
  }

  &.-order &_logoWrap {
    margin-right: 0;
  }

  &_logo {
    display: block;
    width: 140px;
    height: 66px;

    object-fit: contain;
    object-position: center;

    @media (max-width: @bDesktop) {
      width: 122px;
      height: 58px;
    }

    @media (max-width: @bTablet) {
      width: 134px;
      height: 64px;
    }

    @media (max-width: @bSmallTablet) {
      width: 92px;
      height: 44px;
    }
  }

  &.-order &_logo {
    width: 164px;
    height: 78px;
    margin-right: 0;

    @media (max-width: @bDesktop) {
      width: 150px;
      height: 70px;
    }

    @media (max-width: @bTablet) {
      width: 124px;
      height: 54px;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;

    @media (max-width: @bTablet) {
      display: none;
    }
  }

  &.-order &_nav {
    display: none;
  }

  &_link {
    margin-right: 35px;

    color: rgb(131, 131, 131);
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;

    cursor: pointer;
    transition: .3s all;

    &:hover,
    &.-active {
      color: rgb(255, 208, 0);
    }

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width: @bDesktop) {
      margin-right: 30px;

      font-size: 14px;
    }

    @media (max-width: @bLaptop) {
      margin-right: 20px;
    }
  }

  &_infoGroup {
    display: flex;
    align-items: center;
  }

  &.-order &_infoGroup {
    display: none;
  }

  &_tel {
    color: rgb(131, 131, 131);
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;

    transition: .3s all;

    &:hover {
      color: rgb(255, 208, 0);
    }

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      display: none;

      font-size: 17px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  &.-main &_tel,
  &.-footer &_tel {
    @media (max-width: @bTablet) {
      display: block;
    }
  }

  &_btns {
    display: flex;
    align-items: center;

    @media (max-width: @bTablet) {
      display: none;
    }
  }

  &.-main &_btns {
    display: none;
  }

  &_btn {
    position: relative;

    display: block;
    width: 146px;
    height: 46px;
    border-radius: 23px;

    background-image: linear-gradient(-3deg, rgb(81, 98, 109) 0%, rgb(159, 172, 180) 100%);

    & + & {
      margin-left: 14px;
    }

    @media (max-width: @bDesktop) {
      width: 140px;
      height: 41px;
    }

    &::before {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      width: 115px;
      height: 30px;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.-appstore::before {
      background-image: url('../assets/img/header/app-store-btn.png');
    }

    &.-google::before {
      background-image: url('../assets/img/header/google-btn.png');
    }
  }

  &_callBtn {
    display: none;

    border-radius: 30px;
    padding: 20px 50px;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
    cursor: pointer;

    @media (max-width: @bDesktop) {
      padding: 18px 45px;

      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      padding: 16px 41px;
    }
    
    @media (max-width: @bSmallTablet) {
      font-size: 14px;
    }
    
    @media (max-width: @bPhone) {
      font-size: 12px;
    }

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }
  }

  &.-main &_callBtn {
    display: block;
  }

  &_cart {
    position: relative;

    border: 0;
    width: 44px;
    height: 44px;
    margin-left: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(-53deg, rgb(230, 157, 255) 0%, rgb(162, 212, 255) 100%);

    cursor: pointer;

    &::before {
      content: attr(data-number);

      position: absolute;
      top: 0;
      right: 0;

      width: 17px;
      height: 17px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      color: rgb(50, 50, 50);
      font-family: @ArialMT;
      font-size: 10px;
      font-weight: 400;

      background-color: rgb(255, 208, 0);

      @media (max-width: @bSmallTablet) {
        width: 10px;
        height: 11px;

        font-size: 6px;
      }
    }

    @media (max-width: @bDesktop) {
      width: 42px;
      height: 42px;
      margin-left: 50px;
    }

    @media (max-width: @bLaptop) {
      margin-left: 25px;
    }

    @media (max-width: @bTablet) {
      margin-left: 0;
    }

    @media (max-width: @bSmallTablet) {
      width: 26px;
      height: 27px;
    }
  }

  &.-main &_cart,
  .-footer &_cart {
    @media (max-width: @bTablet) {
      display: none;
    }
  }

  &_icon {
    width: 20px;
    height: 20px;

    fill: #fff;

    @media (max-width: @bDesktop) {
      width: 18px;
      height: 18px;
    }

    @media (max-width: @bSmallTablet) {
      width: 13px;
      height: 12px;
    }
  }

  &_cartWrap {
    position: absolute;
    z-index: 30;
    right: 0;
    top: auto;
    bottom: 0;
    transform: translateY(100%);

    display: flex;
    flex-direction: column;
    padding: 27px 25px 20px;
    width: 335px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, .2);

    border-radius: 0 0 3px 3px;

    background-color: rgb(255, 255, 255);
  }

  &.-main &_cartWrap,
  &.-footer &_cartWrap {
    top: 0;
    bottom: auto;
    transform: translateY(-100%);

    border-top: 0;
  }

  &_cartTitle {
    display: block;

    text-align: center;
    color: rgb(12, 26, 63);
    font-size: 18px;
    font-weight: 700;
  }

  &_cartItems {
    width: 100%;
    margin-top: 25px;
  }

  &_cartItem {
    display: flex;
    justify-content: flex-start;
    max-height: 58px;

    margin-bottom: 17px;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  &_photo {
    display: block;
    height: 58px;
    width: 58px;
    margin-right: 17px;
    flex-shrink: 0;

    object-fit: cover;
    object-position: center;
  }

  &_cartInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_cartHeadLine {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_cartCaption {
    display: block;
    margin-top: -3px;

    color: rgb(12, 26, 63);
    font-size: 14px;
    font-weight: 700;
  }

  &_trash {
    width: 13px;
    height: 16px;

    fill: rgba(12, 26, 63, .8);

    cursor: pointer;
  }

  &_cartDesc {
    display: block;
    padding-right: 14px;

    color: rgb(54, 65, 92);
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
  }

  &_cartPrice {
    display: block;
    padding-right: 14px;

    color: rgb(173, 98, 249);
    font-size: 14px;
    font-weight: 900;
  }

  &_cartLink {
    display: block;
    border-radius: 24px;
    margin-top: 30px;
    padding: 17px 54px 15px;
    align-self: center;

    color: rgb(12, 26, 63);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    box-shadow: 0 0 8px rgba(12, 26, 63, 0.13);
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
  }

  &_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;

    display: none;
  }

  &_mobileMenu {
    position: absolute;
    left: 0;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 17px;
    box-sizing: border-box;
    width: 165px;

    box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
    background-color: rgb(255, 255, 255);

    transition: .3s all;

    &.-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &_mobileLink {
    display: block;
    margin-bottom: 20px;

    color: rgb(131, 131, 131);
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;

    transition: .3s all;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover,
    &.-active {
      color: rgb(255, 208, 0);
    }
  }

  &_arrow {
    width: 9px;
    height: 7px;
    margin-left: 5px;

    fill: rgb(131, 131, 131);

    transition: .3s all;
  }

  &_mobileLink:first-of-type:hover &_arrow {
    fill: rgb(255, 208, 0);
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 8px 6px #ffa70f, 0 0 12px 14px #ffa70f;
  }
  100% {
    box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
  }
}
</style>
