<template>
  <div class="header_cartWrap" v-if="cart.length > 0">
    <span class="header_cartTitle">Моя корзина</span>
    <div class="header_cartItems">
      <div v-for="(el, i) in cart" :key="`cartItem${i}`" class="header_cartItem">
        <img :src="url(el.images[0].path)" alt="" class="header_photo">
        <div class="header_cartInfo">
          <div class="header_cartHeadLine">
            <span class="header_cartCaption">Книга для "{{ el.letters }}"</span>
            <img @click="remove(el._id)" src="~/assets/svg/trash.svg" alt="" class="header_trash">
          </div>
          <span class="header_cartDesc">Формат книги "{{ el.format.name }}"</span>
          <span class="header_cartPrice">{{ el.format.price }} руб.</span>
        </div>
      </div>
    </div>
    <nuxt-link to="cart" class="header_cartLink">Перейти в корзину</nuxt-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { UPLOAD_URL } from '../common/config'
import { REMOVE_CART } from '../store/mutations.type'

export default {
  computed: {
    ...mapGetters({
      cart: 'cart'
    })
  },
  methods: {
    url (path) {
      return encodeURI(UPLOAD_URL + path)
    },
    remove (_id) {
      this.$store.commit(REMOVE_CART, _id)
    }
  }
}
</script>
