<template>
  <section class="messagePopup" id="popup-message">
    <div class="messagePopup_wrap">
      <span class="messagePopup_close js-popup-close">Закрыть</span>
      <span class="messagePopup_notice">Напишите специальное сообщение - бесплатно</span>
      <span class="messagePopup_notice">Мы напечатаем это на первой странице</span>
      <div class="messagePopup_item">
        <div class="messagePopup_photo" :style="{backgroundImage: `url(${img})`}">
          <div class="messagePopup_text" v-html="message"></div>
        </div>
        <textarea v-model="message" class="messagePopup_message"></textarea>
      </div>
      <button class="messagePopup_btn">Готово</button>
    </div>
  </section>
</template>

<script>
import { BOOK_UPDATE } from '../store/mutations.type'

export default {
  props: ['signature'],
  computed: {
    img () {
      return this.signature[this.$store.state.book.gender]
    },
    message: {
      get () {
        let msg = this.$store.state.book.message
        if (!msg) {
          msg  = this.$store.state.book.gender === 'man' ? 'Дорогой ' : 'Дорогая '
          msg += this.$store.state.book.letters + '!'
        }
        return msg
      },
      set (value) {
        this.$store.commit(BOOK_UPDATE, { field: 'message', value })
      }
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars';

.messagePopup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  transform: translateY(-100%);

  width: 100%;

  background-color: rgb(232, 232, 232);

  @media (max-width: @bTablet) {
    top: auto;
    transform: translate(0);
    bottom: 0;
  }

  @media (max-width: @bSmallTablet) {
    position: fixed;
    bottom: auto;
    top: 0;

    overflow: auto;
    min-height: 100vh;
  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 57px 0 29px;
    display: flex;
    flex-direction: column;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 30px 0 22px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 22px 0 23px;
    }

    @media (max-width: @bTablet) {
      padding: 30px 25px 45px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 13px 23px;
    }
  }

  &_close {
    display: none;

    color: rgba(82, 82, 82, .32);
    font-family: @ArialMT;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    @media (max-width: @bTablet) {
      display: inline;
      margin-bottom: 45px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 10px;

      font-size: 12px;
    }
  }

  &_notice {
    display: block;
    margin-bottom: 10px;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 8px;

      font-size: 12px;
      text-align: left;
    }
  }

  &_item {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 30px;

    @media (max-width: @bDesktop) {
      height: 242px;
      margin-top: 20px;
    }

    @media (max-width: @bLaptop) {
      height: 220px;
    }

    @media (max-width: @bTablet) {
      height: auto;
      flex-direction: column;
      margin-top: 25px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 15px;
    }
  }

  &_photo {
    display: block;
    width: 49%;
    height: 100%;

    background-position: center center;
    background-size: cover;

    @media (max-width: @bTablet) {
      width: 100%;
      height: 218px;
      margin-bottom: 30px;
    }

    @media (max-width: @bSmallTablet) {
      margin-bottom: 15px;
      height: 132px;
    }
  }

  &_message {
    display: block;
    width: 49%;
    box-sizing: border-box;
    padding: 32px 25px;
    border: 0;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    @media (max-width: @bDesktop) {
      padding: 25px 20px;

      font-size: 14px;
      line-height: 24px;
    }

    @media (max-width: @bLaptop) {

    }

    @media (max-width: @bTablet) {
      width: 100%;
      height: 218px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 15px;
      height: 132px;

      font-size: 11px;
      line-height: 18px;
    }
  }

  &_btn {
    display: block;
    border: 0;
    padding: 23px 60px;
    margin-top: 19px;
    align-self: flex-end;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    border-radius: 30px;
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);

    @media (max-width: @bDesktop) {
      padding: 18px 68px;
      margin-top: 22px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-top: 35px;
      align-self: center;
    }

    @media (max-width: @bSmallTablet) {
      padding: 14px 76px;
      margin-top: 17px;

      font-size: 11px;
    }
  }

  &_text {
    padding: 20px 30px;
  }
}
</style>
