<template>
  <section class="namePopup" id="popup-name">
    <div class="namePopup_wrap">
      <span class="namePopup_close js-popup-close" @click="close">Закрыть</span>
      <span class="namePopup_title">Для кого эта книга?</span>
      <span class="namePopup_caption">Проверьте сведения о ребенке</span>

      <form action="" class="makeBook_form">
        <div class="makeBook_inputGroup inputGroup">
          <label class="makeBook_label inputGroup_label">Имя</label>
          <input v-model.lazy.trim="name" type="text" class="makeBook_input inputGroup_input" placeholder="Олег">
        </div>

        <div v-if="false" class="makeBook_inputGroup inputGroup">
          <label class="makeBook_label inputGroup_label">Язык</label>
          <div class="makeBook_wrapper">
            <div class="makeBook_arrows">
              <img src="~/assets/svg/makeBook-arrow-up.svg" class="makeBook_arrow" alt="">
              <img src="~/assets/svg/makeBook-arrow-down.svg" class="makeBook_arrow" alt="">
            </div>
            <span class="makeBook_name" @click="showLang = !showLang">{{lang}}</span>
            <div v-if="showLang"
                 v-for="(l, i) in langs"
                 class="makeBook_list"
                 :style="{zIndex: i}"
                 :key="`lang${i}`">
              <span v-if="lang !== l"
                    class="makeBook_elem"
                    @click="lang = l; showLang = false"
                    v-text="l">
              </span>
            </div>
          </div>
        </div>

        <button class="makeBook_btn"
                type="button"
                :class="{'-active': gender === 'man'}"
                @click="gender = 'man'">
          Мальчик
        </button>
        <button class="makeBook_btn"
                type="button"
                :class="{'-active': gender === 'woman'}"
                @click="gender = 'woman'">
          Девочка
        </button>

        <div class="makeBook_inputGroup inputGroup -gender">
          <label class="makeBook_label inputGroup_label">Пол ребенка</label>
          <div class="makeBook_wrapper">
            <div class="makeBook_arrows">
              <img src="~/assets/svg/makeBook-arrow-up.svg" class="makeBook_arrow" alt="">
              <img src="~/assets/svg/makeBook-arrow-down.svg" class="makeBook_arrow" alt="">
            </div>
            <span class="makeBook_name" @click="showGender = !showGender">{{ gender === 'man' ? 'мальчик' : 'девочка' }}</span>
            <div v-if="showGender"
                 class="makeBook_list"
                 v-for="(g, i) in genders"
                 :key="`gender${i}`">
              <span v-if="gender !== g.value"
                    class="makeBook_elem"
                    @click="gender = g.value">
                {{g.label}}
              </span>
            </div>
          </div>
        </div>

        <a @click="createBook" class="makeBook_makeBtn namePopup_btn">Готово</a>
      </form>
    </div>
  </section>
</template>

<script>
import { BOOK_CREATE } from '../store/actions.type'
import { BOOK_UPDATE, MODAL_CLOSE } from '../store/mutations.type'
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    lang: 'ru',
    langs: ['ru', 'en'],
    letters: '',
    gender: 'man',
    genders: [
      {
        label: 'Мальчик',
        value: 'man'
      },
      {
        label: 'Девочка',
        value: 'woman'
      }
    ],
    showLang: false,
    showGender: false
  }),
  computed: {
    ...mapGetters({
      book: 'book'
    }),
    name: {
      get () {
        if (this.lang === 'ru') {
          return this.letters.toUpperCase().replace(/[^А-Я]/g, '')
        }

        if (this.lang === 'en') {
          return this.letters.toUpperCase().replace(/[^A-Z]/g, '')
        }
      },
      set (v) {
        this.letters = v
      }
    }
  },
  watch: {
    lang () {
      this.showLang = false
    },
    gender () {
      this.showGender = false
    }
  },
  mounted () {
    this.lang = this.$store.state.book.lang
    this.letters = this.$store.state.book.letters
    this.gender = this.$store.state.book.gender
  },
  methods: {
    close () {
      this.$store.commit(MODAL_CLOSE, 'name')
    },
    createBook () {
      this.$store.commit(MODAL_CLOSE, 'name')

      if (this.lang === this.$store.state.book.lang
          && this.name === this.$store.state.book.letters
          && this.gender === this.$store.state.book.gender) {
        return
      }

      this.$store.commit(BOOK_UPDATE, { field: 'lang', value: this.lang })
      this.$store.commit(BOOK_UPDATE, { field: 'name', value: this.name })
      this.$store.commit(BOOK_UPDATE, { field: 'gender', value: this.gender })
      this.$store.commit(BOOK_UPDATE, { field: 'images', value: [] })


      if (this.name.length) {
        this.$store
          .dispatch(BOOK_CREATE, { lang: this.lang, gender: this.gender, letters: this.name })
          .catch(e => console.log(`[MB] Ошибка при создании книги ${e}`))
      }
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars';
@import './MakeBook/MakeBook';

.namePopup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  transform: translateY(-100%);

  width: 100%;
  flex-shrink: 0;

  background-color: rgb(244, 244, 244);

  @media (max-width: @bTablet) {
    top: auto;
    bottom: 0;
    transform: translate(0);
  }

  @media (max-width: @bSmallTablet) {
    position: fixed;
    bottom: auto;
    top: 0;

    min-height: 100vh;
    overflow: auto;
  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 44px 0 48px;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 35px 0 48px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 23px 0 45px;
    }

    @media (max-width: @bTablet) {
      padding: 28px 25px 95px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 13px 23px;
    }
  }

  &_close {
    display: none;

    color: rgba(82, 82, 82, .32);
    font-family: @ArialMT;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    @media (max-width: @bTablet) {
      display: inline;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  &_title {
    display: block;

    color: rgb(82, 82, 82);
    font-family: @ArialMT;
    font-size: 18px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-top: 45px;

      text-align: center;
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 30px;

      font-size: 12px;
      text-align: left;
    }
  }

  &_caption {
    display: block;
    margin: 14px 0 35px;

    color: rgb(131, 131, 131);
    font-family: @ArialMT;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      text-align: center;
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      margin: 10px 0 17px;

      font-size: 12px;
      text-align: left;
    }
  }

  &_btn {
    padding: 20px 88px;

    @media (max-width: @bDesktop) {
      padding: 18px 65px;
    }
  }
}
</style>
