<template>
  <section class="questions">
    <div class="questions_wrap">
      <h1 class="questions_title">Вопросы и ответы</h1>
      <div class="questions_items">
        <div v-for="(item, i) in items"
             :key="`question${i}`"
             @click="open(i)"
             class="questions_item">
          <div class="questions_questionGroup">
            <span v-if="!opens[i]" class="questions_question">{{item.question}}</span>
            <span v-if="opens[i]" class="questions_back">
              <img src="~/assets/svg/questions-arrow.svg" class="questions_arrow" alt="">
              Назад
            </span>
            <div class="questions_showBtn">
              <img src="~/assets/svg/questions-check.svg"
                   class="questions_icon"
                   :class="{'-show': opens[i]}"
                   alt="">
              <span class="questions_text">
                {{ opens[i] ? 'Скрыть' : 'Показать' }}
              </span>
            </div>
          </div>
          <div v-if="opens[i]" class="questions_info" v-html="item.answer"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['items'],
  data: () => ({
    opens: {}
  }),
  methods: {
    open (i) {
      this.opens = Object.assign({}, this.opens, {[i]: !this.opens[i]})
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars';

.questions {
  flex-shrink: 0;

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0 177px;

    background-color: rgb(245, 245, 240);

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 40px 0 100px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 35px 10px 90px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 20px 10px;
    }
  }

  &_title {
    margin: 0;

    color: rgb(54, 65, 92);
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @media (max-width: @bDesktop) {
      font-size: 22px;
    }

    @media (max-width: @bLaptop) {
      font-size: 20px;
    }

    @media (max-width: @bTablet) {
      font-size: 18px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 14px;
    }
  }

  &_items {
    margin-top: 35px;

    @media (max-width: @bLaptop) {
      margin-top: 30px;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 22px;
    }
  }

  &_item {
    margin-bottom: 30px;
    border-radius: 40px;

    background-color: rgb(255, 255, 255);

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 20px;
    }

    @media (max-width: @bLaptop) {
      margin-bottom: 15px;
      border-radius: 30px;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 4px;
    }
  }

  &_questionGroup {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 28px 40px;

    cursor: pointer;

    background-color: rgb(255, 255, 255);

    @media (max-width: @bDesktop) {
      padding: 25px 35px;
    }

    @media (max-width: @bLaptop) {
      padding: 20px 30px;
    }

    @media (max-width: @bTablet) {
      padding: 15px;
    }

    @media (max-width: @bSmallTablet) {

    }
  }

  &_question {
    display: block;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_back {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 15px;

    color: rgb(158, 67, 252);
    font-size: 20px;
    font-weight: 900;

    cursor: pointer;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_arrow {
    width: 18px;
    height: 19px;
    margin-right: 7px;

    fill: rgb(158, 67, 252);

    @media (max-width: @bDesktop) {
      width: 16px;
      height: 17px;
    }

    @media (max-width: @bLaptop) {
      width: 14px;
      height: 15px;
    }

    @media (max-width: @bSmallTablet) {
      width: 10px;
      height: 10px;
    }
  }

  &_showBtn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  &_icon {
    width: 15px;
    height: 11px;
    margin-right: 12px;

    fill: rgb(158, 67, 252);

    transition: .3s all;

    @media (max-width: @bDesktop) {
      width: 13px;
      height: 9px;
    }

    @media (max-width: @bLaptop) {
      width: 12px;
      height: 8px;
    }

    @media (max-width: @bTablet) {
      width: 10px;
      height: 8px;
    }

    @media (max-width: @bSmallTablet) {
      width: 8px;
      height: 7px;
    }
  }

  &_icon.-show {
    transform: rotate(180deg);
  }

  &_text {
    color: rgb(158, 67, 252);
    font-size: 20px;
    font-weight: 900;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  &_info {
    flex-direction: column;
    padding: 0 40px 35px;

    @media (max-width: @bLaptop) {
      padding: 0 30px 30px;
    }

    @media (max-width: @bTablet) {
      padding: 0 15px 20px;
    }

    @media (max-width: @bSmallTablet) {

    }
  }

  & h2 {
    margin: 0;

    color: rgb(12, 26, 63);
    font-size: 24px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 20px;
    }

    @media (max-width: @bLaptop) {
      font-size: 18px;
    }

    @media (max-width: @bTablet) {
      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 12px;
    }
  }

  & ul {
    margin: 30px 0;
    padding: 0;
    list-style: none;

    @media (max-width: @bDesktop) {
      margin: 25px 0;
    }

    @media (max-width: @bLaptop) {
      margin: 20px 0;
    }

    @media (max-width: @bTablet) {
      margin: 10px 0;
    }

    @media (max-width: @bSmallTablet) {

    }
  }

  & li {
    display: block;
    padding: 0;
    margin-bottom: 15px;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 400;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 8px;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 11px;
    }
  }

  & strong {
    font-weight: 700;
    color: rgb(54, 65, 92);
  }

  & p {
    align-self: center;
    margin: 0;

    font-size: 18px;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bLaptop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-top: 30px;

      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 20px;

      font-size: 11px;
      line-height: 18px;
    }
  }
}
</style>
