<template>
  <div class="steps">
    <div class="steps_circle"
         :class="{ '-current': step == 1 }"
         data-name="Детали">1</div>
    <div class="steps_line"></div>
    <div class="steps_circle"
         :class="{ '-current': step == 2 }"
         data-name="Адрес">2</div>
    <div class="steps_line"></div>
    <div class="steps_circle"
         :class="{ '-current': step == 3 }"
         data-name="Доставка">3</div>
    <div class="steps_line"></div>
    <div class="steps_circle"
         :class="{ '-current': step == 3 }"
         data-name="Оплата">4</div>
  </div>
</template>

<script>
export default {
  props: ['step']
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;

  &_circle {
    position: relative;

    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;

    background-color: rgb(252, 220, 0);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
    opacity: .7;

    &::before {
      content: attr(data-name);
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);

      color: rgb(54, 65, 92);
      font-size: 16px;
      font-weight: 700;

      @media (max-width: @bDesktop) {
        bottom: -25px;

        font-size: 14px;
      }

      @media (max-width: @bTablet) {
        font-size: 12px;
      }

      @media (max-width: @bSmallTablet) {
        bottom: -20px;

        font-size: 10px;
      }
    }

    &.-current {
      box-shadow: 0 0 13px rgba(12, 26, 63, 0.14);
      opacity: 1;
    }

    @media (max-width: @bDesktop) {
      width: 48px;
      height: 48px;

      font-size: 18px;
    }

    @media (max-width: @bTablet) {
      width: 40px;
      height: 40px;

      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      width: 31px;
      height: 31px;

      font-size: 12px;
    }
  }

  &_line {
    width: 67px;
    height: 2px;

    background-color: rgba(250, 221, 25, .7);

    @media (max-width: @bTablet) {
      width: 50px;
      height: 1px;
    }

    @media (max-width: @bSmallTablet) {
      width: 40px;
      height: 2px;
    }
  }
}
</style>
