<template>
  <div class="thankPopup" v-if="isOpen">
    <div class="thankPopup_content">
      <div class="thankPopup_icon"></div>
      <span class="thankPopup_text">Динь-динь! Мы уже получили ваше письмо!</span>
    </div>
  </div>
</template>

<script>
  import { MODAL_CLOSE } from '../store/mutations.type'

  export default {
    computed: {
      isOpen () {
        return this.$store.state.modal.thank
      }
    },
    watch: {
      isOpen (value) {
        if (value) {
          setTimeout(() => {
            this.$store.commit(MODAL_CLOSE, 'thank')
          }, 3000)
        }
      }
    }
  }
</script>

<style lang="less">
  .thankPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;

    &_content {
      position: absolute;
      top: 50%;
      left: 50%;

      display: flex;
      align-items: center;
      padding: 20px 22px;
      font-family: 'Geometria', sans-serif;
      font-weight: 700;
      color: rgba(51, 34, 87, 255);

      background-color: #ffda0e;
      transform: translate(-50%, -50%);
      border-radius: 56px;
    }

    &_icon {
      display: block;
      width: 56px;
      height: 56px;
      flex-shrink: 0;
      border-radius: 50%;
      background-image: url(../assets/img/icon-thank.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &_text {
      padding: 0 24px;
    }
  }
</style>
