<template>
  <div class="total">
    <button @click="prev" class="total_back">
      <img src="~/assets/svg/questions-arrow.svg" class="total_icon" alt="">
      Назад
    </button>
    <span class="total_totalTitle">Итог заказа</span>
    <div class="total_totalGroups">
      <div class="total_totalGroup" v-if="subtotal != total">
        <span class="total_totalCaption">Подытог</span>
        <span class="total_totalPrice">{{subtotal}} руб.</span>
      </div>
      <div class="total_totalGroup">
        <span class="total_totalCaption">Итог</span>
        <span class="total_totalPrice">{{total}} руб.</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      subtotal: 'subtotal',
      total: 'total'
    })
  },
  methods: {
    prev () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less">
@import '../assets/style/vars.less';

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  max-width: 580px;
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 25px 40px 22px 35px;

  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  @media (max-width: @bDesktop) {
    margin-top: 70px;
  }

  @media (max-width: @bTablet) {
    padding: 20px;
    margin-top: 50px;
  }

  @media (max-width: @bSmallTablet) {
    display: none;
  }

  &_back {
    display: flex;
    align-items: center;

    color: rgb(158, 67, 252);
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

    background-color: transparent;
    border: 0;
    cursor: pointer;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bTablet) {
      font-size: 14px;
    }
  }

  &_icon {
    width: 18px;
    height: 19px;
    margin-right: 7px;

    fill: rgb(158, 67, 252);

    @media (max-width: @bDesktop) {
      width: 16px;
      height: 17px;
    }

    @media (max-width: @bTablet) {
      width: 14px;
      height: 15px;
    }
  }

  &_totalTitle {
    display: block;
    margin-top: 25px;

    color: rgb(12, 26, 63);
    font-size: 24px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      margin-top: 20px;

      font-size: 20px;
    }

    @media (max-width: @bTablet) {
      margin-top: 15px;

      font-size: 18px;
    }
  }

  &_totalGroups {
    width: 100%;
    margin-top: 35px;

    @media (max-width: @bDesktop) {
      margin-top: 25px;
    }

    @media (max-width: @bTablet) {
      margin-top: 15px;
    }
  }

  &_totalGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: @bDesktop) {
      margin-bottom: 13px;
    }

    @media (max-width: @bTablet) {
      margin-bottom: 8px;
    }
  }

  &_totalCaption {
    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;

    @media (max-width: @bDesktop) {
      font-size: 16px;
    }

    @media (max-width: @bTablet) {
      font-size: 14px;
    }
  }

  &_totalPrice {
    color: rgb(158, 67, 252);
    font-size: 20px;
    font-weight: 700;

    @media (max-width: @bDesktop) {
      font-size: 18px;
    }

    @media (max-width: @bTablet) {
      font-size: 16px;
    }
  }
}
</style>
