<template>
  <section class="welcome">
    <div class="welcome_wrap">
      <h1 class="welcome_title">
        Создайте сказочную книгу с именем ребенка
      </h1>
      <span class="welcome_caption">
        Отыщите все буквы имени на красочных страницах
      </span>
    </div>
  </section>
</template>

<style lang="less">
@import '../assets/style/vars';

.welcome {
  flex-shrink: 0;

  background-image: url('../assets/img/welcome/back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: inset 0 0 68px rgba(18, 16, 12, 0.35);

  @media (max-width: @bLaptop) {
    background-image: url('../assets/img/welcome/back-980.jpg');
  }

  @media (max-width: @bTablet) {
    background-image: url('../assets/img/welcome/back-640.jpg');
  }

  @media (max-width: @bSmallTablet) {
    background-image: url('../assets/img/welcome/back-320.jpg');
  }

  &_wrap {
    min-height: 540px;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 0;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      min-height: 430px;
      padding: 125px 0 130px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 130px 0 120px;
      min-height: 404px;
    }

    @media (max-width: @bTablet) {
      padding: 50px 70px 430px;
      min-height: 640px;
      align-items: center;
    }

    @media (max-width: @bSmallTablet) {
      min-height: 310px;
      padding: 25px 25px 240px;
    }
  }

  &_title {
    margin: 0;
    max-width: 630px;
    display: block;

    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 900;
    line-height: 46.24px;
    text-transform: uppercase;

    @media (max-width: @bDesktop) {
      max-width: 470px;

      font-size: 28px;
      line-height: 34.28px;
    }

    @media (max-width: @bLaptop) {
      max-width: 400px;

      font-size: 24px;
      line-height: 37px;
    }

    @media (max-width: @bTablet) {
      width: 100%;
      max-width: none;

      font-size: 30px;
      line-height: 46.24px;
      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &_caption {
    display: block;
    max-width: 500px;
    margin-top: 55px;

    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;

    @media (max-width: @bDesktop) {
      max-width: 400px;
      margin-top: 48px;

      font-size: 22px;
      line-height: 25.21px;
    }

    @media (max-width: @bLaptop) {
      max-width: 300px;
      margin-top: 30px;

      font-size: 18px;
      line-height: 25px;
    }

    @media (max-width: @bTablet) {
      max-width: 350px;
      margin-top: 20px;

      font-size: 20px;
      line-height: 34px;
      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      margin-top: 13px;

      font-size: 12px;
      line-height: 16px;
    }
  }
}
</style>
