<template>
  <div class="Coupons">
    <div class="pt-2 pb-3">
      <v-btn color="primary" @click.native="save">Сохранить</v-btn>
      <v-btn @click.native="add">Добавить</v-btn>
    </div>
    <v-data-table
      :headers="headers"
      :items="coupons"
      hide-actions
      class="elevation-1">
      <template slot="items" slot-scope="props">
        <td>
          <v-text-field
            v-model.trim="props.item.code"
            label="Купон"
          />
        </td>
        <td>
          <v-text-field
            v-model.number="props.item.value"
            label="Значение"
          />
        </td>
        <td>
          <v-select
            v-model="props.item.type"
            :items="types"
            label="Тип"
            item-value="type"
            item-text="value"
          />
        </td>
        <td>
          <v-btn fab flat color="error"
                 @click="remove(props.item._id)">
            <v-icon>delete</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import apiFields from '@/api/fields'
import uniqBy from 'lodash.uniqby'
import uuid from 'uuid'

export default {
  data: () => ({
    coupons: [],
    types: [
      {
        type: 'percent',
        value: 'Процент'
      },
      {
        type: 'number',
        value: 'Число'
      }
    ],
    headers: [
      {
        text: 'Код',
        sortable: false,
        value: 'code',
        align: 'left'
      },
      {
        text: 'Значение',
        sortable: false,
        value: 'value',
        align: 'left'
      },
      {
        text: 'Тип',
        sortable: false,
        value: 'type',
        align: 'left'
      }
    ]
  }),
  mounted () {
    apiFields.get('coupons')
      .then(coupons => {
        this.coupons = coupons || []
      })
  },
  methods: {
    save () {
      let coupons = this.coupons
        .filter(coupon => coupon.code)
        .map(coupon => ({
          ...coupon,
          value: parseFloat(coupon.value),
          type: coupon.type ? coupon.type : 'number'
        }))

      coupons = uniqBy(coupons, 'code')

      apiFields.update('coupons', coupons)
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    },
    add () {
      this.coupons.push({ code: '', value: '', type: '', _id: uuid() })
    },
    remove (id) {
      this.coupons = this.coupons.filter(coupon => coupon._id !== id)
    }
  }
}
</script>
