<template>
  <div class="Orders">
    <v-data-table
      :headers="headers"
      :items="orders"
      class="elevation-1">
      <template slot="items" slot-scope="props">
        <td>{{ props.item._id }}</td>
        <td>{{ props.item.status }}</td>
        <td>
          {{ new Date(props.item.dateCreated).toLocaleString() }}
        </td>
        <td>{{ props.item.billing.email }}</td>
        <td>{{ props.item.billing.phone }}</td>
        <td>
          <v-btn fab flat color="blue" :to="`/orders/${props.item._id}`">
            <v-icon>open_in_new</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import orderApi from '@/api/order'

export default {
  data: () => ({
    orders: [],
    headers: [
      {
        text: 'ID',
        sortable: false,
        value: '_id',
        align: 'left'
      },
      {
        text: 'Статус',
        value: 'status',
        align: 'left'
      },
      {
        text: 'Дата создания',
        value: 'dateCreated',
        align: 'left'
      },
      {
        text: 'Почта',
        value: 'billing.email',
        align: 'left'
      },
      {
        text: 'Телефон',
        value: 'billing.phone',
        align: 'left'
      }
    ]
  }),
  mounted () {
    orderApi.all()
      .then(orders => {
        this.orders = orders
      })
  }
}
</script>
