<template>
  <div class="Order">
    <v-layout>
      <h2 class="title ma-3">Заказ {{id}}, от {{ new Date(order.dateCreated).toLocaleString() }}</h2>

      <v-flex xs2 d-flex class="ml-3">
        <v-select
          v-model="order.status"
          :items="statuses"
          @change="updateStatus"
          label="Статус"
        />
      </v-flex>
    </v-layout>
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3>
          <info-card title="Личные данные" :items="generalFields(order)" xs12 sm6 md4 lg3 />
        </v-flex>

        <v-flex xs12 sm6 md4 lg3>
          <info-card title="Адрес" :items="addressFields(order)" xs12 sm6 md4 lg3 />
        </v-flex>

        <v-flex xs12 sm6 md4 lg3>
          <info-card title="Доставка" :items="deliveryFields(order)" xs12 sm6 md4 lg3 />
        </v-flex>
      </v-layout>
    </v-container>

    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3  v-for="(book, i) in books" :key="book._id">
          <v-card>
            <v-card-title><h4>Книга #{{i}}</h4></v-card-title>
            <v-divider />
            <v-list dense>
              <v-list-tile class="canSelect">
                <v-list-tile-content>Имя</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.letters }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile class="canSelect">
                <v-list-tile-content>Пол</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.gender ? 'Мальчик' : 'Девочка' }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile class="canSelect">
                <v-list-tile-content>Язык</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.lang ? 'Русский' : 'English' }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile class="canSelect">
                <v-list-tile-content>Электронный вариант (PDF)</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.pdf ? 'Да' : 'Нет' }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile class="canSelect">
                <v-list-tile-content>Типография (на печать)</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.typo ? 'Да' : 'Нет' }}</v-list-tile-content>
              </v-list-tile>
              <!--
              <v-list-tile class="canSelect">
                <v-list-tile-content>Формат</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.format.name }}</v-list-tile-content>
              </v-list-tile>
              -->
              <v-list-tile class="canSelect">
                <v-list-tile-content>Стоимость печати</v-list-tile-content>
                <v-list-tile-content class="align-end">{{ book.format.price }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile class="canSelect">
                <v-list-tile-content>Книга</v-list-tile-content>
                <v-list-tile-content><a :href="`http://api.magicbook.store/api/v1/orders/${id}/${book._id}`">Скачать</a></v-list-tile-content>
              </v-list-tile>
            </v-list>
            <v-card-actions v-if="false">
              <v-dialog>
                <v-btn flat color="primary" dark slot="activator">Посмотреть</v-btn>
                <v-carousel>
                  <v-carousel-item v-for="(item, i) in book.pages" :src="getImgSrc(item)" :key="i"></v-carousel-item>
                </v-carousel>
              </v-dialog>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-carousel v-if="false">
      <v-carousel-item v-for="(item, i) in book.pages" :src="getImgSrc(item)" :key="i"></v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
import orderApi from '@/api/order'
import InfoCard from '@/components/InfoCard'
import generalFields from '@/common/fields/general'
import addressFields from '@/common/fields/address'
import deliveryFields from '@/common/fields/delivery'
import { getImgSrc } from '@/common/utils'

export default {
  data: () => ({
    order: {},
    statuses: [
      { text: 'Не оплачено', value: 'processing' },
      { text: 'Отказ', value: 'failed' },
      { text: 'Оплачено', value: 'paid' },
      { text: 'Доставлено', value: 'success' }
    ]
  }),
  computed: {
    id () {
      return this.$route.params.id
    },
    books () {
      const items = this.order.items || []
      return items.map(book => {
        return {
          ...book,
          pages: book.images.map(img => img.path)
        }
      })
    }
  },
  mounted () {
    orderApi.get(this.id)
      .then(order => {
        this.order = order
      })
  },
  methods: {
    getImgSrc,
    generalFields,
    addressFields,
    deliveryFields,
    updateStatus (status) {
      orderApi.update({
        _id: this.order._id,
        status
      })
        .then(() => { alert('Статус заказа успешно изменён') })
        .catch(e => {
          console.log('[ORDER_STATUS_UPDATE_ERROR]', e)
          alert('Ошибка при изменении статуса заказа')
        })
    }
  },
  components: {
    InfoCard
  }
}
</script>
