<template>
  <div class="mediaEdit">
    <v-btn class="info" @click="update">Обновить</v-btn>

    <v-container fluid grid-list-xl>
      <v-layout row wrap>
        <v-flex
          class="letterImg"
          v-for="(image, index) in images"
          :key="index"
        >
          <v-btn fab dark small color="red"
                 @click="removeImage(index)"
                 class="letterImg_remove">
            <v-icon dark>remove</v-icon>
          </v-btn>
          <v-btn fab dark small color="primary"
                 @click="replace(index, index - 1)"
                 class="letterImg_replace -prev">
            <v-icon dark>keyboard_arrow_left</v-icon>
          </v-btn>
          <v-btn fab dark small color="primary"
                 @click="replace(index, index + 1)"
                 class="letterImg_replace -next">
            <v-icon dark>keyboard_arrow_right</v-icon>
          </v-btn>
          <img :src="getImgSrc(image)" alt="" class="letterImg_src">
        </v-flex>

        <label for="uploadFile" class="letterImg -new">
          <input id="uploadFile" type="file" accept="image/*" multiple @change="addImage">
            <v-icon dark x-large>file_upload</v-icon>
        </label>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import mediaApi from '@/api/media'
import { uploadFile, getImgSrc } from '../../common/utils'

export default {
  data: () => ({
    _id: '',
    images: []
  }),

  mounted () {
    mediaApi.get(this.$route.params.id).then(media => {
      this._id = media._id
      this.images = media.path.split(';')
    })
  },

  methods: {
    getImgSrc: (path) => getImgSrc(path),
    removeImage (index) {
      this.images = this.images.filter((el, i) => i !== index)
    },
    addImage (e) {
      for (let i = 0; i < e.target.files.length; i++) {
        uploadFile(e.target.files[i])
          .then(path => this.images.push(path))
      }
    },
    replace (target, to) {
      if (this.images.length === 1) { return }
      if (to < 0) { to = this.images.length - 1 }
      if (to > this.images.length - 1) { to = 0 }

      const img = this.images[to]
      this.images[to] = this.images[target]
      this.images[target] = img
      this.images = [...this.images]
    },
    update () {
      mediaApi.update({ _id: this._id, path: this.images.join(';') })
        .then(() => alert('Успешно обновили!'))
        .catch(() => alert('Не получилось обновить'))
    }
  }
}
</script>

<style lang="scss" scoped>
  $size: 200px;

  .letterImg {
    position: relative;
    height: $size;
    width: 100%;
    max-width: $size;

    &.-new {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightblue;
      border-radius: 5px;
      border: 8px darkcyan dashed;
      cursor: pointer;

      input {
        display: none;
      }
    }

    &_remove {
      position: absolute !important;
      top: 16px;
      right: 16px;
      z-index: 99;
    }

    &_replace {
      position: absolute !important;
      bottom: 16px;
      z-index: 99;

      &.-prev { left: 16px; }
      &.-next { right: 16px; }
    }

    &_src {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
</style>
