<template>
  <div class="media">
    <v-container fluid grid-list-md class="grey lighten-4">
      <v-layout row wrap>
        <v-flex
          xs3
          v-for="img in media"
          :key="img.id"
        >
          <v-card>
            <v-card-media
              :src="`http://localhost:3003/${img.path}`"
              height="200px"

            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline white--text" v-text="img.name"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-media>
            <v-card-actions class="mediaActions">
              <v-btn @click="openEditor(img)">Изменить</v-btn>
              <v-btn @click="remove(img)">Удалить</v-btn>
              <template v-if="false">
                <v-btn-toggle v-model="gender">
                  <v-btn flat value="man">
                    <v-icon color="blue lighten-1">face</v-icon>
                  </v-btn>
                  <v-btn flat value="woman">
                    <v-icon color="pink lighten-1">face</v-icon>
                  </v-btn>
                </v-btn-toggle>
                <v-btn-toggle v-model="lang">
                  <v-btn flat value="RU">RU</v-btn>
                  <v-btn flat value="ENG">ENG</v-btn>
                </v-btn-toggle>
                <v-btn-toggle v-model="age">
                  <v-btn flat value="4">от 4</v-btn>
                  <v-btn flat value="8">до 8</v-btn>
                  <v-btn flat value="12">до 12</v-btn>
                </v-btn-toggle>
              </template>
            </v-card-actions>
          </v-card>

          <v-dialog
            v-model="dialog"
            fullscreen
            transition="dialog-bottom-transition"
            :overlay=false
            scrollable
          >
            <v-card>
              <v-toolbar style="flex: 0 0 auto;" dark class="primary">
                <v-btn icon @click.native="dialog = false" dark>
                  <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>Изменить изображене</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <v-btn dark flat @click.native="updateMedia">Сохранить</v-btn>
                  <v-menu bottom right offset-y>
                    <v-btn slot="activator" dark icon>
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                  </v-menu>
                </v-toolbar-items>
              </v-toolbar>

              <v-card-media
                :src="`http://localhost:3003/${currentMedia.path}`"
                max-height="500px"
                height="100%"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="headline white--text" v-text="currentMedia.name"></span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>

              <v-card-actions class="white">
                <v-btn-toggle v-model="gender" @change="updateGender">
                  <v-btn flat value="man">
                    <v-icon color="blue lighten-1">face</v-icon>
                  </v-btn>
                  <v-btn flat value="woman">
                    <v-icon color="pink lighten-1">face</v-icon>
                  </v-btn>
                </v-btn-toggle>
                <v-btn-toggle v-model="age" @change="updateAge">
                  <v-btn flat value="1">от 4</v-btn>
                  <v-btn flat value="2">от 4 до 8</v-btn>
                  <v-btn flat value="3">от 8 до 12</v-btn>
                </v-btn-toggle>
                <v-btn-toggle v-model="lang" @change="updateLang">
                  <v-btn flat value="ru">RU</v-btn>
                  <v-btn flat value="eng">ENG</v-btn>
                </v-btn-toggle>
                <v-text-field
                  label="Буква"
                  :value="letter"
                  @change="updateLetter"
                  :counter="1"
                  required
                  style="width: 100px;"
                ></v-text-field>
                <v-spacer></v-spacer>
              </v-card-actions>
              <v-card-text>
                <v-divider></v-divider>
              </v-card-text>
              <div style="flex: 1 1 auto;"></div>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import apiMedia from '@/api/media'

export default {
  mounted () {
    apiMedia.all().then(media => { this.media = media })
  },
  data: () => ({
    media: [],
    age: '',
    lang: '',
    gender: '',
    dialog: false,
    currentMedia: {
      id: '',
      src: '',
      name: ''
    },
    letter: ''
  }),
  methods: {
    openEditor (media) {
      this.currentMedia = media
      this.dialog = true
      this.gender = media.gender
      this.lang = media.lang
      this.age = media.age
      this.letter = media.letter
    },
    updateGender (gender) {
      this.currentMedia.gender = gender
    },
    updateLang (lang) {
      this.currentMedia.lang = lang
    },
    updateAge (age) {
      this.currentMedia.age = age
    },
    updateLetter (newLetter) {
      this.letter = newLetter.toUpperCase().toUpperCase().replace(/[^A-ZА-Я]/g, '').substr(0, 1)
      this.currentMedia.letter = this.letter
    },
    updateMedia () {
      this.media.map(media => {
        if (media._id === this.currentMedia._id) {
          return Object.assign(media, this.currentMedia)
        }
        return media
      })
      this.dialog = false
      apiMedia.update(this.currentMedia)
    },
    remove (media) {
      apiMedia.remove(media)
      this.media = this.media.filter(m => m._id !== media._id)
    }
  }
}
</script>

<style>
  .mediaActions {
    position: absolute;
    bottom: 0;
    background: transparent !important;
  }
</style>
