<template>
  <section class="container">
    <stw-header :tel="tel" >
      <header-cart slot="cart" />
    </stw-header>

    <about :content="content" :left="contactsLeft" :right="contactsRight" />
    
    <formPopup />

    <stw-header theme="-footer -main" :tel="tel" >
      <header-cart slot="cart" />
    </stw-header>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import About from '~/components/About'
import FormPopup from '~/components/FormPopup'
import StwFooter from '~/components/Footer'
import axios from 'axios'
import { API_URL } from '~/common/config'

export default {
  async asyncData () {
    let about = await axios.get(`${API_URL}fields/about`)
      .then(({ data }) => data.items)
      .catch(e => console.log('Ошибка при загрузке', e))

    return {
      content: about.content,
      contactsLeft: about.contactsLeft,
      contactsRight: about.contactsRight
    }
  },
  mounted () {
    axios.get(`${API_URL}fields/about`)
      .then(({ data }) => data.items)
      .then(about => {
        this.content = about.content
        this.contactsLeft = about.contactsLeft
        this.contactsRight = about.contactsRight
      })
      .catch(e => console.log('Ошибка при загрузке', e))
  },
  data: () => ({
    tel: '+7 495 411 16 22'
  }),
  components: {
    StwHeader,
    HeaderCart,
    About,
    FormPopup,
    StwFooter
  }
}
</script>

