<template>
  <section class="container">
    <stw-header :tel="tel">
      <header-cart slot="cart" v-if="cart.length !== 0" />
    </stw-header>

    <welcome v-if="!book.images.length" />

    <make-book v-if="!book.images.length" />

    <create-book v-if="book.images.length">
      <name-popup slot="name-modal" />
      <formats-popup slot="formats-modal" />
    </create-book>

    <add-popup v-if="modalAddCart" />

    <form-popup />

    <thank-popup />

    <stw-header theme="-main" :tel="tel">
      <header-cart slot="cart" />
    </stw-header>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import Welcome from '~/components/Welcome'
import MakeBook from '~/components/MakeBook'
import Gallery from '~/components/Gallery'
import Comments from '~/components/Comments'
import Delivery from '~/components/Delivery'
import CreateBook from '~/components/CreateBook'
import FormatsPopup from '~/components/FormatsPopup'
import NamePopup from '~/components/NamePopup'
import MessagePopup from '~/components/MessagePopup'
import AddPopup from '~/components/AddPopup'
import FormPopup from '~/components/FormPopup'
import ThankPopup from '~/components/ThankPopup'

import { mapGetters } from 'vuex'

import { API_URL } from '~/common/config'

import {
  FieldsService
} from '../common/api.service'

import {
  FORMAT_UPDATE
} from '../store/mutations.type'

export default {
  async asyncData (context) {
    let gallery = await FieldsService.get('gallery')
    let reviews = await FieldsService.get('reviews')
    let formats = await FieldsService.get('formats')
    let delivery = await FieldsService.get('delivery')
    // let signature = await FieldsService.get('signature')

    formats.map(format => {
      context.store.commit(FORMAT_UPDATE, format)
    })

    return {
      gallery,
      reviews,
      signature: [],
      delivery
    }
  },
  async mounted () {
    const galleryPromise = FieldsService.get('gallery')
    const reviewsPromise = FieldsService.get('reviews')
    const formatsPromise = FieldsService.get('formats')
    const deliveryPromise = FieldsService.get('delivery')

    let gallery = await galleryPromise
    let reviews = await reviewsPromise
    let formats = await formatsPromise
    let delivery = await deliveryPromise

    formats.map(format => {
      this.$store.commit(FORMAT_UPDATE, format)
    })

    this.gallery = gallery
    this.reviews = reviews
    this.delivery = delivery
  },
  data: () => ({
    tel: '+7 495 411 16 22'
  }),
  computed: {
    ...mapGetters({
      book: 'book',
      cart: 'cart'
    }),
    modalAddCart () {
      return this.$store.state.modal.cart
    }
  },
  components: {
    StwHeader,
    HeaderCart,
    Welcome,
    MakeBook,
    CreateBook,
    FormatsPopup,
    NamePopup,
    MessagePopup,
    AddPopup,
    Gallery,
    Comments,
    Delivery,
    FormPopup,
    ThankPopup
  }
}
</script>

