<template>
  <section class="container -questions">
    <stw-header :tel="tel">
      <header-cart slot="cart" v-if="cart.length !== 0" />
    </stw-header>

    <cart />

    <stw-header theme="-footer" :tel="tel" />
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import StwFooter from '~/components/Footer'
import Cart from '~/components/Cart'

import { mapGetters } from 'vuex'

import { API_URL } from '~/common/config'

import {
  FieldsService
} from '../common/api.service'

import {
  UPDATE_SALES,
  FORMAT_UPDATE
} from '../store/mutations.type'

export default {
  async asyncData (context) {
    let sales = await FieldsService.get('sales')
    context.store.commit(UPDATE_SALES, sales)
  },
  async mounted () {
    let sales = await FieldsService.get('sales')
    this.$store.commit(UPDATE_SALES, sales)

    const formatsPromise = FieldsService.get('formats')
    let formats = await formatsPromise
    formats.map(format => {
      this.$store.commit(FORMAT_UPDATE, format)
    })
  },
  data: () => ({
    tel: '+7 495 411 16 22'
  }),
  computed: {
    ...mapGetters({
      book: 'book',
      cart: 'cart'
    })
  },
  components: {
    StwHeader,
    HeaderCart,
    StwFooter,
    Cart
  }
}
</script>

