<template>
  <section class="container">
    <stw-header :tel="tel">
      <header-cart slot="cart" v-if="cart.length !== 0" />
    </stw-header>

    <welcome />

    <make-book />

    <gallery :items="gallery" />

    <application />

    <download />

    <comments :items="reviews" />

    <delivery :data="delivery" />

    <form-popup />

    <thank-popup />

    <stw-header theme="-main" :tel="tel">
      <header-cart slot="cart" />
    </stw-header>

    <stw-footer />
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import Welcome from '~/components/Welcome'
import MakeBook from '~/components/MakeBook'
import Gallery from '~/components/Gallery'
import Application from '~/components/Application'
import Download from '~/components/Download'
import Comments from '~/components/Comments'
import Delivery from '~/components/Delivery'
import StwFooter from '~/components/Footer'
import FormPopup from '~/components/FormPopup'
import ThankPopup from '~/components/ThankPopup'

import { mapGetters } from 'vuex'

import { API_URL } from '~/common/config'

import {
  FieldsService
} from '../common/api.service'

import {
  FORMAT_UPDATE
} from '../store/mutations.type'

export default {
  async asyncData (context) {
    let gallery = await FieldsService.get('gallery')
    let reviews = await FieldsService.get('reviews')
    let formats = await FieldsService.get('formats')
    let delivery = await FieldsService.get('delivery')
    // let signature = await FieldsService.get('signature')

    formats.map(format => {
      context.store.commit(FORMAT_UPDATE, format)
    })

    return {
      gallery,
      reviews,
      signature: [],
      delivery
    }
  },
  async mounted () {
    const galleryPromise = FieldsService.get('gallery')
    const reviewsPromise = FieldsService.get('reviews')
    const formatsPromise = FieldsService.get('formats')
    const deliveryPromise = FieldsService.get('delivery')

    let gallery = await galleryPromise
    let reviews = await reviewsPromise
    let formats = await formatsPromise
    let delivery = await deliveryPromise

    formats.map(format => {
      this.$store.commit(FORMAT_UPDATE, format)
    })

    this.gallery = gallery
    this.reviews = reviews
    this.delivery = delivery

    if (process.browser) {
      window.addEventListener('modal.show', () => {
        this.showModal = true
      })

      window.addEventListener('modal.close', () => {
        this.showModal = false
      })

      window.addEventListener('modal.toggle', () => {
        this.showModal = false
      })
    }
  },
  data: () => ({
    tel: '+7 495 411 16 22'
  }),
  computed: {
    ...mapGetters({
      book: 'book',
      cart: 'cart'
    })
  },
  components: {
    StwHeader,
    HeaderCart,
    Welcome,
    MakeBook,
    Gallery,
    Application,
    Download,
    FormPopup,
    Comments,
    Delivery,
    StwFooter,
    ThankPopup
  }
}
</script>

