<template>
  <section class="container -questions">
    <stw-header :tel="tel" >
      <header-cart slot="cart" />
    </stw-header>

    <questions :items="qa" />

    <stw-header theme="-footer" :tel="tel" >
      <header-cart slot="cart" />
    </stw-header>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import Questions from '~/components/Questions'

import {
  FieldsService
} from '../common/api.service'

export default {
  async asyncData () {
    const qa = await FieldsService.get('qa')
    return {
      qa
    }
  },
  async mounted () {
    this.qa = await FieldsService.get('qa')
  },
  data: () => ({
    tel: '+7 495 411 16 22'
  }),
  components: {
    StwHeader,
    HeaderCart,
    Questions
  }
}
</script>
