<template>
  <section class="container">
    <stw-header :tel="tel" >
      <header-cart slot="cart" />
    </stw-header>

    <stw-content :content="content" :title="title" />

    <stw-header theme="-footer" :tel="tel" >
      <header-cart slot="cart" />
    </stw-header>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import StwContent from '~/components/Content'
import StwFooter from '~/components/Footer'

import {
  FieldsService
} from '../common/api.service'

export default {
  async asyncData () {
    let sales = await FieldsService.get('sales')

    return {
      title: sales.title,
      content: sales.content,
    }
  },
  async mounted () {
    let sales = await FieldsService.get('sales')

    this.title = sales.title
    this.content = sales.content
  },
  data: () => ({
    tel: '+7 495 411 16 22'
  }),
  components: {
    StwHeader,
    HeaderCart,
    StwContent,
    StwFooter
  }
}
</script>

