<template>
  <section class="makeBook" id="makeBook">
    <div class="makeBook_items">
      <div class="makeBook_item">
        <img src="~/assets/img/makeBook/icon-1.png" alt="" class="makeBook_pic">
        <span class="makeBook_text">Идеально подходит детям <span class="makeBook_bold">от 3х до 8 лет</span></span>
      </div>
      <div class="makeBook_item">
        <img src="~/assets/img/makeBook/icon-2.png" alt="" class="makeBook_pic">
        <span class="makeBook_text"><span class="makeBook_bold">Быстрая доставка</span><br> по всей России</span>
      </div>
      <div class="makeBook_item">
        <img src="~/assets/img/makeBook/icon-3.png" alt="" class="makeBook_pic">
        <span class="makeBook_text">Прекрасный подарок, <span class="makeBook_bold">даже на вырост!</span></span>
      </div>
    </div>
    <div class="makeBook_wrap">
      <div class="makeBook_form">
        <div class="makeBook_inputGroup inputGroup">
          <label class="makeBook_label inputGroup_label">Имя</label>
          <input v-model.lazy.trim="name" type="text" class="makeBook_input inputGroup_input" placeholder="Введите имя">
        </div>

        <div v-if="false" class="makeBook_inputGroup inputGroup">
          <label class="makeBook_label inputGroup_label">Язык</label>
          <input name="language" type="hidden">
          <div class="makeBook_wrapper">
            <div class="makeBook_arrows">
              <img src="~/assets/svg/makeBook-arrow-up.svg" class="makeBook_arrow" alt="">
              <img src="~/assets/svg/makeBook-arrow-down.svg" class="makeBook_arrow" alt="">
            </div>
            <span class="makeBook_name" @click="showLang = !showLang">{{lang}}</span>
            <div v-if="showLang"
                 v-for="(l, i) in langs"
                 class="makeBook_list"
                 :style="{zIndex: i}"
                 :key="`lang${i}`">
              <span v-if="lang !== l"
                    class="makeBook_elem"
                    @click="lang = l"
                    v-text="l">
              </span>
            </div>
          </div>
        </div>

        <div class="makeBook_btns">
          <button class="makeBook_btn"
                type="button"
                :class="{'-active': gender === 'man'}"
                @click="gender = 'man'">
          Мальчик
          </button>
          <button class="makeBook_btn"
                  type="button"
                  :class="{'-active': gender === 'woman'}"
                  @click="gender = 'woman'">
            Девочка
          </button>
        </div>


        <div class="makeBook_inputGroup inputGroup -gender">
          <label class="makeBook_label inputGroup_label">Пол ребенка</label>
          <input name="gender" type="hidden">
          <div class="makeBook_wrapper">
            <div class="makeBook_arrows">
              <img src="~/assets/svg/makeBook-arrow-up.svg" class="makeBook_arrow" alt="">
              <img src="~/assets/svg/makeBook-arrow-down.svg" class="makeBook_arrow" alt="">
            </div>
            <span class="makeBook_name" @click="showGender = !showGender">{{ gender === 'man' ? 'мальчик' : 'девочка' }}</span>
            <div class="makeBook_list"
                 v-if="showGender"
                 v-for="(g, i) in genders"
                 :key="`gender${i}`">
              <span  v-if="gender !== g.value"
                     class="makeBook_elem"
                     @click="gender = g.value"
                    v-text="g.label"></span>
            </div>
          </div>
        </div>

        <a @click="createBook" class="makeBook_makeBtn">Создать книгу</a>
      </div>
    </div>
  </section>
</template>

<script>
import { BOOK_CREATE } from '../../store/actions.type'
import { BOOK_UPDATE } from '../../store/mutations.type'
import { mapGetters } from 'vuex'
import ApiService from '../../common/api.service'

export default {
  data: () => ({
    langs: ['ru', 'en'],
    genders: [
      {
        label: 'Мальчик',
        value: 'man'
      },
      {
        label: 'Девочка',
        value: 'woman'
      }
    ],
    showLang: false,
    showGender: false
  }),
  computed: {
    ...mapGetters({
      book: 'book'
    }),
    name: {
      get () {
        return this.book.letters
      },
      set (value) {
        if (value.length > 12) {
          this.$swal({ text: 'Максимум мы можем создать книгу для имени из 12 букв' })
        }

        this.$store.commit(BOOK_UPDATE, { field: 'letters', value })
      }
    },
    lang: {
      get () {
        return this.book.lang
      },
      set (value) {
        this.showLang = false
        this.$store.commit(BOOK_UPDATE, { field: 'lang', value })
      }
    },
    gender: {
      get () {
        return this.book.gender
      },
      set (value) {
        this.showGender = false
        this.$store.commit(BOOK_UPDATE, { field: 'gender', value })
      }
    }
  },
  methods: {
    createBook () {
      if (!this.name.length) return

      this.$store
        .dispatch(BOOK_CREATE, { lang: this.lang, gender: this.gender, letters: this.name })
        .then(() => {
          this.$router.push('/book')
        })
        .catch(e => console.log(`[MB] Ошибка при создании книги ${e}`))
    }
  }
}
</script>

<style lang="less" src="./MakeBook.less"></style>
