@import '../../assets/style/vars';

.makeBook {
  position: relative;
  z-index: 3;

  margin: auto 0;
  flex-shrink: 0;

  &_items {
    max-width: 1280px;
    padding: 50px 0 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
      padding: 25px 0 35px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
      padding: 20px 0 30px;
    }

    @media (max-width: @bTablet) {
      padding: 20px 25px 30px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px 17px;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &_item {
    max-width: 370px;
    display: flex;
    align-items: center;

    @media (max-width: @bDesktop) {
      max-width: 265px;
    }

    @media (max-width: @bLaptop) {
      max-width: 257px;
    }

    @media (max-width: @bTablet) {
      max-width: 175px;
      flex-direction: column;
    }

    @media (max-width: @bSmallTablet) {
      max-width: none;
      width: 100%;
      flex-direction: row;
      margin-bottom: 20px;

      & br {
        display: none;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &_pic {
    display: block;
    width: 96px;
    height: 96px;
    margin-right: 24px;

    object-fit: contain;
    object-position: center;

    @media (max-width: @bDesktop) {
      width: 68px;
      height: 67px;
      margin-right: 22px;
    }

    @media (max-width: @bLaptop) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: @bTablet) {
      width: 68px;
      height: 62px;
      margin: 0;
    }

    @media (max-width: @bSmallTablet) {
      width: 28px;
      height: 26px;
      margin-right: 13px;
    }
  }

  &_text {
    display: block;
    margin-top: 20px;

    color: rgb(54, 65, 92);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

    @media (max-width: @bDesktop) {
      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      margin-top: 15px;

      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      margin: 0;

      font-size: 12px;
      line-height: 13.39px;
      text-align: left;
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0 40px;

    background-color: rgb(244, 244, 244);

    @media (max-width: @bDesktop) {
      padding: 22px 0 39px;
    }

    @media (max-width: @bLaptop) {
      padding: 20px 0 25px;
    }

    @media (max-width: @bTablet) {
      padding: 25px 25px 35px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 25px;
    }
  }

  &_form {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media (max-width: @bDesktop) {
      max-width: 1040px;
    }

    @media (max-width: @bLaptop) {
      max-width: 940px;
    }

    @media (max-width: @bTablet) {
      max-width: 270px;
      flex-direction: column;
      align-items: stretch;
    }

    @media (max-width: @bSmallTablet) {
      max-width: 215px;
    }
  }

  &_inputGroup {
    position: relative;
    z-index: 20;

    &.-gender {
      z-index: 10;
      margin: 0 15px;

      display: none;

      @media (max-width: @bLaptop) {
        display: block;
      }

      @media (max-width: @bTablet) {
        margin: 0 0 15px;
      }
    }
  }

  &_label {

  }

  &_input {
    color: rgb(131, 131, 131);
    font-weight: 500;
    text-transform: capitalize;
    font-family: @Geometria;
    //text-align: center;

    -webkit-appearance: none;
    appearance: none;

    &::-webkit-input-placeholder {
      color: rgba(131, 131, 131, .5);
    }

    &:-ms-input-placeholder {
      color: rgba(131, 131, 131, .5);
    }
    
    @media (max-width: @bDesktop) {
      font-size: 14px;
    }
    
    @media (max-width: @bTablet) {
      font-size: 16px;
    }
    
    @media (max-width: @bSmallTablet) {
      font-size: 13px;
    }
  }

  &_wrapper {
    position: relative;

    display: block;
    width: 100%;
    border-radius: 30px;

    background-color: transparent;

    @media (max-width: @bDesktop) {
      border-radius: 25px;
    }

    @media (max-width: @bTablet) {
      border-radius: 28px;
    }

    @media (max-width: @bSmallTablet) {
      border-radius: 22px;
    }
  }

  &_inputGroup.-gender &_wrapper {
    background-color: rgb(178, 185, 190);
  }

  &_arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
    z-index: 12;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_arrow {
    width: 9px;
    height: 7px;
    margin-bottom: 5px;

    fill: rgb(198, 198, 198);

    @media (max-width: @bDesktop) {
      margin-bottom: 3px;
    }

    @media (max-width: @bLaptop) {
      width: 8px;
      height: 6px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_name {
    position: relative;
    z-index: 11;

    display: block;
    border-radius: 30px;
    border: 2px solid rgb(224, 217, 207);
    padding: 18px;
    box-sizing: border-box;

    color: rgb(131, 131, 131);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
//    /text-align: center;

    background-color: rgb(244, 244, 244);

    cursor: pointer;
    transition: .3s all;

    &:hover {
      box-shadow: 0 0 9px rgb(250, 217, 19);
      border: 2px solid rgb(250, 215, 18);
    }

    @media (max-width: @bDesktop) {
      padding: 16px;
      border-radius: 25px;

      font-size: 14px;
    }

    @media (max-width: @bTablet) {
      padding: 18px 23px;
      border-radius: 28px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 14px 18px;
      border-radius: 22px;

      font-size: 13px;
    }
  }

  &_list {
    position: absolute;
    left: 0;
    z-index: 10;

    border-radius: 0 0 30px 30px;
    overflow-y: hidden;
    padding-bottom: 3px;
    margin-top: -30px;
    width: 100%;
    padding-top: 30px;

    &.-active {
      display: block;
    }
  }

  &_elem {
    position: relative;

    display: block;
    border: 2px solid rgb(224, 217, 207);
    box-sizing: border-box;
    margin-top: -25px;
    padding: 40px 18px 18px;
    border-radius: 0 0 30px 30px;


    color: rgb(131, 131, 131);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

    background-color: rgb(244, 244, 244);

    cursor: pointer;
    transition: .3s all;

    &:first-of-type {

    }

    &:hover,
    &.-active {

      box-shadow: 0 0 9px rgb(250, 217, 19);
      border: 2px solid rgb(250, 215, 18);
    }

    @media (max-width: @bDesktop) {
      border-radius: 25px;
      padding: 40px 16px 16px;
      margin-top: -37px;

      font-size: 14px;
    }

    @media (max-width: @bLaptop) {
      padding: 50px 16px 16px;
      margin-top: -40px;
    }

    @media (max-width: @bTablet) {
      margin-top: -38px;
      padding: 50px 18px 18px;
      border-radius: 0 0 28px 28px;

      font-size: 16px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 45px 14px 14px;
      border-radius: 0 0 25px 25px;

      font-size: 13px;
    }
  }

  &_btns {
    display: flex;
    align-items: center;
    margin: 0 15px;

    @media (max-width: @bLaptop) {
      display: none;
    }
  }

  &_btn {
    flex-shrink: 0;
    margin-right: 15px;
    border: 0;
    padding: 20px 57px;
    border-radius: 30px;

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;

    background-color: #d0d0d0;


    transition: .3s all;
    cursor: pointer;

    &:hover,
    &.-active {
      background-color:  #a7cfff;
    }

    &:last-of-type {
      margin-right: 0;

      &:hover,
      &.-active {
        background-color:  #e69dff;
      }
    }

    @media (max-width: @bDesktop) {
      border-radius: 25px;
      padding: 18px 47px;

      font-size: 14px;
    }

    @media (max-width: @bSmallTablet) {
      padding: 40px 14px 14px;
      border-radius: 0 0 22px 22px;

      font-size: 13px;
    }
  }

  &_makeBtn {
    border: 0;
    padding: 20px 52px;
    box-sizing: border-box;

    color: rgb(54, 65, 92);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 0 16px rgba(12, 26, 63, 0.17);
    border-radius: 30px;
    background-color: rgb(100, 122, 136);
    background-image: linear-gradient(to top, rgba(255, 210, 0, 0.97) 0%, rgba(255, 231, 33, 0.97) 100%);
    cursor: pointer;

    &:hover {
      animation: shadow 0.8s 0s ease-out 1;
    }

    @media (max-width: @bDesktop) {
      padding: 18px 45px;

      font-size: 14px;
    }

    @media (max-width: @bLaptop) {
      padding: 18px 42px;
    }

    @media (max-width: @bTablet) {
      width: 100%;
      border-radius: 27px;
      padding: 18px 42px;
      margin-top: 22px;

      font-size: 16px;
      text-align: center;
    }

    @media (max-width: @bSmallTablet) {
      border-radius: 22px;
      margin-top: 15px;
      padding: 14px;

      font-size: 13px;
    }
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 8px 6px #ffa70f, 0 0 12px 14px #ffa70f;
  }
  100% {
    box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
  }
}
