<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout column>
      <v-flex xs12 md6>
        <wysiwyg v-model="content" />
      </v-flex>

      <h2 class="title mt-3 ml-2 text-xs-left">Контакты</h2>

      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs6>
            <v-flex d-flex align-content-center xs12 wrap v-for="(contact, i) in contactsLeft"  :key="`contactLeft${i}`">
              <v-text-field box label="Контакт" v-model="contact.value" />
              <v-btn color="red" fab dark @click="removeContactLeft(i)"><v-icon>delete</v-icon></v-btn>
            </v-flex>
            <v-flex xs12>
              <v-btn @click="addContactLeft">Добавить</v-btn>
            </v-flex>
          </v-flex>

          <v-flex xs6>
            <v-flex d-flex align-content-center xs12 wrap v-for="(contact, i) in contactsRight"  :key="`contactRight${i}`">
              <v-text-field box label="Контакт" v-model="contact.value" />
              <v-btn color="red" fab dark @click="removeContactRight(i)"><v-icon>delete</v-icon></v-btn>
            </v-flex>
            <v-flex xs12>
              <v-btn @click="addContactRight">Добавить</v-btn>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'

export default {
  data: () => ({
    content: '',
    contactsLeft: [],
    contactsRight: [],
    contactTypes: [
      { text: 'Телефон', value: 'tel' },
      { text: 'Почта', value: 'mail' }
    ]
  }),
  mounted () {
    apiFields.get('about')
      .then((about) => {
        this.content = about.content || []
        this.contactsLeft = about.contactsLeft || []
        this.contactsRight = about.contactsRight || []
      })
  },
  methods: {
    addContactLeft () {
      this.contactsLeft.push({ type: '', value: '' })
    },
    removeContactLeft (i) {
      this.contactsLeft = this.contactsLeft.filter((el, index) => index !== i)
    },
    addContactRight () {
      this.contactsRight.push({ type: '', value: '' })
    },
    removeContactRight (i) {
      this.contactsRight = this.contactsRight.filter((el, index) => index !== i)
    },
    save () {
      apiFields.update('about', {
        content: this.content,
        contactsLeft: this.contactsLeft,
        contactsRight: this.contactsRight
      })
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    }
  }
}
</script>

<style lang="scss">
</style>

