<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout>
      <label class="letter" title="Первая для типографии">
        <template v-if="firstPage.typo">
          <img :src="getImgSrc(firstPage.typo)" class="letter_img" alt="">
          <v-btn @click="remove('first')" flat fab class="letter_btn" color="error">
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
        <input v-else
               @change="uploadPage($event, 'firstPage', 'typo')"
               type="file" accept="image/png">
      </label>

      <label class="letter" title="Последняя для типографии">
        <template v-if="lastPage.typo">
          <img :src="getImgSrc(lastPage.typo)" class="letter_img" alt="">
          <v-btn @click="remove('last')" flat fab class="letter_btn" color="error">
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
        <input v-else
               @change="uploadPage($event, 'lastPage', 'typo')"
               type="file" accept="image/png">
      </label>
    </v-layout>

    <template v-for="position in positions">
      <v-layout column v-for="(pages, i) in getPages(position)" :key="position + i">
        <h2 class="title mt-3 mb-3 ml-2 text-xs-left">
          {{ position === 'before' ? 'Присказка' : 'Концовка' }} для
          {{ pages.gender === 'man' ? 'мальчика' : 'девочки' }}
          {{ pages.lang === 'ru' ? 'на русском' : 'in eglish' }}
        </h2>

        <letters :images="pages.images"
                 @addImages="addImages($event, pages, position)"
                 @removeImage="removeImage($event, pages, position)"></letters>
      </v-layout>
    </template>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'
import Letters from '@/components/CommonPageLetter'
import { uploadFile, getImgSrc } from '@/common/utils'

export default {
  data: () => {
    const schema = [
      {
        gender: 'man',
        lang: 'ru',
        images: []
      },
      {
        gender: 'man',
        lang: 'eng',
        images: []
      },
      {
        gender: 'woman',
        lang: 'ru',
        images: []
      },
      {
        gender: 'woman',
        lang: 'eng',
        images: []
      }
    ]

    return {
      firstPage: {
        pdf: '',
        typo: ''
      },
      lastPage: {
        pdf: '',
        typo: ''
      },
      positions: ['before', 'after'],
      before: [
        {
          gender: 'man',
          lang: 'ru',
          images: []
        },
        {
          gender: 'man',
          lang: 'eng',
          images: []
        },
        {
          gender: 'woman',
          lang: 'ru',
          images: []
        },
        {
          gender: 'woman',
          lang: 'eng',
          images: []
        }
      ],
      after: [
        {
          gender: 'man',
          lang: 'ru',
          images: []
        },
        {
          gender: 'man',
          lang: 'eng',
          images: []
        },
        {
          gender: 'woman',
          lang: 'ru',
          images: []
        },
        {
          gender: 'woman',
          lang: 'eng',
          images: []
        }
      ],
      schema: schema
    }
  },
  mounted () {
    apiFields.get('commonPage')
      .then(page => {
        this.firstPage = page.firstPage || { pdf: '', typo: '' }
        this.lastPage = page.lastPage || { pdf: '', typo: '' }
        this.before = page.before || this.schema
        this.after = page.after || this.schema
      })
      .catch(() => alert('Ошибка при загрузке информации'))
  },
  methods: {
    getImgSrc,
    save () {
      apiFields.update('commonPage', {
        firstPage: this.firstPage,
        lastPage: this.lastPage,
        before: this.before,
        after: this.after
      })
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    },
    addImages (images, pages, position) {
      this[position] = this[position].map(item => {
        if (item.lang === pages.lang && item.gender === pages.gender) {
          item.images = item.images.concat(images)
        }
        return item
      })
    },
    remove (slug) {
      if (!window.confirm('Удалить изображение?')) return
      this[slug]['typo'] = ''
    },
    removeImage (i, pages, position) {
      this[position] = this[position].map(item => {
        if (item.lang === pages.lang && item.gender === pages.gender) {
          item.images = item.images.filter((img, index) => index !== i)
        }
        return item
      })
    },
    getPages (position) {
      return this[position]
    },
    uploadPage (e, page, type) {
      if (!e.target.files) return

      uploadFile(e.target.files[0])
        .then(path => {
          this[page][type] = path
        })
    }
  },
  components: {
    Letters
  }
}
</script>

<style lang="scss" scoped>
.uploadFile input {
  position: absolute;
  left: -9999px;
}

.letter {
  position: relative;
  margin: 10px 20px;
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border-radius: 2px;
  cursor: pointer;

  &::before {
    content: attr(title);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    padding: 5px 10px;

    font-size: 13px;
    color: white;
    background: rgba(0, 0, 0, .5);
  }

  &_img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &_btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  input {
    position: absolute;
    left: -99999px;
  }
}
</style>

