<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>
    <v-btn color="primary" @click="add">Добавить</v-btn>

    <v-layout column>
      <h2 class="title mt-3 ml-2 text-xs-left">Способы доставки</h2>

      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs3 v-for="(delivery, i) in deliveryMethods" :key="`format${i}`">
            <v-card>
              <v-card-text class="text-xs-left">
                <v-text-field box label="Название" v-model="delivery.name" />

                <v-text-field box label="Цена" v-model.number="delivery.price" type="number" />

                <div class="subheading ml-3">Иконка</div>
                <div v-if="delivery.icon"
                     :style="{ backgroundImage: `url(${delivery.icon})` }"
                     class="deliveryIcon">
                  <v-btn flat fab color="red" @click="remove('icon', i)" style="position: absolute; top: -10px; left: 100%;">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </div>
                <v-btn v-else tag="label" class="uploadFile">
                  <v-icon dark left>file_upload</v-icon>
                  Выбрать файл
                  <input type="file" accept="image/*" multiple @change="addImage($event, 'icon', i)">
                </v-btn>

                <v-text-field v-model="delivery.description"
                              multi-line
                              box label="Описание" />
              </v-card-text>
              <v-card-actions>
                <v-btn flat fab color="red" @click="remove(i)"><v-icon>delete</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'
import { uploadFile } from '@/common/utils'
import { UPLOAD_URL } from '@/common/config'
import uuid from 'uuid/v4'

export default {
  data: () => ({
    deliveryMethods: []
  }),
  mounted () {
    apiFields.get('deliverymethods')
      .then(deliveryMethods => {
        this.deliveryMethods = deliveryMethods || []
      })
  },
  methods: {
    add () {
      this.deliveryMethods.push({
        name: '',
        icon: '',
        description: '',
        price: 0,
        _id: uuid()
      })
    },
    remove (index) {
      this.deliveryMethods = this.deliveryMethods.filter((f, i) => i !== index)
    },
    addImage ($event, name, i) {
      uploadFile($event.target.files[0])
        .then(path => {
          this.deliveryMethods[i][name] = UPLOAD_URL + path
        })
    },
    save () {
      apiFields.update('deliverymethods', this.deliveryMethods)
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    }
  }
}
</script>

<style lang="scss">
.uploadFile input {
  position: absolute;
  left: -9999px;
}

.deliveryIcon {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  background-position: center center;
  background-size: contain;
}
</style>

