<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout column>
      <v-text-field box label="Заголовок" v-model="title" />

      <v-flex xs12 md6>
        <wysiwyg v-model="content" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import apiFields from '@/api/fields'

  export default {
    data: () => ({
      title: '',
      content: ''
    }),
    mounted () {
      apiFields.get('delivery')
        .then((page) => {
          this.title = page.title
          this.content = page.content
        })
        .catch(() => alert('Ошибка при загрузке информации'))
    },
    methods: {
      save () {
        apiFields.update('delivery', {
          title: this.title,
          content: this.content
        })
          .then(() => { alert('Сохранили') })
          .catch(() => { alert('Не получилось сохранить') })
      }
    }
  }
</script>

<style lang="scss">
</style>

