<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>
    <v-btn color="primary" @click="add">Добавить</v-btn>

    <v-layout column>
      <h2 class="title mt-3 ml-2 text-xs-left">Форматы</h2>

      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs3 v-for="(format, i) in formats" :key="`format${i}`">
            <v-card>
              <v-card-text class="text-xs-left">
                <v-text-field box label="Название" v-model="format.name" />

                <v-text-field box label="Цена" v-model.number="format.price" type="number" />

                <div class="subheading ml-3">Превью</div>
                <div v-if="format.preview"
                     :style="{ backgroundImage: `url(${format.preview})` }"
                     class="thumbnail">
                  <v-btn flat fab color="red" @click="remove('preview', i)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </div>
                <v-btn v-else tag="label" class="uploadFile">
                  <v-icon dark left>file_upload</v-icon>
                  Выбрать файл
                  <input type="file" accept="image/*" multiple @change="addImage($event, 'preview', i)">
                </v-btn>

                <v-text-field v-model="format.description"
                              multi-line
                              box label="Описание" />
              </v-card-text>
              <v-card-actions>
                <v-btn flat fab color="red" @click="remove(i)"><v-icon>delete</v-icon></v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'
import { uploadFile } from '@/common/utils'
import { UPLOAD_URL } from '@/common/config'
import uuid from 'uuid/v4'

export default {
  data: () => ({
    formats: []
  }),
  mounted () {
    apiFields.get('formats')
      .then(formats => {
        this.formats = formats || []
      })
  },
  methods: {
    add () {
      this.formats.push({
        name: '',
        preview: '',
        description: '',
        price: 0,
        _id: uuid()
      })
    },
    remove (index) {
      this.formats = this.formats.filter((f, i) => i !== index)
    },
    addImage ($event, name, i) {
      uploadFile($event.target.files[0])
        .then(path => {
          this.formats[i][name] = UPLOAD_URL + path
        })
    },
    save () {
      apiFields.update('formats', this.formats)
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    }
  }
}
</script>

<style lang="scss">
.uploadFile input {
  position: absolute;
  left: -9999px;
}
</style>

