<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout row wrap>
      <v-flex xs12>
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs3 v-for="(img, i) in gallery" :key="`gallery${i}`">
              <v-card>
                <v-card-media :src="img" height="200px" />
                <v-card-actions style="position: absolute; top: 0;left: 0;right: 0;">
                  <v-btn @click="remove(i)"
                         flat fab color="red"
                         style="margin-left: auto;"><v-icon>delete</v-icon></v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-flex xs3>
              <v-card>
                <label class="newGallery">
                  <input id="uploadFile" type="file" accept="image/*" multiple @change="addImage">
                  <v-icon dark x-large>file_upload</v-icon>
                </label>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import FileUpload from 'vue-upload-component'
import { uploadFile, getImgSrc } from '@/common/utils'
import fieldsApi from '@/api/fields'

export default {
  data: () => ({
    gallery: []
  }),
  computed: {
    fileUploadUrl () {
      const host = process.env.NODE_ENV === 'production' ? 'http://api.magicbook.store' : 'http://localhost:3010'
      return `${host}/api/v1/media`
    }
  },
  mounted () {
    fieldsApi.get('gallery')
      .then((gallery) => {
        this.gallery = gallery
      })
      .catch(() => alert('Ошибка при загрузке информации'))
  },
  methods: {
    addImage (e) {
      for (let i = 0; i < e.target.files.length; i++) {
        uploadFile(e.target.files[i])
          .then(path => this.gallery.push(getImgSrc(path)))
      }
    },
    remove (id) {
      this.gallery = this.gallery.filter((el, i) => i !== id)
    },
    save () {
      fieldsApi.update('gallery', this.gallery)
        .then(() => alert('Сохранили галерею'))
        .catch(() => alert('Произошла ошибка, попробуйте позднее'))
    }
  },
  components: {
    FileUpload
  }
}
</script>

<style lang="scss">
  .newGallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border: 2px;
    background-color: lightblue;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
      background-color: cornflowerblue;
    }

    input {
      position: absolute;
      left: -9999px;
    }
  }
</style>

