<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout row wrap>
      <v-flex xs6>
        <v-text-field box label="Заголовок" v-model="title" />
        <v-text-field box label="Подзаголовок" v-model="subtitle" />
      </v-flex>

      <v-flex xs6>
        <wysiwyg v-model="delivery" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    title: 'Создайте сказочную книгу с именем ребенка',
    subtitle: 'Отыщите все буквы имени на красочных страницах',
    delivery: `
      <p>Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>
      <p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
    `
  }),
  methods: {
    save () {
      console.log('сохраняем...')
    }
  }
}
</script>

<style lang="scss">
.newGallery {
  display: flex;
  justify-content: space-around;
  height: 200px;
  border: 2px;
  background-color: lightblue;
  transition: background-color .3s;
  cursor: pointer;

  &:hover {
    background-color: cornflowerblue;
  }
}
</style>

