<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout row wrap>
      <v-flex xs6>
        <v-text-field box label="Добавление книги в корзину" placeholder="Книга добавлена в корзину!" v-model="createBookTitle" />
        <v-text-field box
                      multi-line
                      label="Спасибо за заказ"
                      placeholder="Поздравляем! Наш менеджер совсем скоро свяжется с вами для подтверждения заказа"
                      v-model="createOrderTitle" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'

export default {
  data: () => ({
    createBookTitle: '',
    createOrderTitle: ''
  }),
  mounted () {
    apiFields.get('modals')
      .then(response => {
        this.createBookTitle = response.createBookTitle || ''
        this.createOrderTitle = response.createOrderTitle || ''
      })
  },
  methods: {
    save () {
      apiFields.update('modals', {
        createBookTitle: this.createBookTitle,
        createOrderTitle: this.createOrderTitle
      })
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    }
  }
}
</script>

<style lang="scss">
  .newGallery {
    display: flex;
    justify-content: space-around;
    height: 200px;
    border: 2px;
    background-color: lightblue;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
      background-color: cornflowerblue;
    }
  }
</style>

