<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-btn @click="add">Добавить</v-btn>

    <v-layout column>
      <v-flex xs12 md6 v-for="(item, i) in qa" :key="`qa${i}`">
        <v-text-field box label="Вопрос" v-model="item.question" />
        <wysiwyg v-model="item.answer" />
        <v-btn color="red" dark @click="remove(i)">Удалить</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'

export default {
  data: () => ({
    qa: []
  }),
  mounted () {
    apiFields.get('qa')
      .then(qa => {
        this.qa = qa
      })
      .catch(() => alert('Ошибка при загрузке информации'))
  },
  methods: {
    add () {
      this.qa.push({
        question: '',
        answer: ''
      })
    },
    remove (i) {
      this.qa = this.qa.filter((el, index) => index !== i)
    },
    save () {
      apiFields.update('qa', this.qa)
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    }
  }
}
</script>

<style lang="scss">
</style>

