<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-btn color="light-green" dark @click="add">Добавить</v-btn>

    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs3 v-for="(review, i) in reviews" :key="`review${i}`">
          <v-card>
            <v-card-text class="text-xs-left">
              <v-text-field box label="Место" v-model="review.location" />

              <div class="subheading ml-3">Превью</div>
              <div v-if="review.preview"
                   :style="{ backgroundImage: `url(${review.preview})` }"
                   class="thumbnail">
                <v-btn flat fab color="red" @click="remove('preview', i)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </div>
              <v-btn v-else tag="label" class="uploadFile">
                <v-icon dark left>file_upload</v-icon>
                Выбрать файл
                <input type="file" accept="image/*" multiple @change="addImage($event, 'preview', i)">
              </v-btn>

              <v-text-field box label="Автор" v-model="review.username" />

              <div class="subheading ml-3">Аватар пользователя</div>
              <div v-if="review.avatar"
                   :style="{ backgroundImage: `url(${review.avatar})` }"
                   class="thumbnail">
                <v-btn flat fab color="red" @click="remove('avatar', i)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </div>
              <v-btn v-else tag="label" class="uploadFile">
                <v-icon dark left>file_upload</v-icon>
                Выбрать файл
                <input type="file" accept="image/*" multiple @change="addImage($event, 'avatar', i)">
              </v-btn>

              <template v-for="j in [0, 1]">
                <v-divider class="my-3" />

                <div class="subheading ml-3">Отзыв {{j}}</div>

                <v-text-field box label="Логин" v-model="review.comments[j].username" />

                <div class="subheading ml-3">Фото</div>
                <div v-if="review.comments[j].avatar"
                     :style="{ backgroundImage: `url(${review.comments[j].avatar})` }"
                     class="thumbnail">
                  <v-btn flat fab color="red" @click="removeCommentAvatar(i, j)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </div>
                <v-btn v-else tag="label" class="uploadFile">
                  <v-icon dark left>file_upload</v-icon>
                  Выбрать файл
                  <input type="file" accept="image/*" multiple @change="addCommentAvatar($event, i, j)">
                </v-btn>

                <v-text-field box multi-line label="Отзыв" v-model="review.comments[j].text" />
              </template>
            </v-card-text>
            <v-card-actions>
              <v-btn color="red" @click="removeReview(i)">Удалить отзыв <v-icon>delete</v-icon></v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
import FileUpload from 'vue-upload-component'
import { uploadFile, getImgSrc } from '@/common/utils'
import apiFields from '@/api/fields'
import { API_URL, UPLOAD_URL } from '@/common/config'

export default {
  data: () => ({
    reviews: []
  }),
  computed: {
    fileUploadUrl () {
      return API_URL + 'media'
    }
  },
  mounted () {
    apiFields.get('reviews')
      .then((reviews) => {
        this.reviews = reviews
      })
      .catch(() => alert('Ошибка при загрузке информации'))
  },
  methods: {
    save () {
      apiFields.update('reviews', this.reviews)
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    },
    add () {
      this.reviews.push({
        location: '',
        preview: '',
        avatar: '',
        username: '',
        likes: '',
        comments: [
          {
            avatar: '',
            username: '',
            text: ''
          },
          {
            avatar: '',
            username: '',
            text: ''
          }
        ]
      })
    },
    addImage ($event, name, i) {
      uploadFile($event.target.files[0])
        .then(path => {
          this.reviews[i][name] = UPLOAD_URL + path
        })
    },
    remove (name, i) {
      this.reviews[i][name] = ''
    },
    removeReview (i) {
      if (!window.confirm('Удалить отзыв?')) return
      this.reviews = this.reviews.filter((r, index) => index !== i)
    },
    addCommentAvatar ($event, i, j) {
      uploadFile($event.target.files[0])
        .then(path => {
          this.reviews[i].comments[j].avatar = getImgSrc(path)
          console.log(this.reviews[i].comments[j].avatar)
        })
    },
    removeCommentAvatar (i, j) {
      this.reviews[i].comments[j].avatar = ''
    }
  },
  components: {
    FileUpload
  }
}
</script>

<style lang="scss">
.uploadFile input {
  position: absolute;
  left: -9999px;
}

.thumbnail {
  position: relative;
  margin-top: 20px;
  max-width: 100%;
  height: 100px;
  background-size: cover;

  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
</style>
