<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field box label="Заголовок" v-model="title" />
      </v-flex>

      <v-flex xs12>
        <wysiwyg v-model="content" />
      </v-flex>

      <v-flex xs6>
        <v-checkbox label="Активировать скидки" v-model="active" />
        <v-text-field box label="Скидка при покупке двух книг" v-model.number="sale2" />
        <v-text-field box label="Скидка при покупке от 4х книг" v-model.number="sale4" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import fieldsApi from '@/api/fields'

export default {
  data: () => ({
    title: '',
    content: '',
    sale2: 0,
    sale4: 0,
    active: true
  }),
  mounted () {
    fieldsApi.get('sales')
      .then(data => {
        this.title = data.title
        this.content = data.content
        this.sale2 = data.sale2
        this.sale4 = data.sale4
        this.active = data.active
      })
  },
  methods: {
    save () {
      const data = {
        title: this.title,
        content: this.content,
        sale2: this.sale2,
        sale4: this.sale4,
        active: this.active
      }
      fieldsApi.update('sales', data)
        .then(() => alert('Сохранили'))
        .catch(() => alert('Произошла ошибка, попробуйте позднее'))
    }
  }
}
</script>

