<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>

    <v-layout column>
      <h2 class="title mt-3 ml-2 text-xs-left">Авторская подпись</h2>

      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs3>
            <v-card>
              <v-card-title primary-title>
                <h3 class="headline mb-0">Мальчик</h3>
              </v-card-title>
              <v-card-media v-if="signature.man" height="200px" :src="signature.man">
                <v-btn flat fab color="error" @click="remove('man')">
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-card-media>
              <v-card-media v-if="!signature.man" height="200px" class="uploadFile">
                <v-icon x-large style="margin: auto;">file_upload</v-icon>
                <input type="file" @change="addImage($event, 'man')">
              </v-card-media>
            </v-card>
          </v-flex>

          <v-flex xs3>
            <v-card>
              <v-card-title primary-title>
                <h3 class="headline mb-0">Девочка</h3>
              </v-card-title>
              <v-card-media v-if="signature.woman" height="200px" :src="signature.woman">
                <v-btn flat fab color="error" @click="remove('woman')">
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-card-media>
              <v-card-media v-if="!signature.woman" height="200px" class="uploadFile">
                <v-icon x-large style="margin: auto;">file_upload</v-icon>
                <input type="file" @change="addImage($event, 'woman')">
              </v-card-media>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import apiFields from '@/api/fields'
import { uploadFile } from '@/common/utils'
import { UPLOAD_URL } from '@/common/config'

export default {
  data: () => ({
    signature: {
      woman: '',
      man: ''
    }
  }),
  mounted () {
    apiFields.get('signature')
      .then(signature => {
        this.signature = signature || { woman: '', man: '' }
      })
  },
  methods: {
    remove (name) {
      this.signature[name] = ''
    },
    addImage ($event, name) {
      uploadFile($event.target.files[0])
        .then(path => {
          console.log('123', this.signature)
          this.signature[name] = UPLOAD_URL + path
          console.log('312', this.signature)
        })
        .catch(e => console.log(`[MB] Ошибка при загрузке фото ${e}`))
    },
    save () {
      apiFields.update('signature', this.signature)
        .then(() => { alert('Сохранили') })
        .catch(() => { alert('Не получилось сохранить') })
    }
  }
}
</script>

<style lang="scss" scoped>
  .uploadFile {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightblue;

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }
</style>

