<template>
  <v-container grid-list-md>
    <v-btn color="primary" @click="save">Сохранить</v-btn>
    <v-btn color="primary" @click="add">Добавить</v-btn>

    <v-layout column>
      <h2 class="title mt-3 ml-2 text-xs-left">Общие страницы</h2>

      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs3 >

          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
  import apiFields from '@/api/fields'
  import { uploadFile } from '@/common/utils'
  import { UPLOAD_URL } from '@/common/config'
  import uuid from 'uuid/v4'

  export default {
    data: () => ({
      formats: []
    }),
    mounted () {
      apiFields.get('formats')
        .then(formats => {
          this.formats = formats || []
        })
    },
    methods: {
      add () {
        this.formats.push({
          name: '',
          preview: '',
          description: '',
          price: 0,
          _id: uuid()
        })
      },
      remove (index) {
        this.formats = this.formats.filter((f, i) => i !== index)
      },
      addImage ($event, name, i) {
        uploadFile($event.target.files[0])
          .then(path => {
            this.formats[i][name] = UPLOAD_URL + path
          })
      },
      save () {
        apiFields.update('formats', this.formats)
          .then(() => { alert('Сохранили') })
          .catch(() => { alert('Не получилось сохранить') })
      }
    }
  }
</script>

<style lang="scss">
.uploadFile input {
  position: absolute;
  left: -9999px;
}
</style>

