<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <div v-for="(item, i) in images"
           :key="`start${i}`"
           class="letter">
        <img :src="getImgSrc(item)" alt="" class="letter_img">
        <v-btn fab flat color="red"
               class="letter_cart"
               @click="remove(i)">
          <v-icon>delete</v-icon>
        </v-btn>
      </div>

      <v-btn tag="label" class="uploadFile" color="success">
        <input @change="upload" type="file" multiple accept="image/png">
        Добавить
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import { uploadFile, getImgSrc } from '@/common/utils'

export default {
  props: ['images'],
  methods: {
    getImgSrc,
    async upload (e) {
      if (!e.target.files) return

      let paths = []
      for (let i = 0; i < e.target.files.length; i++) {
        paths.push(await uploadFile(e.target.files[i]))
      }

      this.$emit('addImages', paths)
    },
    remove (i) {
      if (!window.confirm('Удалить изображение?')) return
      this.$emit('removeImage', i)
    }
  }
}
</script>

<style lang="scss" scoped>
  .uploadFile input {
    position: absolute;
    left: -9999px;
  }

  .letter {
    position: relative;
    margin: 10px 15px;
    width: 200px;
    height: 100px;

    &_img {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }

    &_cart {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
</style>
