<template>
  <v-card color="grey lighten-4" flat>
    <v-card-text>
      <v-container fluid>
        <v-layout row>
          <v-flex xs4>
            <v-text-field
              label="Имя"
              v-model="name"
              :rules="[(v) => v.length <= 12 || 'Максимум 12 букв']"
              :counter="12"
            />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs1>
            <v-subheader>Пол</v-subheader>
          </v-flex>
          <v-flex xs2>
            <v-btn-toggle v-model="gender">
              <v-btn flat value="man">
                <v-icon color="blue lighten-1">face</v-icon>
              </v-btn>
              <v-btn flat value="woman">
                <v-icon color="pink lighten-1">face</v-icon>
              </v-btn>
            </v-btn-toggle>
          </v-flex>
        </v-layout>
        <v-layout row v-if="false">
          <v-flex xs1>
            <v-subheader>Возраст</v-subheader>
          </v-flex>
          <v-flex xs2>
            <v-btn-toggle v-model="age">
              <v-btn flat value="1">до 4</v-btn>
              <v-btn flat value="2">от 4 до 8</v-btn>
              <v-btn flat value="3">от 8 до 12</v-btn>
            </v-btn-toggle>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs1>
            <v-subheader>Язык</v-subheader>
          </v-flex>
          <v-flex xs2>
            <v-btn-toggle v-model="lang">
              <v-btn flat value="ru">RU</v-btn>
              <v-btn flat value="en">EN</v-btn>
            </v-btn-toggle>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-btn color="info" :disabled="!canCreateBook" tag="a" :href="bookURL" target="_blank">Посмотреть</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    name: '',
    age: '',
    lang: '',
    gender: ''
  }),
  computed: {
    canCreateBook () {
      return !!(this.name && this.lang && this.gender)
    },
    bookURL () {
      const host = process.env.NODE_ENV === 'production' ? 'http://api.magicbook.store' : 'http://localhost:3010'
      return `${host}/api/v1/media/pdf?letters=${this.name}&lang=${this.lang}&gender=${this.gender}`
    }
  }
}
</script>
