<template>
  <v-card>
    <v-card-title><h4>{{title}}</h4></v-card-title>
    <v-divider />
    <v-list>
      <v-list-tile v-for="field in items" :key="field.name" class="canSelect" style="height: auto;">
        <v-list-tile-content>{{field.label}}</v-list-tile-content>
        <v-list-tile-content class="align-end">{{field.value}}</v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    items: {
      type: Array
    }
  }
}
</script>

<style>
.canSelect > .list__tile {
  user-select: inherit !important;
}
</style>
