<template>
  <section class="container">
    <stw-header theme="-order"></stw-header>

    <secondStep>
      <steps slot="steps" step="2" />
      <total slot="total" />
    </secondStep>
  </section>
</template>

<script>
  import StwHeader from '~/components/Header'
  import HeaderCart from '~/components/HeaderCart'
  import secondStep from '~/components/Order/secondStep'
  import Steps from '~/components/Steps'
  import Total from '~/components/Total'

  import { mapGetters } from 'vuex'

  export default {
    data: () => ({
      tel: '8 (995) 430 22-22'
    }),
    computed: {
      ...mapGetters({
        book: 'book',
        cart: 'cart'
      })
    },
    components: {
      StwHeader,
      HeaderCart,
      secondStep,
      Steps,
      Total
    }
  }
</script>

