<template>
  <section class="container">
    <stw-header theme="-order"></stw-header>

    <firstStep>
      <steps slot="steps" step="1" />
      <total slot="total" />
    </firstStep>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import firstStep from '~/components/Order/firstStep'
import Steps from '~/components/Steps'
import Total from '~/components/Total'

import { mapGetters } from 'vuex'

export default {
  data: () => ({
    tel: '8 (995) 430 22-22'
  }),
  computed: {
    ...mapGetters({
      book: 'book',
      cart: 'cart'
    })
  },
  components: {
    StwHeader,
    HeaderCart,
    firstStep,
    Steps,
    Total
  }
}
</script>

