<template>
  <section class="container">
    <stw-header theme="-order"></stw-header>

    <thirdStep>
      <steps slot="steps" step="3" />
      <total slot="total" />
    </thirdStep>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import thirdStep from '~/components/Order/thirdStep'
import Steps from '~/components/Steps'
import Total from '~/components/Total'

import { mapGetters } from 'vuex'

import {
  FieldsService
} from '../../common/api.service'

import {
  DELIVERY_SAVE
} from '../../store/mutations.type'

import { API_URL } from '~/common/config'

export default {
  async asyncData (context) {
    let deliveryMethods = await FieldsService.get('deliverymethods')
    context.store.commit(DELIVERY_SAVE, deliveryMethods)
  },
  async mounted () {
    let deliveryMethods = await FieldsService.get('deliverymethods')
    this.$store.commit(DELIVERY_SAVE, deliveryMethods)
  },
  computed: {
    ...mapGetters({
      book: 'book',
      cart: 'cart'
    })
  },
  components: {
    StwHeader,
    HeaderCart,
    thirdStep,
    Steps,
    Total
  }
}
</script>

