<template>
  <section class="container">
    <stw-header theme="-order"></stw-header>

    <fourthStep>
      <steps slot="steps" />
      <total slot="total" />
    </fourthStep>
  </section>
</template>

<script>
import StwHeader from '~/components/Header'
import HeaderCart from '~/components/HeaderCart'
import fourthStep from '~/components/Order/fourthStep'
import Steps from '~/components/Steps'
import Total from '~/components/Total'

import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      book: 'book',
      cart: 'cart'
    })
  },
  components: {
    StwHeader,
    HeaderCart,
    fourthStep,
    Steps,
    Total
  }
}
</script>

