@font-face {
    font-family: isprav;
    src: url("file:///%assets%isprav.woff") format("woff");
}

@page {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

.page {
    position: relative;
    width: 500px;
    height: 506px;
}

.page img {
    display: block;
    width: 100%;
    height: 100%;
}

.page_name {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: isprav, 'Buccaneer Cyr', monospace;
    font-size: 55px;
    color: rgb(255, 255, 255);
    -webkit-text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgba(199, 62, 8, .5);
    -webkit-transform: skew(-15deg) rotate(8deg);
}

.page_name.-s8,
.page_name.-s9,
.page_name.-s10,
.page_name.-s11,
.page_name.-s12 {
    top: 65%;
    font-size: 40px;
}
