<template>
  <v-app id="layout-general">
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-tile v-for="page in navigation" :key="page.to" :to="page.to">
          <v-list-tile-action>
            <v-icon v-if="page.icon">{{page.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{page.name}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile tag="a" href="http://api.magicbook.store/api/v1/subscribers" download>
          <v-list-tile-action>
            <v-icon>group</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Подписчики (csv)</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>MagicBook - Админ Панель</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <slot name="content" />
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    navigation: [
      {
        icon: 'home',
        to: '/',
        name: 'Главная'
      },
      {
        icon: 'photo_library',
        to: '/page',
        name: 'Страницы'
      },
      {
        icon: 'add_a_photo',
        to: '/page/new',
        name: 'Добавить страницу'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/commonPage',
        name: 'Общие страницы'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/general',
        name: 'Основная'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/about',
        name: 'О компании'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/qa',
        name: 'Вопросы и ответы'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/gallery',
        name: 'Галерея'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/reviews',
        name: 'Отзывы'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/formats',
        name: 'Форматы'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/delivery',
        name: 'Доставка'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/deliverymethods',
        name: 'Способы доставки'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/sales',
        name: 'Скидки'
      },
      {
        icon: 'fa-file-text-o',
        to: '/orders',
        name: 'Заказы'
      },
      {
        icon: 'fa-file-text-o',
        to: '/coupons',
        name: 'Купоны'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/modals',
        name: 'Модальные окна'
      },
      {
        icon: 'fa-file-text-o',
        to: '/setting/rules',
        name: 'Соглашение'
      }
    ]
  }),
  props: {
    source: String
  }
}
</script>

<style>
  @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons';
</style>
