<template>
  <div class="pageEdit">
    <v-form v-model="valid">
      <v-text-field
        label="Название страницы"
        v-model="name"
        required
      ></v-text-field>
      <img v-if="preview" style="max-width: 300px;" :src="getImgSrc(preview)" alt=""><br>
      <label>
        Превью страницы<br>
        <input type="file" name="file" accept="image/*" @change="updatePreview">
      </label>

      <br>

      <v-btn @click="savePage">{{ isNew ? 'Сохранить' : 'Обновить' }}</v-btn>

      <template v-if="!isNew">
        <div style="display: flex;" class="mt-4 mb-2">
          <v-btn-toggle v-model="gender">
            <v-btn flat value="man">
              <v-icon color="blue lighten-1">face</v-icon>
            </v-btn>
            <v-btn flat value="woman">
              <v-icon color="pink lighten-1">face</v-icon>
            </v-btn>
          </v-btn-toggle>
          <v-btn-toggle v-model="age" v-if="false">
            <v-btn flat value="1">до 4</v-btn>
            <v-btn flat value="2">от 4 до 8</v-btn>
            <v-btn flat value="3">от 8 до 12</v-btn>
          </v-btn-toggle>
          <v-spacer></v-spacer>
        </div>
      </template>

      <div v-if="canShowLetters"
        v-for="(letters, lang) in alphabet">
        <h2 class="subheading mt-4 mb-2">{{ lang === 'ru' ? 'Русский алфавит' : 'Английский алфавит' }}</h2>
        <div class="letters ru">
          <div class="btnLetter">
            <v-btn
              v-if="!hasLetter({lang, letter: -1})"
              :color="getLetterColor({lang, letter: -1})"
              dark
              fab
              tag="label"
            >
              <span class="letter"><v-icon>image</v-icon></span>
              <input type="file" name="file[]"  multiple @change="uploadLetter($event, lang, -1)">
            </v-btn>
            <v-speed-dial
              v-if="hasLetter({lang, letter: -1})"
              :direction="'top'"
              :hover="true"
              :transition="'slide-y-reverse-transition'"
            >
              <v-btn
                slot="activator"
                :color="getLetterColor({lang, letter: -1})"
                dark
                fab
                hover
              >
                <span class="letter"><v-icon>image</v-icon></span>
                <v-icon>close</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="red"
                @click="removeLetter({lang, letter: -1})"
              >
                <v-icon>delete</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="green"
                tag="a"
                :to="`/media/${getLetter({lang, letter: -1})._id}`"
              >
                <v-icon>edit</v-icon>
                <input type="file" @change="updateLetter($event, {lang, letter: -1})">
              </v-btn>
              <v-btn
                v-if="false"
                fab
                dark
                small
                color="primary"
                @click="showLetter({lang, letter: -1})"
              >
                <v-icon>visibility</v-icon>
              </v-btn>
            </v-speed-dial>
          </div>

          <div class="btnLetter"
               v-for="(letter, index) in letters"
               :key="index">
            <v-btn
              v-if="!hasLetter({lang, letter: index})"
              :color="getLetterColor({lang, letter: index})"
              dark
              fab
              tag="label"
            >
              <span class="letter">{{letter}}</span>
              <input type="file" name="file[]"  multiple @change="uploadLetter($event, lang, index)">
            </v-btn>
            <v-speed-dial
              v-if="hasLetter({lang, letter: index})"
              :direction="'top'"
              :hover="true"
              :transition="'slide-y-reverse-transition'"
            >
              <v-btn
                slot="activator"
                :color="getLetterColor({lang, letter: index})"
                dark
                fab
                hover
              >
                <span class="letter">{{letter}}</span>
                <v-icon>close</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="red"
                @click="removeLetter({lang, letter: index})"
              >
                <v-icon>delete</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="green"
                tag="a"
                :to="`/media/${getLetter({lang, letter: index})._id}`"
              >
                <v-icon>edit</v-icon>
                <input type="file" @change="updateLetter($event, {lang, letter: index})">
              </v-btn>
              <v-btn
                v-if="false"
                fab
                dark
                small
                color="primary"
                @click="showLetter({lang, letter: index})"
              >
                <v-icon>visibility</v-icon>
              </v-btn>
            </v-speed-dial>
          </div>
        </div>
      </div>
    </v-form>

    <div class="myModal" v-if="dialogLetterImage" @click="dialogLetterImage = false">
      <img :src="getImgSrc(currentLetter.path)" alt="">
    </div>
  </div>
</template>

<script>
import alphabet from '@/common/alphabet'
import api from '@/api'
import { uploadFile, getImgSrc } from '@/common/utils'

export default {
  data: () => ({
    fab: false,
    name: '',
    preview: '',
    valid: false,
    gender: '',
    age: '1',
    _id: '',
    img: '',
    alphabet,
    letters: [],
    btns: {},
    dialogLetterImage: false,
    currentLetter: ''
  }),
  mounted () {
    if (this.$route.params.id) {
      api.page.get(this.$route.params.id)
        .then(page => {
          this._id = page._id
          this.name = page.name
          this.preview = page.preview
          this.letters = page.images ? page.images : []
        })
    }
  },
  computed: {
    canShowLetters () {
      return this.age && this.gender
    },
    isNew () {
      return !this.$route.params.id
    }
  },
  methods: {
    updatePreview (e) {
      if (!e.target.files) return

      uploadFile(e.target.files[0])
        .then(path => {
          this.preview = path
        })
    },
    newPage (page) {
      api.page.create(page)
        .then(page => this.$router.push(`/page/${page._id}`))
        .catch(e => {
          window.alert('Не получилось создать страницу')
          console.error(e)
        })
    },
    updatePage (page) {
      api.page.update(page)
        .then(() => {
          window.alert('Обновили страницу')
        })
        .catch(e => {
          window.alert('Не получилось обновить страницу')
          console.error(e)
        })
    },
    savePage () {
      const page = {
        name: this.name,
        preview: this.preview,
        _id: this._id
      }
      if (this.isNew) {
        this.newPage(page)
      } else {
        this.updatePage(page)
      }
    },
    uploadLetter (e, lang, letter) {
      if (!e.target.files) return

      let uploadFiles = []
      for (let i = 0; i < e.target.files.length; i++) {
        uploadFiles.push(uploadFile(e.target.files[i]))
      }

      return Promise.all(uploadFiles)
        .then(filesPath => {
          return api.media.create({
            path: filesPath.join(';'),
            name: e.target.files[0].name,
            letter,
            lang,
            gender: this.gender,
            age: this.age,
            pageId: this._id
          })
            .then(media => {
              console.log(media)
              media.letter = media.letter.toString()
              this.letters = this.letters.concat(media)
              return media
            })
        })
    },
    getLetter ({ lang, letter }) {
      return this.letters.find(l => {
        return l.gender === this.gender && l.lang === lang && l.letter === letter.toString()
      })
    },
    hasLetter ({ lang, letter }) {
      return !!this.letters.find(l => {
        return l.gender === this.gender && l.lang === lang && l.letter === letter.toString()
      })
    },
    getLetterColor ({ lang, letter }) {
      return this.hasLetter({ lang, letter }) ? 'cyan accent-4' : 'blue darken-2'
    },
    removeLetter (letter) {
      if (!window.confirm('Удалить страницу?')) return
      const { _id } = this.getLetter(letter)
      api.media.remove({ _id })
      this.letters = this.letters.filter(l => l._id !== _id)
    },
    showLetter (letter) {
      this.dialogLetterImage = true
      this.currentLetter = this.getLetter(letter)
    },
    updateLetter (e, letter) {
      if (!e.target.files) return

      const { _id } = this.getLetter(letter)

      return this.uploadFile(e.target.files[0])
        .then(path => {
          return api.media.update({
            _id,
            name: e.target.files[0].name,
            path
          })
        })
    },
    getImgSrc: (path) => getImgSrc(path)
  }
}
</script>

<style lang="scss">
.pageEdit {
  padding: 10px 20px;
}

.letters {
  display: flex;
  flex-wrap: wrap;
}

.btnLetter {
  cursor: pointer;

  label.btn {
    cursor: pointer;
  }

  &.-active label {
    display: none;
  }

  input {
    display: none;
  }
}

.letter {
  font-size: 25px;
}

.myModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(0,0,0,.5);
  cursor: pointer;

  img {
    max-width: 100vw;
    max-height: 100vh;
  }
}
</style>
