<template>
  <v-list>
    <v-list-tile avatar v-for="page in pages" v-bind:key="page.id" >
      <v-list-tile-avatar>
        <img :src="getImgSrc(page.preview) || 'https://via.placeholder.com/100x100'"/>
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>
          <router-link :to="`/page/${page._id}`" v-text="page.name"></router-link>
        </v-list-tile-title>
      </v-list-tile-content>
      <v-list-tile-action>
        <v-icon color="red" @click="remove(page)">delete</v-icon>
      </v-list-tile-action>
    </v-list-tile>
  </v-list>
</template>

<script>
import pageApi from '@/api/page'
import { getImgSrc } from '../../common/utils'

export default {
  data: () => ({ pages: [] }),
  computed: {},
  mounted () {
    pageApi.all()
      .then(pages => {
        this.pages = pages
      })
      .catch(e => console.log(e))
  },
  methods: {
    remove (page) {
      if (!window.confirm('Удалить сюжет?')) return
      pageApi.remove(page._id)
        .then(() => {
          window.alert(`Страница "${page.name}" успешно удалена`)
          this.pages = this.pages.filter(p => p._id !== page._id)
        })
        .catch(e => {
          window.alert(`Страница "${page.name}" не удалена`)
          console.error('Не получилось удалить проект', e)
        })
    },
    getImgSrc
  }
}
</script>

<style lang="scss" scoped>
  .letters {
    display: flex;
    flex-wrap: wrap;
  }
</style>
