body {
    margin: 0;
    padding: 0;
}
section {
    position: relative;
    text-align: center;
    font-size: 20cm;

    page-break-after: always;
    justify-content: space-around;
    display: flex;
}

@media print {
    @page {
        margin: 0;
        padding: 0;
    }
    img {
        display: inline-block;
        width: 2646px;
        height: 1323px;
        object-fit: cover;
    }
}