<template>
  <div class="uploadImage">
    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" />
  </div>
</template>

<script>
  import vueDropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.css'

  export default {
    data: function () {
      const host = process.env.NODE_ENV === 'production' ? 'http://api.magicbook.store' : 'http://localhost:3010'
      return {
        dropzoneOptions: {
          url: `${host}/api/v1/media`,
          thumbnailWidth: 150,
          maxFilesize: 50,
          acceptedFiles: 'image/*',
          headers: {'My-Awesome-Header': 'header value'},
          dictDefaultMessage: 'Для загрузки изображения вы можете перенести его сюда мышкой'
        }
      }
    },
    components: {
      vueDropzone
    }
  }
</script>
